@import 'var';
header {
    width: 100%;
//    height: 120px;
    background: $bg-dgray;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    .header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    nav {
        a {
            position: relative;
            display: inline-block;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: 400;
            text-decoration: none;
            color: #bcbec0;
            line-height: 120px;
            padding: 0 20px;
            float: left;
            &.active {
                background: $bg-gray;
                color: white;
                &:after {
                    opacity: 1;
                    -webkit-transform: translateY(0px);
                    -moz-transform: translateY(0px);
                    transform: translateY(0px);
                }
            }
            &:hover {
                background: $bg-gray;
                color: white;
            }
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background: $red;
                content: '';
                opacity: 0;
                -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                -moz-transition: opacity 0.3s, -moz-transform 0.3s;
                transition: opacity 0.3s, transform 0.3s;
                -webkit-transform: translateY(10px);
                -moz-transform: translateY(10px);
                transform: translateY(-10px);
            }
            &:hover::after,
            &:focus::after {
                opacity: 1;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
            }
        }
    }
    .btn {
//        padding: 15px 20px;
//        font-size: 18px;
//        font-size: 1.8rem;
//        font-weight: 300;
        //    line-height: 39px;
    }
    .lang {
        a {
            padding: 10px;
            color: $fgray;
            &.active {
                cursor: default;
            }
            &:not(.active):hover {
                color: white;
                background-color: $red;
                text-decoration: none;
            }
        }
    }
}
//
.menu-fixed {
    position: fixed;
    z-index: 10;
    display: block;
    height: 80px;
    background: rgba(36, 36, 36, 0.8);
    .logo {
        width: 100px;
        height: 80px;
        align-self: flex-start;
    }
    nav {
        a {
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: 400;
            text-decoration: none;
            line-height: 80px;
            float: left;
            &.active {
                background: rgba(47, 47, 47, 0.8);
            }
            &:hover {
                background: rgba(47, 47, 47, 0.8);
            }
        }
    }
    .btn {
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 300;
        padding: 10px 15px;
        color: white;
        @extend .btn-red;
        @extend .btn-fill;
    }
    .lang {
        a {
            font-size: 12px;
            font-size: 1.2rem;
        }
    }
}

footer {
    padding: 35px 0;
    background: $bg-dgray;

    .footer-slider {
        float: left;
        width: 680px;
        margin: 0 50px;
        .item {
            text-align: left;
        
        p {
            line-height: 12px;
        }
        img {
            display: inline-block;
            margin-right: 5px;
            height: 16px;
            width: 16px;
            line-height: 12px;
        }
        .city {
            margin-bottom: 10px;
            color: #e83523;
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: 700;
        }
        .address {
            margin-bottom: 10px;
            color: #bdbdbd;
            font-size: 13px;
            font-size: 1.3rem;
            font-weight: 400;
        }
        .phone {
            color: #bdbdbd;
            font-size: 17px;
            font-size: 1.7rem;
            font-weight: 700;
            text-decoration: none;
        }
    }
    }
    .footer-contacts {
        float: right;
        a,
        p {
            color: $fdgray;
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 18px;
        }
        .btn-s,
        .btn-icon-s {
            padding: 5px 10px 5px 35px;
        }
        a.btn {
            margin-bottom: 17px;
            position: relative;
        }
        .sub {
            display: inline-block;
            margin-right: 20px;
            float: left;
            p {
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 15px;
            }
            a {
                &.btn:before {
                    position: absolute;
                    left: 7px;
                    content: '';
                    background: url(../img/icon-mail.png) no-repeat;
                    top: 7px;
                    width: 16px;
                    height: 14px;
                    transition: background 1.5s;
                }
                &.btn:hover:before {
                    background: url(../img/icon-mail-white.png) no-repeat;
                }
            }
        }
        .search {
            margin-right: 20px;
            float: left;
            display: inline-block;
            a {
                position: relative;
                display: block;
                &.btn:before {
                    position: absolute;
                    left: 7px;
                    content: '';
                    background: url(../img/icon-search.png) no-repeat;
                    top: 7px;
                    width: 14px;
                    height: 14px;
                    transition: background 1.5s;
                }
                &.btn:hover:before {
                    background: url(../img/icon-search-white.png) no-repeat;
                }
            }
        }
        .social {
            position: relative;
            display: inline-block;
            text-align: right;
            p {
//                position: absolute;
//                top: 48px;
//                white-space: nowrap;
//                right: 0;
                    margin-top: 20px;

            }
            .social-link {
                display: inline-block;
                width: 27px;
                height: 26px;
                background-color: #6b6b6b;
                background: url(../img/soccial.png) no-repeat;
                opacity: 0.7;
                -webkit-transition-property: opacity;
                transition-property: opacity;
                -webkit-transition-duration: 1s;
                transition-duration: 1s;
                &-fb {
                    background-position: 0 0;
                }
                &-in {
                    background-position: -25px 0;
                }
                &-inst {
                    background-position: -50px 0;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    } 

.calendar-wrapper {
    display: none;
    position: absolute;
    z-index: 70;
    background-image: -webkit-linear-gradient(bottom, #2b2b2b 0%, #6f6f6f 100%);
    background-image: linear-gradient(to top, #2b2b2b 0%, #6f6f6f 100%);
    width: $calendar-width;
    text-align: center;
    padding: 25px 0;

    span {
        color: white;
        font-family: $roboto;
        font-size: 20px;
        font-size: 2.0rem;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
    }
    a.nav-right {
        float: right;
        margin-right: 25px;
        width: 16px;
        height: 14px;
        background: url(../img/calendar-right.png) no-repeat;
    }
    a.nav-left {
        float: left;
        margin-left: 25px;
        width: 16px;
        height: 14px;
        background: url(../img/calendar-left.png) no-repeat;
    }
    .calendar {
        margin-top: 25px;
        margin-bottom: 35px;
        color: white;
        border-collapse: inherit;
        border-spacing: 0 12px;
        thead {
            text-transform: uppercase;
            font-family: $roboto;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 20px;
            th {
                border-top: 1px solid #919292;
                border-bottom: 1px solid #919292;
            }
        }
        td {
            div.c-date {
                &:hover {
                    display: inline-block;
                    text-align: center;
                    line-height: 35px;
                    height: 35px;
                    width: 35px;
                    color: #292929;
                    border-radius: 50%;
                    background-color: white;
                    cursor: pointer;
                }
            }
            div.c-gray {
                color: #939293;
            }
            .active {
                position: absolute;
                top: 0;
                left: 7px;
                display: inline-block;
                text-align: center;
                line-height: 35px;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: $red;
                z-index: 10;
            }
            .today:not(.active) {
                @extend .active;
                background-color: #292929;
            }
        }
        .interval {
            background: rgba(255, 255, 255, 0.3);
        }
        .interval-half {
            position: absolute;
            top: 0;
            display: block;
            width: 20px;
            height: 35px;
            //            float: right;
            background: rgba(255, 255, 255, 0.3);
        }
        .interval-half-start {
            right: 0;
        }
        .interval-half-end {
            left: 0;
        }
        .interval-row-end {
            background-image: linear-gradient(to right, white 0%, transparent 100%);
            opacity: .3;
        }
        .interval-row-start {
            background-image: linear-gradient(to left, white 0%, transparent 100%);
            opacity: .3;
        }
        th,
        td {
            position: relative;
            height: 35px;
            width: 47px;
            vertical-align: middle;
            text-align: center;
            &:last-child,
            &:first-child {
                width: 25px;
            }
        }
    }
    a.choose-dates {
        color: #eaeaea;
        font-family: $roboto;
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.pagination {
    float: left;
    margin: 25px 0;
    a,
    img {
        display: inline-block;
        line-height: 34px;
    }
    ul {
        display: inline-block;
        padding: 0 80px;
    }
    ul>li {
        display: inline-block;
        width: 38px;
        height: 38px;
        margin: 0 2px;
        a {
            color: $black;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            font-family: $roboto;
            font-size: 17px;
            font-size: 1.7rem;
            font-weight: 300;
            line-height: 34px;
            border: 2px solid transparent;
            width: 100%;
            height: 100%;
            &:hover {
                color: white;
                background-color: $red;
                border-radius: 50%;
                border: 2px solid $red;
            }
            &.active {
                color: $red;
                border-radius: 50%;
                border: 2px solid $red;
                //                margin: 0 10px;
                &:hover {
                    color: white;
                }
            }
        }
    }
}


/* TAB */

.tab {
    background: #fff;
    padding: 50px;
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    &.text {
        p {
            margin-bottom: 15px;
                font-size: 1.8rem;
            font-weight: 300;
            line-height: 24px;
        }
    }
}

.tab-block input {
    display: none;
}

.tab-block section {
    display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4, 
#tab5:checked ~ #content5, 
#tab6:checked ~ #content6 {
    display: block;
}

.tab-block label {
    float: left;
    display: inline-block;
    padding: 15px 34px;
    color: $fgray;
    //      background: #f1f1f1;
    font-size: 30px;
    font-size: 3.0rem;
    font-weight: 100;
    line-height: 60px;
}

.tab-block label:hover {
    color: #888;
    cursor: pointer;
}


/* стили для активной вкладки */

.tab-block input:checked + label {
    color: $red;
    background: #fff;
    font-size: 30px;
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 60px;
}


/* END TAB */

.show-all {
    float: left;
    margin: 25px 0;
}

.blur {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
}

.card {
    height: 265px;
    padding: 30px 25px 15px 25px;
    width: 422px;
        margin: 0 auto;
    //       padding: 30px 0 15px 0;
    border: 1px solid transparent;
    &-wrapper {
        position: relative;
        height: 130px;
        //        height: 190px; в конце
        overflow: hidden;
    }
    &-content {
            width: 100%;
        position: absolute;
        color: white;
        text-align: center;
        top: 0;
        transition-property: all;
        transition-duration: 0.5s;
        p.text {
            margin-bottom: 20px;
            color: white;
            font-size: 16px;
            font-size: 1.6rem;
            font-weight: 100;
            line-height: 24px;
            font-family: $roboto; 
        }
        img {
            margin-top: 10px;
            margin-bottom: 35px;
        }
        .h1 {
            margin-bottom: 20px;
            color: white;
            font-size: 22px;
            font-size: 2.2rem;
            font-weight: 100;
            line-height: 27px;
        }
        .btn-m {
            font-size: 16px;
            font-size: 1.6rem;
            padding: 12px 50px;
            font-weight: 100;
        }
    }
    &:hover {
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.04);
        .card-wrapper {
            height: 220px;
        }
        .card-content {
            top: -80px;
        }
    }
}

.special {
    display: inline-block;
    margin: 25px 0;
    padding: 50px;
    width: 100%;
    background: white;
    &-wrapper {
        display: flex;
        justify-content: flex-start; // ???
        align-items: center;
    }
    p.h1 {
        margin-bottom: 30px;
        font-family: $roboto;
        font-size: 30px;
        font-size: 3.0rem;
        font-weight: 100;
        line-height: 36px;
        text-transform: uppercase;
    }
    .info p {
        color: black;
        font-family: $robotoC;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 24px;
    }
    .btn {
        margin-top: 40px;
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: 300;
        padding: 15px 35px;
    }
    img {
        margin-right: 50px;
    }
}

.other-news {
    margin-top: 25px;
    padding: 50px;
    background-color: #f1f0f0;
    .news-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item {
        width: 370px;
        img {
            margin-bottom: 10px;
        }
    }
    a {
        text-transform: uppercase;
        color: #2e2e2e;
        font-family: $roboto;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: 400;
        text-decoration: underline;
        line-height: 24px;
        &:hover {
            text-decoration: none;
        }
    }
    p.h1 {
        display: block;
        margin-bottom: 50px;
        font-family: $roboto;
        font-size: 36px;
        font-size: 3.6rem;
        font-weight: 100;
        line-height: 40px;
    }
}

.views {
    @extend .date;
    &:before {
        content: url(../img/views.png);
        left: -6px;
        top: 3px;
    }
}

.date {
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    color: #6f6f6f;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    padding-left: 25px;
    &:before {
        content: url(../img/time.png);
        position: absolute;
        left: 0px;
        top: 7px;
    }
}

.header-img {
    width: 100%;
    min-height: 500px;
    padding: 80px 0;
    p {
//        width: 500px;
        color: white;
    }
    p.h1 {
        width: 80%;
        margin-bottom: 40px;
        font-size: 80px;
        font-size: 8.0rem;
        font-weight: 100;
        line-height: 85px;
    }
    p {
        font-family: $roboto;
        font-size: 25px;
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 34px;
    }
    &-about {

        background-size: cover;
        background: none !important;
        position: relative;
    }
    &-career {
        background: url(../img/career-bg.png) no-repeat;
        background-size: cover;
    }
    &-portfolio {
        background: url(../img/portfolio-item-bg.png) no-repeat;
        background-size: cover;
    }
//    &-rule {
//        background: url(../img/service-item-bg.png) no-repeat;
//        background-size: cover;
//        .btn-m {
//
//              font-size: 20px;
//              font-size: 2.0rem;
//            font-weight: 300;
//          }
//    }
}
.preview-case {
    width: 550px;
    height: 350px;
    background: black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
     padding: 50px;
    text-align: center;
    transition: all .3s;
//    
//    &:hover {
//        opacity: .9;
//    }
    
    p.h1 {
        color: white; 
    }
}

.profession-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px 40px;
    background-color: white;
    p.total-vacancies {
        margin-right: 25px;
        color: #2f2f2f;
        font-family: $robotoC;
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: 700;
        //      line-height: 45px;
    }
    a {
        margin-right: 25px;
        margin-bottom: 10px;
        display: block;
        padding: 5px 5px;
        color: #9c9c9c;
        font-family: $roboto;
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: 300;
        //    line-height: 45px;
        text-decoration: underline;
        &:hover {
            color: #333;
            background-color: #f5f5f5;
        }
    }
}

.accordion {
    a.panel {
        position: relative;
        display: block;
        width: 100%;
        padding: 17px 50px 17px 70px;
        background-color: white;
        background-image: linear-gradient(to top, transparent 0%, transparent 100%);
        border-top: 1px solid #eaeaea;
        //        border-bottom: 1px solid #eaeaea;
        text-decoration: none;
        span.vacancy-name {
            width: 50%;
            display: inline-block;
            text-transform: uppercase;
            color: $black;
            font-family: $roboto;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: 400;
        }
        .half {
            float: right;
        }
        span {
            color: #8d8d8d;
            font-family: $robotoC;
            font-size: 15px;
            font-size: 1.5rem;
            line-height: 18px;
            text-transform: none;
        }
        span.salary {
            width: 350px;
        }
        span.exp {
            float: right;
        }
        span.value {
            font-weight: 700;
        }
        &:hover {
            color: white;
            background-color: $red;
            span {
                color: white;
            }
            &:before {
                content: url(../img/plus--hover.png);
                left: 45px;
                top: 16px;
            }
        }
    }
    a.panel-plus {
        &:before {
            position: absolute;
            content: url(../img/panel-plus.png);
            left: 45px;
            top: 16px;
        }
    }
    a.panel-minus {
        &:before {
            position: absolute;
            content: url(../img/panel-minus.png);
            left: 45px;
            top: 12px;
        }
    }
    a.panel + div {
        display: none;
    }
    .accordion-content {
        .half {
            padding: 0 45px;
        }
        
        ul {
            //            flex-grow: 1; 
            margin: 15px 0;
            //            float: left;
        }
        ul>li:first-child {
            margin-left: -20px;
            list-style-type: none;
            font-weight: 700;
            &:before {
                content: '';
            }
        }
        li>span {
            color: #333435;
            font-family: $robotoC;
            font-size: 15px;
            font-weight: 300;
            line-height: 18px;
        }
        .requirements {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .btn {
            margin-left: 45px;
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
    }
}

.task-block {
    padding: 50px 50px 55px 50px;
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 28px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    span.header {
        display: block;
        padding-left: 80px;
        position: relative;
        margin-bottom: 35px;
        font-size: 40px;
        font-size: 4.0rem;
        font-weight: 100;
        line-height: 30px;
        &:before {
            position: absolute;
            left: 0;
            top: -10px;
        }
        &-task:before {
            content: url(../img/header-task.png);
        }
    }
}

a.toggle-button {
    display: none;
    
    img {
        width: 18px;
    }
}

.input-search, input.search {
  display: flex;
  flex-flow: row wrap;
    justify-content: flex-start;
      padding-right: 45px;
    input {
            padding: 6px 13px;
    padding-right: 40px;
    margin-bottom: 0;
    background: white;
    }
    
            li>a {
            border-bottom: 1px solid #f5f5f5;
            display: block;
            line-height: 36px;
            background: white;
            padding: 0 13px;
            color: #050505;
            text-decoration: none;
            font-size: 19px;
            font-size: 1.9rem;
            font-weight: 300;
            
            &:hover {
                    background: #fafafa;
            }
        }
  
  .btn {
//    width: 102px;
    height: 45px;
    line-height: 45px;

  }
}

.search-form {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    
    .search-container {
	    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
   
    justify-content: space-between;
             width: 100%;

	.search-input {
    width: 100%;
        background: white;
        margin-bottom: 25px;
        ul {
                position: absolute;
    width: 100%;
                top: 44px;
        }
	        li>a {
            border-bottom: 1px solid #f5f5f5;
            display: block;
            line-height: 36px;
            background: white;
            padding: 0 13px;
            color: #050505;
            text-decoration: none;
            font-size: 19px;
            font-size: 1.9rem;
            font-weight: 300;
            
            &:hover {
                    background: #fafafa;
            }
        }
    }
    }
    a.btn {
//        float: right;
//        &-m {
//          padding: 12px 15px;  
//        }
        
    }
}

.search-block {
        width: 50%;
    form {
//        display: flex;
//            flex-flow: row wrap;
//    align-items: flex-start;
//    align-content: flex-start;
//    justify-content: flex-start;
//        width: auto;
        input {
            float: left;
            display: inline-block;
//            width: 70%;
            background: white;
            &+a {
//             width: 30% ;   
            }
        }
        ul {
            width: 70%;
        }

    }
}

.cases-slider {
    
}

.item-center {
    display: flex;
    align-content: center;
    align-items: center;
    
    div.info {
        padding-right: 15px;
    }
    
}

/* GRAPH */

.graph-point {
    font-family: "Roboto Condensed",sans-serif;
    position: absolute;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 300;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 6;
    -webkit-transition: 100ms all;
    transition: 100ms all;
}

.graph-point:after {
    content: ' ';
    border-radius: 50%;
    background: #e83523;
    width: 7px;
    height: 7px;
    display: block;
    margin: 15px auto 0 auto;
    z-index: 6;
}

.graph-point:hover:after {
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
}

.graph-point:hover {
    color: #e83523;
}

.graph-point.white:after {
    background: #ffffff;
}

.graph-point.active {
    font-weight: 700;
    margin-bottom: 7px;
}

.graph-line {
    background: #e9e9e9;
    height: 3px;
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 5;
}

.graph-line .red {
    position: absolute;
    background: #e83523;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    height: 12px;
    width: 0;
    display: block;
    -webkit-transition: 100ms all;
    transition: 100ms all;
    z-index: 5;
}

.graph-line.active .red {
    width: 104%;
}

.marker {
    background: url(../img/graph-active.png) 0 0 no-repeat;
    position: absolute;
    height: 34px;
    width: 34px;
    z-index: 7;
    -webkit-transition: 100ms all;
    transition: 100ms all;
    -webkit-transform: translate(-50%, 40%);
    transform: translate(-50%, 40%);
}

.marker.marker2 {
    background: url(/bitrix/templates/aero/img/marker2.png) 0 0 no-repeat;
    width: 50px;
    -webkit-transform: translate(-30%,40%);
    transform: translate(-30%,40%);
    z-index: 6;
}







/* VIDEO */

.video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

.video-wrapper video {
    width: 100%;
    height: auto;
}

.video-wrapper  .mejs-container .mejs-controls {
    display: none !important;
}

