@import 'var';

/* HELPERS */

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.blur-filter{
    display: none;
}
 
.fixed-wrapper {
    width: $fixed-wrapper;
    padding: 0 15px;
    margin: 0 auto;

}

.fixed {
    width: $fixed;
    margin: 0 auto;
}

  
.half {
    display: inline-block;
    width: 49.5%;
    float: left;
}

.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
}

.shift-left {
    left: -100% !important;
    
}
.shift-right {
    right: 0 !important;
    
}

.item-center {
      display: flex;
    justify-content: space-between;
    align-items: center;
  
  .info {
    
  }
}
  .item-list {
    margin: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }


main {
    position: relative;
}


