@import 'var';
.modal {
    width: $fixed - 600px;
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 60;
    margin: 0;
    position: fixed;
    padding: 35px 50px;
    background: rgba(255, 255, 255, 0.9);
    p.h1 {
        margin-bottom: 40px;
        font-size: 30px;
        font-size: 3.0rem;
        font-weight: 400;
        line-height: 22px;
        color: $black;
    }
    p {
        margin-bottom: 10px;
        font-size: 19px;
        font-weight: 300;
        color: $black;
    }
    input {
//        margin-bottom: 30px;
        &::-webkit-input-placeholder {
            font-size: 19px;
            font-size: 1.9rem;
            font-weight: 300;
            color: #b8b8b8;
        }
        &::-moz-placeholder {
            font-size: 19px;
            font-size: 1.9rem;
            font-weight: 300;
            color: #b8b8b8;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
            font-size: 19px;
            font-size: 1.9rem;
            font-weight: 300;
            color: #b8b8b8;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
            font-size: 19px;
            font-size: 1.9rem;
            font-weight: 300;
            color: #b8b8b8;
        }
    }
    -webkit-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out,
    -webkit-transform 0.3s ease-out;
}

.modal-meeting {
    min-height: 480px;
    form {
        input {
            margin-bottom: 30px;

        }
        p:last-child {
            float: left;
        }
        a {
            float: right;
        }
        .name {
            width: 80%;
        }
    }
    .thanks {
        display: none;
        justify-content: center;
        align-items: center;
        height: 380px;
    }
    .btn-m {
    padding: 15px 55px;
    }
}

.modal-search {
    width: $fixed - 300px;
//    ul {
//        position: absolute;
//        z-index: 100;
//        width: 85%;
//        
//        &>li {
//            a {
//                border-bottom: 1px solid $bg-lgray;
//                display: inline-block;
//                width: 85%;
//                width: 100%;
//                line-height: 36px;
//                background: white;
//                padding: 0 13px;
//                color: #050505;
//                text-decoration: none;
//                font-size: 19px;
//                font-size: 1.9rem;
//                font-weight: 300;
//                &:hover {
//                    background: #fafafa;
//                }
//            }
//        }
//    }
//    form {
//        position: relative;
//            width: 100%;
//    }
//    input {
//        width: 85%;
//        padding: 6px 13px;
//        padding-right: 40px;
//        margin-bottom: 0;
//    }
    p {
        margin-top: 30px;
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 18px;
        color: #675d5d;
        a {
            color: $black;
            text-decoration: none;
            &:hover {
                border-bottom: none;
            }
        }
    }

    .search-calendar {
        display: inline-block;
        position: absolute;
        background: url(../img/calendar.png) no-repeat;
        width: 21px;
        height: 21px;
        background-size: contain;
        right: 13px;
        top: 12px;
    }
    .search-interval {
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 12px;
    line-height: 24px;
    }
}

.search-form .search-container .search-input {
    background: transparent;
}



.modal-subscribe {
    width: $fixed - 300px;
    .subscribe {
        width: 100%;
    }
    .subscribe {
        background: rgba(239, 239, 239, 0);
    }
    .subscribe form {
        input {
            width: 650px;
        }
    }
}

.modal-video {
    width: 60%;
    height: 60%;
}

.modal-resume {
    
    .file-name { overflow: hidden; 
text-overflow: ellipsis; 
white-space: nowrap; 
width: 100%; }
    form {

            span.btn {

                display: inline-block;
   width: 50%;
    margin-bottom: 25px;
                text-align: center;
                overflow: hidden;
//                vertical-align: middle;
                 font-size: 1.7rem;
    font-weight: 300;
//                margin-top: -3px;
vertical-align: middle;
                position: relative;
                
            }
        a.btn-fill {
            width: 50%;
        }
            input[type=text]  {
//            width: 445px;
                margin-right: 0;
            }
            input[type=file] {
                cursor: pointer !important;
                position: absolute;
                top: 0;
                right: 0;
                width: 200%;
                opacity: 0;
            }
    }
}

.modal-diplomas {
        top: 10% !important;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: transparent;
    position: fixed;
    cursor: default;
    -webkit-transition: 1s -webkit-all linear;
    transition: 1s all linear;
    pointer-events: none;
    opacity: 0;
    display: block;
}

.overlay:target,
.overlay.target {
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;
    pointer-events: auto;
}


/* активируем модальный блок */

.overlay:target+.modal {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}