@import 'var';

.nav {
    position: absolute;
    top: 50%;
    cursor: pointer;
    background-size: contain;
}

.nav-small {
    width: 19px;
    height: 16px;
    margin-top: -8px;
}

.nav-medium {
    margin-top: -11px;
    width: 30px;
    height: 25px;
}

.nav-large {
    width: 48px;
    height: 47px;
    margin-top: -23px;
}

.small-left {
    background: url(../img/nav-l-s-white.png) no-repeat;
    background-size: contain;
    left: -6%;
    left: -44px;
}

.small-right {
    background: url(../img/nav-r-s-white.png) no-repeat;
    background-size: contain;
    right: -6%;
    right: -44px;
}

.medium-left {
    background: url(../img/nav-l-m-white.png) no-repeat;
    background-size: contain;
    left: -6%;
    left: -44px;
}

.medium-right {
    background: url(../img/nav-r-m-white.png) no-repeat;
    background-size: contain;
    right: -6%;
    right: -44px;
}

.medium-left-red { 
    background: url(../img/nav-l-m-red.png) no-repeat;
    background-size: contain;
    left: -6%;
    left: -44px;
}

.medium-right-red {
    background: url(../img/nav-r-m-red.png) no-repeat;
    background-size: contain;
    right: -6%;
    right: -44px;
}

.nav-left-red {
    background: url(../img/nav-l-l-red.png) no-repeat;
    background-size: contain;
    left: -6%;
    left: -70px;
}

.nav-right-red {
    background: url(../img/nav-r-l-red.png) no-repeat;
    background-size: contain;
    
    right: -6%;
    right: -70px;
}

.nav-left-white {
    background: url(../img/nav-l-l-white.png) no-repeat;
    background-size: contain;
    left: 235px;
//    left: 30px;
}

.nav-right-white {
    background: url(../img/nav-r-l-white.png) no-repeat;
    background-size: contain;
    right: 235px;
    
    
//    right: 30px;
}

.owl-dots {
    width: 100%;
    height: 20px;
    position: absolute;
        bottom: 160px;
    text-align: center;
    .owl-dot {
        display: inline-block;
        margin-right: 15px;
        width: 8px;
        height: 8px;
        border: 1px solid white;
        border-radius: 5px;
        &:hover {
            background: white;
        }
        &.active {
            background: white;
        }
    }
}

