@import 'var';

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic);

/* TYPOGRAPHY */

b {
    font-weight: 700;
}
p{
    line-height: 24px;
}

p.h1 {
    font-size: 3.6rem;
    font-weight: 100;
    line-height: 32px;
    font-family: $roboto;
}

p.error-message {
    padding-top: 30px;
    margin: 0;
    color: $red;
}


