@import "_var";

/* MAIN STYLES */

* {
    outline: none;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    
    
    body {
        width: 100%;
        height: 100%;
        background: $bg-lgray;
        font-size: 16px;
        font-size: 1.6rem;
        font-family: $roboto;
        overflow-x: hidden;
    }
    h1 {
        color: #fffefe;
        font-family: $roboto;
        font-size: 7.0rem;
        font-weight: 300;
//        line-height: 85px;
    }
    p {
        color: $black;
        font-family: $robotoC;
        font-size: 1.8rem;
        font-weight: 300;
//        line-height: 24px;
    }
    a {
        color: $red;
        &.active {
            text-decoration: none;
            color: $fgray;
        }
        &:hover {
            text-decoration: none;
        }
    }
    input {
        border: 2px solid transparent;
        font-family: $roboto;
        padding: 8px 10px;
        background: $bg-lgray;
        color: $black;
        width: 100%;
        font-size: 19px;
        font-size: 1.9rem;
        font-weight: 300;
        line-height: 24px;
        -webkit-appearance: none;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-property: all;
        transition-property: all;
        &:focus {
            outline: none;
            border: 2px solid #82d7ef;
        }
        &::-webkit-input-placeholder {
            font-size: 16px;
            font-size: 1.6rem;
            font-weight: 300;
            color: #b8b8b8;
        }
        &::-moz-placeholder {
            font-size: 16px;
            font-size: 1.6rem;
            font-weight: 300;
            color: #b8b8b8;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
            font-size: 16px;
            font-size: 1.6rem;
            font-weight: 300;
            color: #b8b8b8;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
           font-size: 16px;
            font-size: 1.6rem;
            font-weight: 300;
            color: #b8b8b8;
        }
    }
}


/* BUTTONS */

.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    text-decoration: none;
    -webkit-transition-property: background, border, color;
    transition-property: background, border, color;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    &-fill {
        color: white;
        background: $red;
        border: 1px solid transparent;
        &:hover {
            background: $black;
        }
    }
    &-red {
//        color: $red;
        border: 1px solid $red;
        &:hover {
            color: white;
            background: $black;
            border: 1px solid $black;
        }
    }
    &-gray {
        color: $fdgray;
        border: 1px solid $fdgray;
        &:hover {
            color: white;
            background-color: $red;
            border: 1px solid $red;
        }
    }
    &-lgray {
        color: #bcbec0;
        border: 1px solid #bcbec0;
        &:hover {
            color: white;
            background-color: $red;
            border: 1px solid $red;
        }
    }
    &-transparent {
        color: white;
        padding: 20px 40px;
        border: 1px solid white;
        text-align: center;
        background: transparent;
        opacity: 1;
        &:hover {
            //      font-weight: 500;
            color: white;
            background: rgba(27, 28, 25, 0.5);
        }
    }
    &-s {
        padding: 10px 25px;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: $bold;
    }
    &-m {
        padding: 15px 15px;
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: $bold;
    }
    
    &-l {
        padding: 20px 45px;
        font-size: 20px;
        font-size: 2.0rem;
        font-weight: 300;
    }
    &-icon-s {
        @extend .btn-s;
        padding-left: 40px;
    }
    &-icon-m {
        @extend .btn-m;
        padding-left: 40px;
    }
    &-icon-l {
        @extend .btn-l;
        padding-left: 40px;
    }
    &-search {
//        margin-left: -3px;
        padding: 12px 25px 12px 50px;
        &:before {
            content: url(../img/icon-search-white.png);
            position: absolute;
            left: 27px;
                top: 16px;
        }
    }
    &-logo {
        position: relative;
        @extend .btn-fill;
        padding: 10px 40px 10px 10px;
        font-size: 14px;
        font-weight: 700;
        &:after {
            position: absolute;
            content: url(../img/eps.png);
            right: 13px;
            top: 8px;
        }
        span {
            font-size: 10px;
            font-weight: 300;
        }
    }
    &-presentation {
        position: relative;
        background-color: $black;
        color: white;
        padding: 10px 40px 10px 10px;
        font-size: 14px;
        font-weight: 700;
        &:hover {
            background-color: $red;
        }
        &:after {
            position: absolute;
            content: url(../img/pdf.png);
            right: 13px;
            top: 8px;
        }
        span {
            font-size: 10px;
            font-weight: 300;
        }
    }
    &-soc {
        
                      text-decoration: none;
                      color: black;
                      border: 1px solid #aeaeae;
                      border-radius: 5px;
                    padding: 5px 15px 5px 30px;
                      margin-left: 10px;
        
        &:hover {
            background: $red;
            color: white;
        }
        
        &--fb{
            
            &:before {
            position: absolute;
            content: '';
            width: 15px;
            height: 17px;
            background: url(../img/btn-soc-fb.png) no-repeat;
            left: 13px;
            top: 7px;
            transition: background 1.5s;
            }
            &:hover:before {
            background: url(../img/btn-soc-fb-hover.png) no-repeat;
            }
        }
        &--in {
            
            &:before {
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            background: url(../img/btn-soc-in.png) no-repeat;
            left: 13px;
            top: 8px;
            transition: background 1.5s;
            }
            &:hover:before {
            background: url(../img/btn-soc-in-hover.png) no-repeat;
            }
            
        }
            
       
                  }
     
}


/* OTHER */

div.list>ul {
    font-family: $robotoC;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 20px;
    li {
        position: relative;
        font-weight: $normal;
        color: $black;
        line-height: 34px;
        font-size: 1.6rem;
        &:before {
            content: '•';
            position: absolute;
            left: -15px;
            color: $red;
            font-size: 24px;
        }
    }
}

div.list-number>ul {
    font-family: $robotoC;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 20px;
    list-style-type: decimal;
    li {
        position: relative;
        font-weight: $normal;
        color: $black;
        line-height: 40px;
        font-size: 1.6rem;

    }
}


menu {
    display: inline-block;
    &>li {
        display: inline-block;
    }
}

.sent-resume {
    margin-bottom: 50px;
    padding: 40px 50px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    p {
        margin-bottom: 0;
        width: 75%;
        font-size: 20px;
        font-size: 2.0rem;
        font-weight: 300;
        line-height: 24px;
    }
}

.header-img-portfolio {
    p {
        width: 100%;
    }
}

.close {
    top: 10px;
    padding: 20px;
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    &-white {
        background-color: white;
        background: url(../img/close-white.png) 9px 9px no-repeat;
    }
    &-black {
        background-color: $black;
        background: url(../img/close.png) 9px 9px no-repeat;
    }
    &:hover {
        background-color: $red;
        background: url(../img/close--hover-red.png) no-repeat;
    }
}

.required:after {
    content: ' *';
    font-size: 20px;
    font-weight: 900;
    color: $red;
}

.input-error {
    border: 2px solid rgb(228, 120, 120) !important;
}

.dashed {
    border-bottom: 1px dashed $black;
}

.input-icon {
    padding-right: 40px;
}

.search-input {
    position: relative;
}

