
$fixed-wrapper: 1480px;
$fixed: $fixed-wrapper - 180px;

$calendar-width: 380px;


$roboto: 'Roboto', sans-serif;
$robotoC:'Roboto Condensed', sans-serif;

$light: 100;
$normal: 300;
$bold: 400;
$fat: 500;
$exbold: 700;


/* COLORS */ 
$red: #e83523;
$blue: #81d6f2;
$green: #88b242;
$black: #121212;



$bg-lgray: #f5f5f5;
$bg-gray: #2f2f2f;
$bg-dgray: #242424;

$fgray: #bdbdbd;
$fdgray: #6b6b6b;

 

$w320: 320px;
$w480: 480px;
$w768: 768px;
$w960: 960px;
$w1200: 1200px;
$w1480: 1480px;


@mixin media-to($media) {
  @if $media == $w320 {
    @media only screen and (min-width: $w320 + 1) and (max-width: $w480) { @content; }
  }
  @if $media == $w480 {
     @media only screen and (min-width: $w480 + 1) and (max-width: $w768) { @content; }
  }  
    @if $media == $w768 {
     @media only screen and (min-width: $w768 + 1) and (max-width: $w960) { @content; }
  }  
    @if $media == $w960 {
     @media only screen and (min-width: $w960 + 1) and (max-width: $w1200) { @content; }
  }
    @if $media == $w1200 {
     @media only screen and (min-width: $w1200 + 1) and (max-width: $w1480) { @content; }
  }
}
