/* COLORS */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 50.0%; }
  .fixed-wrapper {
    width: 320px; }
  .fixed {
    width: 300px; }
  header .logo {
    height: 60px;
    width: 65px; }
  header .btn {
    padding: 10px 10px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    order: 1; }
  header .lang,
  header nav {
    display: none; }
  header a.toggle-button {
    display: block;
    order: 2; }
  .content {
    padding: 20px 0; }
    .content .fixed {
      width: 100%; }
  .slider .item {
    height: 525px;
    padding-top: 50px; }
    .slider .item h1 {
      width: 100%;
      margin-bottom: 20px;
      font-size: 4.0rem;
      font-weight: 300;
      line-height: normal;
      color: white; }
    .slider .item p {
      width: 100%;
      margin-bottom: 30px;
      font-size: 2.5rem; }
    .slider .item .btn {
      padding: 7px 0;
      font-size: 2.0rem;
      line-height: 30px;
      width: 100%;
      text-align: center; }
  .slider .owl-dots {
    bottom: 100px; }
  .slider .switcher label {
    min-width: 150px;
    z-index: 33;
    bottom: 30px; }
  .small-slider {
    padding: 12px 0; }
  .tab-block input:checked + label {
    font-size: 2.2rem; }
  .tab-block label {
    font-size: 2.3rem;
    padding: 5px 15px; }
  .news-item h1 {
    width: 100%; }
  .news-item a {
    width: 100%;
    font-size: 1.8rem; }
  .news-item img {
    width: 100%;
    height: auto; }
  .news-item a > img {
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto; }
  .news-item p.text {
    font-size: 1.8rem; }
  .subscribe-block {
    justify-content: flex-end;
    flex-wrap: wrap; }
    .subscribe-block > a {
      margin: 0 auto 25px auto;
      text-decoration: underline;
      font-size: 1.5rem;
      border: none; }
  .subscribe {
    padding: 25px;
    width: 100%; }
    .subscribe form input {
      margin-bottom: 10px;
      width: 100%; }
    .subscribe form a {
      width: 100%;
      font-size: 1.5rem;
      text-align: center; }
  .banner-block {
    display: none; }
    .banner-block img {
      width: 200px;
      height: 250px;
      margin-bottom: 20px; }
  .news-item p.h1,
  .news-page .news-item h1,
  .search-results .news-item h1 {
    font-size: 2.2rem; }
  .news ul > li {
    height: 680px;
    width: 100%;
    border-bottom: 1px solid #eaeaea; }
    .news ul > li:nth-child(odd) {
      padding-left: 25px;
      padding-right: 25px;
      border-right: none; }
    .news ul > li:nth-child(even) {
      padding-left: 25px;
      padding-right: 25px; }
  footer .footer-contacts {
    float: none;
    flex-flow: column wrap;
    display: flex; }
    footer .footer-contacts .sub,
    footer .footer-contacts .search {
      display: block;
      width: 100%; }
      footer .footer-contacts .sub p,
      footer .footer-contacts .sub a:not(.btn),
      footer .footer-contacts .search p,
      footer .footer-contacts .search a:not(.btn) {
        margin-bottom: 15px;
        text-align: center; }
    footer .footer-contacts a.btn {
      width: 100%;
      margin-bottom: 15px; }
    footer .footer-contacts .social {
      width: 100%;
      text-align: center; }
  footer .footer-slider {
    float: none;
    width: 100%;
    margin: 0 0 35px 0; }
    footer .footer-slider .item {
      text-align: center; }
      footer .footer-slider .item .city,
      footer .footer-slider .item .address,
      footer .footer-slider .item .phone {
        font-size: 1.8rem; }
  .date,
  .views {
    font-size: 1.6rem; }
  footer .small-right {
    right: 0; }
  footer .small-left {
    left: 0; }
  .nav-large {
    width: 30px;
    margin-top: -14px; }
  .nav-medium {
    margin-top: -12px;
    width: 20px; }
  .modal {
    padding: 15px 25px; }
  .modal-meeting {
    display: table; }
    .modal-meeting form {
      display: table-cell;
      vertical-align: middle; }
      .modal-meeting form input,
      .modal-meeting form .name {
        width: 100%;
        margin-bottom: 15px; }
    .modal-meeting .half,
    .modal-meeting input {
      width: 100%; }
    .modal-meeting a.btn {
      margin-bottom: 15px;
      width: 100%; }
    .modal-meeting .thanks p {
      margin-left: 110px;
      height: 600px; }
  .modal-meeting,
  .modal-subscribe,
  .modal-search {
    width: 100%;
    height: 100%; }
  .modal-subscribe .subscribe ul > li a,
  .modal-subscribe ul > li a {
    width: 100%; }
  .modal-subscribe .subscribe form input,
  .modal-subscribe form input {
    width: 100%; }
  .modal-subscribe .subscribe a.btn,
  .modal-subscribe a.btn {
    margin-top: 15px;
    float: right; }
  .modal-resume form span.btn {
    width: 100%; }
  .modal-resume form a.btn-fill {
    width: 100%; }
  .calendar-wrapper {
    width: 100%;
    position: fixed;
    left: 0 !important;
    top: 136px !important; }
    .calendar-wrapper .calendar {
      margin: 0 auto; }
      .calendar-wrapper .calendar td div.c-date:hover {
        line-height: 30px;
        height: 30px;
        width: 30px; }
      .calendar-wrapper .calendar td .active,
      .calendar-wrapper .calendar td .today:not(.active) {
        line-height: 30px;
        height: 30px;
        width: 30px; }
        .calendar-wrapper .calendar td .active div.c-date:hover,
        .calendar-wrapper .calendar td .today:not(.active) div.c-date:hover {
          line-height: 30px;
          height: 30px;
          width: 30px; }
      .calendar-wrapper .calendar .interval-half {
        width: 17px;
        height: 30px; }
      .calendar-wrapper .calendar th,
      .calendar-wrapper .calendar td {
        position: relative;
        height: 30px;
        width: 40px;
        vertical-align: middle;
        text-align: center; }
        .calendar-wrapper .calendar th:last-child,
        .calendar-wrapper .calendar th:first-child,
        .calendar-wrapper .calendar td:last-child,
        .calendar-wrapper .calendar td:first-child {
          width: 27px; }
  .modal-search .search-form p {
    margin-top: 15px; }
  .modal-search .btn-search {
    padding: 15px 25px 15px 50px; }
  .overlay:target + .modal {
    top: 0; }
  /* ABOUT */
  .header-img {
    background-position: 50%; }
    .header-img p.h1,
    .header-img h1 {
      font-size: 4.0rem;
      line-height: 39px; }
    .header-img .btn {
      width: 100%; }
  .anchor-slider {
    display: none !important; }
  .anchor-mobile {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  .about .diplomas,
  .about .clients {
    float: none;
    width: 100%; }
    .about .diplomas .owl-item,
    .about .clients .owl-item {
      text-align: center; }
  .about .tab {
    padding: 25px; }
  .about .tab-block label {
    line-height: 50px;
    width: 100%; }
  .about .tab-block ul {
    width: 100%; }
  .about .tab-block input:checked + label {
    line-height: 50px; }
  .about .history .opinion {
    width: 100%; }
  .about .office-slider {
    margin-left: -10px;
    margin-right: -10px; }
    .about .office-slider img {
      width: auto;
      height: 100%; }
    .about .office-slider .owl-item {
      height: 343px; }
  .about .office-slider-inner .item-preview {
    width: 100px;
    height: 100px; }
  /* CAREER */
  .header-img-career {
    background-position: 82%; }
  .career .sent-resume {
    padding: 20px 25px;
    flex-direction: column; }
    .career .sent-resume p {
      width: 100%; }
    .career .sent-resume .btn {
      margin-top: 20px;
      width: 100%;
      text-align: center; }
  .career .tab-block label {
    line-height: 50px;
    width: 100%; }
  .career .tab-block ul {
    width: 100%; }
  .career .tab-block input:checked + label {
    line-height: 50px; }
  .career .tab-block .profession-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px 25px;
    background-color: white; }
    .career .tab-block .profession-list a {
      line-height: 16px; }
  /* CONTACTS */
  .contacts .accordion {
    top: 0;
    left: 0;
    width: 100%; }
    .contacts .accordion p.h1 {
      line-height: 25px; }
  /* NEWS */
  .news-page .filter,
  .search-results .filter {
    float: left; }
  .news-page .top,
  .search-results .top {
    padding-bottom: 25px; }
  .news-page .news-item,
  .search-results .news-item {
    padding: 25px; }
    .news-page .news-item img,
    .search-results .news-item img {
      width: 100%;
      height: auto; }
    .news-page .news-item .date,
    .news-page .news-item p.text,
    .search-results .news-item .date,
    .search-results .news-item p.text {
      margin-bottom: 10px; }
  .news-page .half,
  .search-results .half {
    width: 100%; }
  .news-page .pagination,
  .search-results .pagination {
    float: none;
    margin: 0;
    text-align: center; }
    .news-page .pagination ul,
    .search-results .pagination ul {
      display: inline-block;
      padding: 0; }
  .solutions {
    width: 100%; }
    .solutions .header {
      margin-bottom: 20px; }
  .portfolio-item ul.problems-list {
    width: 100%; }
  .portfolio-item .problems {
    flex-flow: row wrap; }
  .appointment {
    padding: 15px; }
    .appointment .btn {
      width: 100%; }
  .other-cases .card {
    width: 100%; }
  /* PORTFOLIO */
  .portfolio,
  .services {
    min-height: 850px; }
    .portfolio .choose-block a,
    .services .choose-block a {
      width: 100%;
      margin-bottom: 20px; }
    .portfolio .choose-block .slider-block,
    .services .choose-block .slider-block {
      width: 100%; }
    .portfolio h1,
    .services h1 {
      font-size: 4.0rem;
      line-height: 45px; }
  .card {
    width: 100%; }
  /* PRESS */
  .press .top .top-right,
  .press .top .top-left,
  .press .top p.text {
    width: 100%; }
  .press .top .btn {
    margin-bottom: 10px; }
  .press .top .top-right {
    margin-top: 30px; }
    .press .top .top-right .btn {
      width: 100%; }
  .press .tab .news-item img {
    width: 100%;
    height: auto; }
  .press .video-slider .item {
    width: 100%; }
    .press .video-slider .item a.video {
      width: 100%;
      height: auto; }
  .press .subscribe-block {
    justify-content: center; }
  /*.search-results*/
  .search-results .search-block {
    flex-direction: column; }
    .search-results .search-block form input {
      width: 100%; }
    .search-results .search-block form ul {
      width: 100%; }
  .search-results .filter > a {
    margin-left: 0;
    margin-right: 15px; }
  .press .top .text {
    width: 100%;
    line-height: 18px; }
  .press .video-slider .item p.h1 {
    margin: 5px 0; }
  .service-item .solutions {
    width: 100%; }
  .s-items.flex-wrapper {
    flex-wrap: wrap; }
  .news-page-item .news-item h1 {
    width: 100%;
    line-height: 42px;
    margin-bottom: 0; }
  .news-page-item .news-item img {
    margin: 10px; }
  .other-news {
    padding: 25px; }
    .other-news .item {
      width: 100%;
      margin-bottom: 25px; }
      .other-news .item img {
        width: 100%;
        height: auto; }
    .other-news p.h1 {
      margin-bottom: 25px; }
  .career .accordion a.panel {
    width: 100%;
    padding: 17px 25px 17px 45px; }
    .career .accordion a.panel:hover:before, .career .accordion a.panel-plus:before {
      left: 20px;
      top: 20px; }
    .career .accordion a.panel .half, .career .accordion a.panel span.exp, .career .accordion a.panel span.vacancy-name, .career .accordion a.panel span.salary {
      float: none;
      width: 100%;
      display: block; }
  .career .accordion .accordion-content .half {
    padding: 0px 25px;
    width: 100%;
    float: none; }
  .menu-fixed {
    display: none !important; } }

/* COLORS */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 47.0%; }
  .fixed-wrapper {
    width: 480px; }
  .fixed {
    width: 450px; }
  header .logo {
    height: 60px;
    width: 65px; }
  header .btn {
    padding: 10px 10px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    order: 1; }
  header .lang,
  header nav {
    display: none; }
  header a.toggle-button {
    display: block;
    order: 2; }
  .content {
    padding: 25px 25px 10px 25px; }
  .tab-block label {
    padding: 10px 25px; }
  .slider .item {
    height: 630px;
    padding-top: 50px; }
    .slider .item h1 {
      width: 100%;
      margin-bottom: 20px;
      font-size: 6.0rem;
      font-weight: 300;
      line-height: normal;
      color: white; }
    .slider .item p {
      width: 100%;
      margin-bottom: 30px;
      font-size: 2.5rem; }
    .slider .item .btn {
      font-size: 2.0rem;
      width: 100%;
      text-align: center; }
  .slider .switcher label {
    min-width: 225px;
    bottom: 30px; }
  .slider .owl-dots {
    bottom: 110px; }
  .small-slider {
    padding: 20px 0; }
  .news-item a {
    width: 100%;
    font-size: 1.8rem; }
  .news-item a {
    width: 100%;
    font-size: 1.8rem; }
  .news-item img {
    width: 100%;
    height: auto; }
  .news-item a > img {
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto; }
  .news-item p.text {
    font-size: 1.8rem; }
  .subscribe-block {
    justify-content: flex-end;
    flex-wrap: wrap; }
  .subscribe {
    width: 100%; }
    .subscribe form input {
      margin-bottom: 10px;
      width: 100%; }
    .subscribe form a {
      width: 100%;
      font-size: 1.5rem;
      text-align: center; }
  .banner-block img {
    width: 200px;
    height: 250px;
    margin-bottom: 20px; }
  .news-item p.h1,
  .news-page .news-item h1,
  .search-results .news-item h1 {
    font-size: 2.2rem; }
  .news ul > li {
    height: 650px;
    width: 100%;
    border-bottom: 1px solid #eaeaea; }
    .news ul > li:nth-child(odd), .news ul > li:nth-child(even) {
      padding-left: 25px;
      padding-right: 25px;
      border-right: none; }
  footer .footer-contacts {
    float: none; }
    footer .footer-contacts .social {
      float: right; }
      footer .footer-contacts .social p {
        left: auto;
        right: 0; }
  footer .footer-slider {
    float: none;
    width: 100%;
    margin: 0 0 45px 0; }
    footer .footer-slider .item {
      text-align: center; }
      footer .footer-slider .item .city,
      footer .footer-slider .item .address,
      footer .footer-slider .item .phone {
        font-size: 1.8rem; }
  .date,
  .views {
    font-size: 1.6rem; }
  footer .small-right {
    right: 50px; }
  footer .small-left {
    left: 50px; }
  .nav-large {
    width: 30px;
    margin-top: -14px; }
  .nav-medium {
    margin-top: -15px;
    width: 20px; }
  .modal-meeting {
    display: table; }
    .modal-meeting form {
      display: table-cell;
      vertical-align: middle; }
    .modal-meeting .thanks p {
      margin-left: 110px;
      height: 600px; }
  .modal-meeting,
  .modal-subscribe,
  .modal-search {
    width: 100%;
    height: 100%; }
  .modal-subscribe .subscribe ul > li a,
  .modal-subscribe ul > li a {
    width: 100%; }
  .modal-subscribe .subscribe form input,
  .modal-subscribe form input {
    width: 100%; }
  .modal-subscribe .subscribe a.btn,
  .modal-subscribe a.btn {
    margin-top: 15px;
    float: right; }
  .calendar-wrapper {
    width: 100%;
    top: 46px !important;
    left: 0 !important; }
  .calendar {
    margin: 0 auto; }
  .btn-search {
    padding: 15px 25px 15px 50px; }
  .overlay:target + .modal {
    top: 0; }
  .menu-mobile {
    width: 80%; }
  .shift-left {
    left: -80% !important; }
  /* ABOUT */
  .header-img {
    background-position: 50%; }
    .header-img p.h1,
    .header-img h1 {
      font-size: 6.0rem;
      line-height: 45px; }
  .about .diplomas,
  .about .clients {
    float: none;
    width: 100%; }
  .about .owl-item {
    text-align: center; }
  .about .tab {
    padding: 25px; }
  .about .tab-block label {
    line-height: 50px;
    width: 100%; }
  .about .tab-block ul {
    width: 100%; }
  .about .tab-block input:checked + label {
    line-height: 50px; }
  .about .team .item {
    width: 200px;
    min-height: 380px; }
  .about .history .opinion {
    width: 100%; }
  /* CAREER */
  .header-img-career {
    background-position: 82%; }
  .career .sent-resume {
    padding: 20px 25px;
    flex-direction: column; }
    .career .sent-resume p {
      width: 100%; }
    .career .sent-resume .btn {
      margin-top: 20px;
      width: 100%;
      text-align: center; }
  .career .tab-block label {
    line-height: 50px;
    width: 100%; }
  .career .tab-block ul {
    width: 100%; }
  .career .tab-block input:checked + label {
    line-height: 50px; }
  .career .tab-block .profession-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px 25px;
    background-color: white; }
  /* CONTACTS */
  .contacts .accordion {
    top: 0;
    left: 0;
    width: 100%; }
    .contacts .accordion p.h1 {
      line-height: 25px; }
  /* NEWS */
  .news-page .top,
  .search-results .top {
    padding-bottom: 25px; }
    .news-page .top h1,
    .search-results .top h1 {
      float: none; }
  .news-page .filter,
  .search-results .filter {
    float: left; }
  .news-page .news-item,
  .search-results .news-item {
    padding: 25px; }
    .news-page .news-item > img,
    .search-results .news-item > img {
      width: 100%;
      height: auto; }
    .news-page .news-item .date,
    .news-page .news-item p.text,
    .search-results .news-item .date,
    .search-results .news-item p.text {
      margin-bottom: 10px; }
  .news-page .half,
  .search-results .half {
    width: 100%; }
  .news-page .pagination,
  .search-results .pagination {
    float: none;
    margin: 0;
    text-align: center; }
    .news-page .pagination ul,
    .search-results .pagination ul {
      display: inline-block;
      padding: 0; }
  /* PORTFOLIO */
  .portfolio .choose-block a {
    width: 100%;
    margin-bottom: 20px; }
  .portfolio .choose-block .slider-block {
    width: 100%; }
  .portfolio h1 {
    font-size: 6.0rem;
    line-height: 45px; }
  .card {
    width: 100%; }
  /* PRESS */
  .press .top .top-right,
  .press .top .top-left,
  .press .top p.text {
    width: 100%; }
  .press .top .btn {
    margin-bottom: 10px; }
  .press .top .top-right {
    margin-top: 30px; }
  .press .tab .news-item img {
    width: 100%;
    height: auto; }
  .press .video-slider .item {
    width: 100%; }
    .press .video-slider .item a.video {
      width: 100%;
      height: auto; }
  .press .subscribe-block {
    justify-content: center; }
  /*.search-results*/
  .search-results .search-block {
    flex-direction: column; }
    .search-results .search-block form input {
      width: 100%; }
    .search-results .search-block form ul {
      width: 100%; }
    .search-results .search-block form .btn:before {
      left: 18px;
      top: 11px; }
  .search-results .filter > a {
    margin-left: 0;
    margin-right: 15px; }
  .solutions {
    width: 100%; }
  .service-item .solutions {
    width: 100%; }
  .service-item .header {
    margin-bottom: 20px; }
  .s-items.flex-wrapper {
    flex-wrap: wrap; }
  .weDo {
    width: 100%; }
  .portfolio-item ul.problems-list {
    width: 100%; }
  .portfolio-item .problems {
    flex-flow: row wrap; }
  .appointment {
    padding: 15px; }
    .appointment .btn {
      width: 100%; }
  .other-cases .card {
    width: 100%; }
  .career .accordion a.panel {
    width: 100%;
    padding: 17px 25px 17px 45px; }
    .career .accordion a.panel:hover:before, .career .accordion a.panel-plus:before {
      left: 20px;
      top: 20px; }
    .career .accordion a.panel .half, .career .accordion a.panel span.exp, .career .accordion a.panel span.vacancy-name, .career .accordion a.panel span.salary {
      float: none;
      width: 100%;
      display: block; }
  .career .accordion .accordion-content .half {
    padding: 0px 25px;
    width: 100%;
    float: none; }
  .menu-fixed {
    display: none !important; }
  .other-news h1 {
    margin-bottom: 25px; }
  .other-news .item {
    width: 100%;
    margin-bottom: 35px; }
    .other-news .item img {
      width: 100%;
      height: auto; }
  .news-page-item .news-item img {
    width: 100%;
    height: auto; }
  .news-page-item .news-item h1 {
    margin-bottom: 0; } }

/* COLORS */
@media only screen and (min-width: 769px) and (max-width: 960px) {
  html {
    font-size: 47.0%; }
  .fixed-wrapper {
    width: 768px; }
  .fixed {
    width: 710px; }
  header .logo {
    height: 60px;
    width: 65px; }
  header .btn {
    padding: 10px 10px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    order: 1; }
  header .lang,
  header nav {
    display: none; }
  header a.toggle-button {
    display: block;
    order: 2; }
  .slider .item {
    height: 540px;
    padding-top: 50px; }
    .slider .item h1 {
      width: 100%;
      margin-bottom: 20px;
      font-size: 6.0rem;
      font-weight: 300;
      line-height: normal;
      color: white; }
    .slider .item p {
      color: white;
      width: 700px;
      margin-bottom: 30px;
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 34px;
      height: 100px;
      overflow: hidden; }
    .slider .item .btn {
      font-size: 2.0rem; }
  .slider .switcher label {
    min-width: 350px;
    bottom: 30px; }
  .slider .owl-dots {
    bottom: 120px; }
  .small-slider {
    padding: 12px 0; }
  .news-item a {
    width: 100%;
    font-size: 1.8rem; }
  .news-item a > img {
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto; }
  .news-item p.text {
    font-size: 1.8rem; }
  .subscribe-block {
    justify-content: space-around;
    flex-wrap: wrap; }
  .subscribe {
    width: 100%; }
    .subscribe form input {
      width: 480px; }
  .banner-block img {
    width: 150px;
    height: 200px; }
  .news-item p.h1,
  .news-page .news-item h1,
  .search-results .news-item h1 {
    font-size: 2.2rem; }
  .news ul > li {
    height: 680px;
    width: 100%;
    border-bottom: 1px solid #eaeaea; }
  footer .footer-contacts {
    float: none; }
    footer .footer-contacts .social {
      float: right; }
      footer .footer-contacts .social p {
        left: auto;
        right: 0; }
  footer .footer-slider {
    float: none;
    width: 600px;
    margin-bottom: 45px; }
  .nav-left-white {
    left: 15px; }
  .nav-right-white {
    right: 15px; }
  .nav-large {
    width: 30px;
    margin-top: -14px; }
  .nav-medium {
    margin-top: -15px;
    width: 20px; }
  .nav-right-red {
    right: -30px; }
  .nav-left-red {
    left: -30px; }
  .modal-meeting {
    display: table; }
    .modal-meeting form {
      display: table-cell;
      vertical-align: middle; }
    .modal-meeting .thanks p {
      margin-left: 110px;
      height: 600px; }
  .modal-meeting,
  .modal-subscribe,
  .modal-search {
    width: 700px; }
  .modal-subscribe .subscribe {
    padding: 0; }
    .modal-subscribe .subscribe form input {
      width: 100%; }
    .modal-subscribe .subscribe a.btn {
      float: right; }
  .modal-search .btn-search {
    padding: 15px 25px 15px 50px; }
  .menu-mobile {
    width: 50%; }
  .shift-left {
    left: -50% !important; }
  .about .diplomas,
  .about .clients {
    margin-top: 50px;
    float: none;
    width: 100%; }
  /* ABOUT */
  .header-img {
    background-position: 50%; }
    .header-img p.h1,
    .header-img h1 {
      font-size: 6.0rem;
      line-height: 45px; }
  .about .tab {
    padding: 25px; }
  .about .tab-block label {
    padding: 20px 25px;
    line-height: 25px;
    font-size: 1.9rem; }
  .about .tab-block input:checked + label {
    padding: 20px 25px;
    line-height: 25px;
    font-size: 1.9rem; }
  .about .team .item {
    width: 180px;
    min-height: 380px; }
  /* CAREER */
  .header-img-career {
    background-position: 82%; }
  .career .sent-resume p {
    width: 70%; }
  .career .tab-block label {
    line-height: 25px;
    font-size: 2.0rem;
    padding: 13px 25px; }
  .career .tab-block input:checked + label {
    line-height: 25px;
    font-size: 2.0rem; }
  .career .tab-block .profession-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px 50px;
    background-color: white; }
  /* NEWS */
  .news-page .top,
  .search-results .top {
    padding-bottom: 25px; }
  .news-page .news-item > img,
  .search-results .news-item > img {
    width: 100%;
    height: auto; }
  .news-page .news-item .date,
  .news-page .news-item p.text,
  .search-results .news-item .date,
  .search-results .news-item p.text {
    margin-bottom: 10px; }
  .news-page .half,
  .search-results .half {
    width: 100%; }
  .news-page .pagination ul,
  .search-results .pagination ul {
    display: inline-block;
    padding: 0; }
  .show-all {
    float: right; }
  /* PORTFOLIO */
  .portfolio .choose-block a {
    margin-bottom: 20px; }
  .portfolio .choose-block .choose-slider a {
    width: 100%; }
  .portfolio .choose-block .slider-block {
    width: 100%; }
  .portfolio h1 {
    font-size: 6.0rem;
    line-height: 45px; }
  .card {
    width: 100%; }
  /* PRESS */
  .press .top .top-right,
  .press .top .top-left,
  .press .top p.text {
    width: 100%; }
  .press .top .btn {
    margin-bottom: 10px; }
  .press .top .top-right {
    margin-top: 30px; }
  .press .tab .news-item img {
    width: 100%;
    height: auto; }
  .press .video-slider .item {
    width: 100%; }
    .press .video-slider .item a.video {
      width: 100%;
      height: auto; }
  .press .subscribe-block {
    justify-content: center; }
  .press .tab-block label {
    padding: 20px 25px;
    line-height: 25px; }
  .press .tab-block input:checked + label {
    padding: 20px 25px;
    line-height: 25px; }
  /*.search-results*/
  .search-results .search-block {
    flex-direction: column; }
    .search-results .search-block form input {
      width: 100%; }
    .search-results .search-block form ul {
      width: 85%; }
    .search-results .search-block form .btn {
      margin-top: -40px; }
      .search-results .search-block form .btn:before {
        left: 18px;
        top: 11px; }
  .search-results .filter {
    align-self: flex-end; }
    .search-results .filter > a {
      margin-left: 0;
      margin-right: 15px; }
  .solutions {
    width: 95%; }
  .service-item .solutions {
    width: 100%; }
  .service-item .header {
    margin-bottom: 20px; }
  .s-items.flex-wrapper {
    flex-wrap: wrap; }
  .weDo {
    width: 100%; }
  .portfolio-item ul.problems-list {
    width: 100%; }
  .portfolio-item .problems {
    flex-flow: row wrap; }
  .other-cases .card {
    width: 100%; }
  .career .accordion a.panel {
    width: 100%;
    padding: 17px 25px 17px 45px; }
    .career .accordion a.panel:hover:before, .career .accordion a.panel-plus:before {
      left: 20px;
      top: 20px; }
    .career .accordion a.panel .half, .career .accordion a.panel span.exp, .career .accordion a.panel span.vacancy-name, .career .accordion a.panel span.salary {
      float: none;
      width: 100%;
      display: block; }
  .career .accordion .accordion-content .half {
    padding: 0px 25px;
    width: 100%;
    float: none; }
  .other-news h1 {
    margin-bottom: 25px; }
  .other-news p.h1 {
    margin-bottom: 10px; }
  .other-news .item {
    width: 100%;
    margin-bottom: 40px; }
    .other-news .item img {
      width: 100%;
      height: auto; }
  .news-page-item .news-item img {
    width: 100%;
    height: auto; }
  .news-page-item .news-item h1 {
    margin-bottom: 0; } }

/* COLORS */
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  html {
    font-size: 47.0%; }
  .fixed-wrapper {
    width: 960px; }
  .fixed {
    width: 880px; }
  header .logo {
    height: 60px;
    width: 65px; }
  header .btn {
    padding: 10px 10px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300; }
  header .lang a,
  header nav a {
    line-height: 80px; }
  header a.toggle-button {
    display: none; }
  .slider .item {
    height: 540px;
    padding-top: 50px; }
    .slider .item h1 {
      width: 70%;
      margin-bottom: 20px;
      font-size: 6.0rem;
      font-weight: 300;
      line-height: normal;
      color: white; }
    .slider .item p {
      margin-bottom: 30px; }
    .slider .item .btn {
      font-size: 2.0rem; }
  .slider .switcher label {
    min-width: 200px;
    bottom: 30px; }
  .slider .owl-dots {
    bottom: 120px; }
  .small-slider {
    padding: 20px 0; }
  .news-item a {
    width: 100%;
    font-size: 1.8rem; }
  .news-item a > img {
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto; }
  .news-item p.text {
    font-size: 1.8rem; }
  .subscribe {
    width: 50%; }
    .subscribe form input {
      width: 220px; }
  .banner-block img {
    width: 200px;
    height: 250px; }
  .news-item p.h1,
  .news-page .news-item h1,
  .search-results .news-item h1 {
    font-size: 2.2rem; }
  footer .footer-slider {
    width: 40%; }
  footer .social p {
    right: 5px; }
  .nav-left-white {
    left: 15px; }
  .nav-right-white {
    right: 15px; }
  .nav-large {
    width: 24px;
    margin-top: -12px; }
  .nav-medium {
    margin-top: -15px;
    width: 20px; }
  .nav-right-red {
    right: -14px; }
  .nav-left-red {
    left: -14px; }
  .modal-meeting {
    display: table; }
    .modal-meeting form {
      display: table-cell;
      vertical-align: middle; }
    .modal-meeting .thanks p {
      margin-left: 110px;
      height: 600px; }
  .modal-meeting,
  .modal-subscribe,
  .modal-search {
    width: 700px; }
  .modal-subscribe .subscribe {
    padding: 0; }
    .modal-subscribe .subscribe form input {
      width: 100%; }
    .modal-subscribe .subscribe a.btn {
      float: right; }
  .btn-search {
    padding: 15px 25px 15px 50px; }
  /* ABOUT */
  .header-img {
    background-position: 50%; }
    .header-img p.h1,
    .header-img h1 {
      font-size: 6.0rem;
      line-height: 45px; }
  .about .tab {
    padding: 25px; }
  .about .tab-block label {
    padding: 20px 25px;
    line-height: 25px;
    font-size: 2.2rem; }
  .about .tab-block input:checked + label {
    padding: 20px 25px;
    line-height: 25px;
    font-size: 2.2rem; }
  .about .team .item {
    width: 200px;
    min-height: 380px; }
  /* CAREER */
  .header-img-career {
    background-position: 82%; }
  .career .sent-resume p {
    width: 70%; }
  .career .tab-block label {
    line-height: 25px;
    font-size: 2.0rem;
    padding: 13px 25px; }
  .career .tab-block input:checked + label {
    line-height: 25px;
    font-size: 2.0rem; }
  .career .tab-block .profession-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px 50px;
    background-color: white; }
  /* NEWS */
  .news-page .top,
  .search-results .top {
    padding-bottom: 25px; }
  .news-page .news-item > img,
  .search-results .news-item > img {
    width: 50%;
    height: auto; }
  .news-page .news-item .date,
  .news-page .news-item p.text,
  .search-results .news-item .date,
  .search-results .news-item p.text {
    margin-bottom: 10px; }
  .news-page .pagination ul,
  .search-results .pagination ul {
    padding: 0 40px; }
  /* PORTFOLIO */
  .portfolio .choose-block a {
    margin-bottom: 20px; }
  .portfolio .choose-block .choose-slider a {
    width: 100%; }
  .portfolio .choose-block .slider-block {
    width: 100%; }
  .portfolio h1 {
    font-size: 6.0rem;
    line-height: 45px; }
  .card {
    width: 100%; }
  /* PRESS */
  .press .top .top-right,
  .press .top .top-left,
  .press .top p.text {
    width: 100%; }
  .press .top .btn {
    margin-bottom: 10px; }
  .press .top .top-right {
    margin-top: 30px; }
  .press .top .subscribe input {
    width: 660px; }
  .press .tab .news-item img {
    width: 85%;
    height: auto; }
  .press .video-slider .item {
    width: 100%; }
    .press .video-slider .item a.video {
      width: 100%;
      height: auto; }
    .press .video-slider .item .date,
    .press .video-slider .item .views {
      margin-right: 13px; }
  .press .tab-block label {
    padding: 20px 25px;
    line-height: 25px; }
  .press .tab-block input:checked + label {
    padding: 20px 25px;
    line-height: 25px; }
  /*.search-results*/
  .search-results .search-block form {
    width: 70%; }
    .search-results .search-block form input {
      width: 100%; }
    .search-results .search-block form ul {
      width: 517px; }
    .search-results .search-block form .btn {
      margin-top: -40px;
      width: auto; }
      .search-results .search-block form .btn:before {
        left: 18px;
        top: 11px; }
  .search-results .filter > a {
    margin-left: 0;
    margin-right: 15px; }
  .solutions {
    width: 95%; }
  .service-item .solutions {
    width: 100%; }
  .service-item .header {
    margin-bottom: 20px; }
  .s-items.flex-wrapper {
    align-items: flex-start; }
  .weDo {
    width: 100%; }
  .other-news p.h1 {
    margin-bottom: 10px; }
  .other-news .item {
    width: 250px;
    margin-bottom: 35px; }
    .other-news .item img {
      width: 100%;
      height: auto; }
  .news-page-item .news-item h1 {
    margin-bottom: 10px; }
  .news-page-item .news-item img {
    width: 45%;
    height: auto; } }

@media only screen and (min-device-width: 1201px) and (max-device-width: 1480px) {
  html {
    font-size: 55.0%; }
  .fixed-wrapper {
    width: 1200px; }
  .fixed {
    width: 1100px; }
  header .logo {
    height: 80px;
    width: 85px; }
  header .btn {
    padding: 10px 10px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300; }
  header .lang a, header nav a {
    line-height: 80px; }
  header a.toggle-button {
    display: none; }
  .slider .item {
    height: 620px; }
    .slider .item h1 {
      width: 70%;
      margin-bottom: 20px;
      font-size: 6.0rem;
      font-weight: 300;
      line-height: normal;
      color: white; }
    .slider .item p {
      margin-bottom: 30px; }
    .slider .item .btn {
      font-size: 2.0rem; }
  .slider .switcher label {
    min-width: 200px;
    bottom: 30px; }
  .slider .owl-dots {
    bottom: 120px; }
  .news-item a {
    width: 100%;
    font-size: 1.8rem; }
  .news-item a > img {
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto; }
  .news-item p.text {
    font-size: 1.8rem; }
  .subscribe {
    width: 50%; }
    .subscribe form input {
      width: 315px; }
  .banner-block img {
    width: 250px;
    height: 300px; }
  .news-item p.h1,
  .news-page .news-item h1,
  .search-results .news-item h1 {
    font-size: 2.2rem; }
  footer .footer-slider {
    width: 50%;
    margin: 0 35px; }
  .nav-left-white {
    left: 15px; }
  .nav-right-white {
    right: 15px; }
  .nav-large {
    width: 28px;
    margin-top: -14px; }
  .nav-medium {
    margin-top: -15px;
    width: 20px; }
  .nav-right-red {
    right: -14px; }
  .nav-left-red {
    left: -14px; }
  .modal-meeting {
    display: table; }
    .modal-meeting form {
      display: table-cell;
      vertical-align: middle; }
    .modal-meeting .thanks p {
      margin-left: 110px;
      height: 600px; }
  .modal-meeting,
  .modal-subscribe,
  .modal-search {
    width: 700px; }
  .modal-subscribe .subscribe {
    padding: 0; }
    .modal-subscribe .subscribe form input {
      width: 100%; }
    .modal-subscribe .subscribe a.btn {
      float: right; }
  .modal-search .btn {
    padding: 10px 23px 10px 36px;
    height: 39px;
    float: right;
    width: 15%; }
    .modal-search .btn:before {
      left: 14px; }
  /* ABOUT */
  .header-img {
    background-position: 50%; }
    .header-img p.h1,
    .header-img h1 {
      font-size: 6.0rem;
      line-height: 55px; }
  .about .tab {
    padding: 25px; }
  .about .tab-block label {
    padding: 20px 25px;
    line-height: 25px;
    font-size: 2.2rem; }
  .about .tab-block input:checked + label {
    padding: 20px 25px;
    line-height: 25px;
    font-size: 2.2rem; }
  .about .team .item {
    width: 200px;
    min-height: 380px; }
  /* CAREER */
  .header-img-career {
    background-position: 82%; }
  .career .sent-resume p {
    width: 70%; }
  .career .tab-block label {
    line-height: 25px;
    font-size: 2.0rem;
    padding: 13px 25px; }
  .career .tab-block input:checked + label {
    line-height: 25px;
    font-size: 2.0rem; }
  .career .tab-block .profession-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px 50px;
    background-color: white; }
  /* NEWS */
  .news-page .top,
  .search-results .top {
    padding-bottom: 25px; }
  .news-page .news-item img,
  .search-results .news-item img {
    width: 50%;
    height: auto; }
  .news-page .news-item .date,
  .news-page .news-item p.text,
  .search-results .news-item .date,
  .search-results .news-item p.text {
    margin-bottom: 10px; }
  .news-page .pagination ul,
  .search-results .pagination ul {
    padding: 0 40px; }
  /* PORTFOLIO */
  .portfolio .choose-block a {
    margin-bottom: 20px; }
  .portfolio .choose-block .choose-slider a {
    width: 100%; }
  .portfolio .choose-block .slider-block {
    width: 70%; }
  .portfolio h1 {
    font-size: 6.0rem;
    line-height: 45px; }
  .card {
    width: 100%; }
  /* PRESS */
  .press .top .top-right,
  .press .top .top-left,
  .press .top p.text {
    width: 100%; }
  .press .top .btn {
    margin-bottom: 10px; }
  .press .top .top-right {
    margin-top: 30px; }
  .press .top .subscribe input {
    width: 660px; }
  .press .tab .news-item img {
    width: 85%;
    height: auto; }
  .press .video-slider .item {
    width: 100%; }
    .press .video-slider .item a.video {
      width: 100%;
      height: auto; }
  .press .tab-block label {
    padding: 20px 25px;
    line-height: 25px; }
  .press .tab-block input:checked + label {
    padding: 20px 25px;
    line-height: 25px; }
  /*.search-results*/
  .search-results .search-block form {
    width: 70%; }
    .search-results .search-block form input {
      width: 100%; }
    .search-results .search-block form ul {
      width: 665px; }
    .search-results .search-block form .btn {
      margin-top: -40px;
      width: auto; }
      .search-results .search-block form .btn:before {
        left: 18px;
        top: 11px; }
  .search-results .filter > a {
    margin-left: 0;
    margin-right: 15px; }
  .nav-right-red {
    right: -10px; }
  .nav-left-red {
    left: -10px; }
  .small-right {
    right: -30px; }
  .small-left {
    left: -30px; } }

@media only screen and (min-device-width: 1481px) {
  .nav-left-white {
    left: 25px; }
  .nav-right-white {
    right: 25px; }
  .nav-right-red {
    right: -10px; }
  .nav-left-red {
    left: -10px; }
  .small-right {
    right: -30px; }
  .small-left {
    left: -30px; } }

/*# sourceMappingURL=media.css.map */