@charset "UTF-8";
/* COLORS */
/* COLORS */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic);
.modal {
  width: 700px;
  top: -100%;
  right: 0;
  left: 50%;
  z-index: 60;
  margin: 0;
  position: fixed;
  padding: 35px 50px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .modal p.h1, .modal .news-page .news-item h1, .news-page .news-item .modal h1, .modal .search-results .news-item h1, .search-results .news-item .modal h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 22px;
    color: #121212; }
  .modal p {
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 300;
    color: #121212; }
  .modal input {
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .modal input::-webkit-input-placeholder {
      font-size: 19px;
      font-size: 1.9rem;
      font-weight: 300;
      color: #b8b8b8; }
    .modal input::-moz-placeholder {
      font-size: 19px;
      font-size: 1.9rem;
      font-weight: 300;
      color: #b8b8b8; }
    .modal input:-moz-placeholder {
      font-size: 19px;
      font-size: 1.9rem;
      font-weight: 300;
      color: #b8b8b8; }
    .modal input:-ms-input-placeholder {
      font-size: 19px;
      font-size: 1.9rem;
      font-weight: 300;
      color: #b8b8b8; }

.modal-meeting {
  min-height: 480px; }
  .modal-meeting form input {
    margin-bottom: 30px; }
  .modal-meeting form p:last-child {
    float: left; }
  .modal-meeting form a {
    float: right; }
  .modal-meeting form .name {
    width: 80%; }
  .modal-meeting .thanks {
    display: none;
    justify-content: center;
    align-items: center;
    height: 380px; }
  .modal-meeting .btn-m, .modal-meeting .btn-icon-m {
    padding: 15px 55px; }

.modal-search {
  width: 1000px; }
  .modal-search p {
    margin-top: 30px;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 18px;
    color: #675d5d; }
    .modal-search p a {
      color: #121212;
      text-decoration: none; }
      .modal-search p a:hover {
        border-bottom: none; }
  .modal-search .search-calendar {
    display: inline-block;
    position: absolute;
    background: url(../img/calendar.png) no-repeat;
    width: 21px;
    height: 21px;
    background-size: contain;
    right: 13px;
    top: 12px; }
  .modal-search .search-interval {
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 12px;
    line-height: 24px; }

.search-form .search-container .search-input {
  background: transparent; }

.modal-subscribe {
  width: 1000px; }
  .modal-subscribe .subscribe {
    width: 100%; }
  .modal-subscribe .subscribe {
    background: rgba(239, 239, 239, 0); }
  .modal-subscribe .subscribe form input {
    width: 650px; }

.modal-video {
  width: 60%;
  height: 60%; }

.modal-resume .file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.modal-resume form span.btn {
  display: inline-block;
  width: 50%;
  margin-bottom: 25px;
  text-align: center;
  overflow: hidden;
  font-size: 1.7rem;
  font-weight: 300;
  vertical-align: middle;
  position: relative; }

.modal-resume form a.btn-fill, .modal-resume form .menu-fixed a.btn, .menu-fixed .modal-resume form a.btn, .modal-resume form a.btn-logo {
  width: 50%; }

.modal-resume form input[type=text] {
  margin-right: 0; }

.modal-resume form input[type=file] {
  cursor: pointer !important;
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  opacity: 0; }

.modal-diplomas {
  top: 10% !important; }

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: transparent;
  position: fixed;
  cursor: default;
  -webkit-transition: 1s -webkit-all linear;
  transition: 1s all linear;
  pointer-events: none;
  opacity: 0;
  display: block; }

.overlay:target,
.overlay.target {
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 1;
  pointer-events: auto; }

/* активируем модальный блок */
.overlay:target + .modal {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%; }

/* COLORS */
.nav {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background-size: contain; }

.nav-small {
  width: 19px;
  height: 16px;
  margin-top: -8px; }

.nav-medium {
  margin-top: -11px;
  width: 30px;
  height: 25px; }

.nav-large {
  width: 48px;
  height: 47px;
  margin-top: -23px; }

.small-left {
  background: url(../img/nav-l-s-white.png) no-repeat;
  background-size: contain;
  left: -6%;
  left: -44px; }

.small-right {
  background: url(../img/nav-r-s-white.png) no-repeat;
  background-size: contain;
  right: -6%;
  right: -44px; }

.medium-left {
  background: url(../img/nav-l-m-white.png) no-repeat;
  background-size: contain;
  left: -6%;
  left: -44px; }

.medium-right {
  background: url(../img/nav-r-m-white.png) no-repeat;
  background-size: contain;
  right: -6%;
  right: -44px; }

.medium-left-red {
  background: url(../img/nav-l-m-red.png) no-repeat;
  background-size: contain;
  left: -6%;
  left: -44px; }

.medium-right-red {
  background: url(../img/nav-r-m-red.png) no-repeat;
  background-size: contain;
  right: -6%;
  right: -44px; }

.nav-left-red {
  background: url(../img/nav-l-l-red.png) no-repeat;
  background-size: contain;
  left: -6%;
  left: -70px; }

.nav-right-red {
  background: url(../img/nav-r-l-red.png) no-repeat;
  background-size: contain;
  right: -6%;
  right: -70px; }

.nav-left-white {
  background: url(../img/nav-l-l-white.png) no-repeat;
  background-size: contain;
  left: 235px; }

.nav-right-white {
  background: url(../img/nav-r-l-white.png) no-repeat;
  background-size: contain;
  right: 235px; }

.owl-dots {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 160px;
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 15px;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 5px; }
    .owl-dots .owl-dot:hover {
      background: white; }
    .owl-dots .owl-dot.active, .owl-dots .calendar-wrapper .calendar td .owl-dot.today:not(.active), .calendar-wrapper .calendar td .owl-dots .owl-dot.today:not(.active) {
      background: white; }

/* COLORS */
header {
  width: 100%;
  background: #242424;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }
  header .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  header nav a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    color: #bcbec0;
    line-height: 120px;
    padding: 0 20px;
    float: left; }
    header nav a.active, header nav .calendar-wrapper .calendar td a.today:not(.active), .calendar-wrapper .calendar td header nav a.today:not(.active) {
      background: #2f2f2f;
      color: white; }
      header nav a.active:after, header nav .calendar-wrapper .calendar td a.today:not(.active):after, .calendar-wrapper .calendar td header nav a.today:not(.active):after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
    header nav a:hover {
      background: #2f2f2f;
      color: white; }
    header nav a:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #e83523;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      transform: translateY(-10px); }
    header nav a:hover::after,
    header nav a:focus::after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px); }
  header .lang a {
    padding: 10px;
    color: #bdbdbd; }
    header .lang a.active, header .lang .calendar-wrapper .calendar td a.today:not(.active), .calendar-wrapper .calendar td header .lang a.today:not(.active) {
      cursor: default; }
    header .lang a:not(.active):hover {
      color: white;
      background-color: #e83523;
      text-decoration: none; }

.menu-fixed {
  position: fixed;
  z-index: 10;
  display: block;
  height: 80px;
  background: rgba(36, 36, 36, 0.8); }
  .menu-fixed .logo {
    width: 100px;
    height: 80px;
    align-self: flex-start; }
  .menu-fixed nav a {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 80px;
    float: left; }
    .menu-fixed nav a.active, .menu-fixed nav .calendar-wrapper .calendar td a.today:not(.active), .calendar-wrapper .calendar td .menu-fixed nav a.today:not(.active) {
      background: rgba(47, 47, 47, 0.8); }
    .menu-fixed nav a:hover {
      background: rgba(47, 47, 47, 0.8); }
  .menu-fixed .btn {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 10px 15px;
    color: white; }
  .menu-fixed .lang a {
    font-size: 12px;
    font-size: 1.2rem; }

footer {
  padding: 35px 0;
  background: #242424; }
  footer .footer-slider {
    float: left;
    width: 680px;
    margin: 0 50px; }
    footer .footer-slider .item {
      text-align: left; }
      footer .footer-slider .item p {
        line-height: 12px; }
      footer .footer-slider .item img {
        display: inline-block;
        margin-right: 5px;
        height: 16px;
        width: 16px;
        line-height: 12px; }
      footer .footer-slider .item .city {
        margin-bottom: 10px;
        color: #e83523;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 700; }
      footer .footer-slider .item .address {
        margin-bottom: 10px;
        color: #bdbdbd;
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: 400; }
      footer .footer-slider .item .phone {
        color: #bdbdbd;
        font-size: 17px;
        font-size: 1.7rem;
        font-weight: 700;
        text-decoration: none; }
  footer .footer-contacts {
    float: right; }
    footer .footer-contacts a,
    footer .footer-contacts p {
      color: #6b6b6b;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 18px; }
    footer .footer-contacts .btn-s,
    footer .footer-contacts .btn-icon-s,
    footer .footer-contacts .btn-icon-s {
      padding: 5px 10px 5px 35px; }
    footer .footer-contacts a.btn {
      margin-bottom: 17px;
      position: relative; }
    footer .footer-contacts .sub {
      display: inline-block;
      margin-right: 20px;
      float: left; }
      footer .footer-contacts .sub p {
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 15px; }
      footer .footer-contacts .sub a.btn:before {
        position: absolute;
        left: 7px;
        content: '';
        background: url(../img/icon-mail.png) no-repeat;
        top: 7px;
        width: 16px;
        height: 14px;
        transition: background 1.5s; }
      footer .footer-contacts .sub a.btn:hover:before {
        background: url(../img/icon-mail-white.png) no-repeat; }
    footer .footer-contacts .search {
      margin-right: 20px;
      float: left;
      display: inline-block; }
      footer .footer-contacts .search a {
        position: relative;
        display: block; }
        footer .footer-contacts .search a.btn:before {
          position: absolute;
          left: 7px;
          content: '';
          background: url(../img/icon-search.png) no-repeat;
          top: 7px;
          width: 14px;
          height: 14px;
          transition: background 1.5s; }
        footer .footer-contacts .search a.btn:hover:before {
          background: url(../img/icon-search-white.png) no-repeat; }
    footer .footer-contacts .social {
      position: relative;
      display: inline-block;
      text-align: right; }
      footer .footer-contacts .social p {
        margin-top: 20px; }
      footer .footer-contacts .social .social-link {
        display: inline-block;
        width: 27px;
        height: 26px;
        background-color: #6b6b6b;
        background: url(../img/soccial.png) no-repeat;
        opacity: 0.7;
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 1s;
        transition-duration: 1s; }
        footer .footer-contacts .social .social-link-fb {
          background-position: 0 0; }
        footer .footer-contacts .social .social-link-in {
          background-position: -25px 0; }
        footer .footer-contacts .social .social-link-inst {
          background-position: -50px 0; }
        footer .footer-contacts .social .social-link:hover {
          opacity: 1; }

.calendar-wrapper {
  display: none;
  position: absolute;
  z-index: 70;
  background-image: -webkit-linear-gradient(bottom, #2b2b2b 0%, #6f6f6f 100%);
  background-image: linear-gradient(to top, #2b2b2b 0%, #6f6f6f 100%);
  width: 380px;
  text-align: center;
  padding: 25px 0; }
  .calendar-wrapper span {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase; }
  .calendar-wrapper a.nav-right {
    float: right;
    margin-right: 25px;
    width: 16px;
    height: 14px;
    background: url(../img/calendar-right.png) no-repeat; }
  .calendar-wrapper a.nav-left {
    float: left;
    margin-left: 25px;
    width: 16px;
    height: 14px;
    background: url(../img/calendar-left.png) no-repeat; }
  .calendar-wrapper .calendar {
    margin-top: 25px;
    margin-bottom: 35px;
    color: white;
    border-collapse: inherit;
    border-spacing: 0 12px; }
    .calendar-wrapper .calendar thead {
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 20px; }
      .calendar-wrapper .calendar thead th {
        border-top: 1px solid #919292;
        border-bottom: 1px solid #919292; }
    .calendar-wrapper .calendar td div.c-date:hover {
      display: inline-block;
      text-align: center;
      line-height: 35px;
      height: 35px;
      width: 35px;
      color: #292929;
      border-radius: 50%;
      background-color: white;
      cursor: pointer; }
    .calendar-wrapper .calendar td div.c-gray {
      color: #939293; }
    .calendar-wrapper .calendar td .active, .calendar-wrapper .calendar td .today:not(.active) {
      position: absolute;
      top: 0;
      left: 7px;
      display: inline-block;
      text-align: center;
      line-height: 35px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: #e83523;
      z-index: 10; }
    .calendar-wrapper .calendar td .today:not(.active) {
      background-color: #292929; }
    .calendar-wrapper .calendar .interval {
      background: rgba(255, 255, 255, 0.3); }
    .calendar-wrapper .calendar .interval-half {
      position: absolute;
      top: 0;
      display: block;
      width: 20px;
      height: 35px;
      background: rgba(255, 255, 255, 0.3); }
    .calendar-wrapper .calendar .interval-half-start {
      right: 0; }
    .calendar-wrapper .calendar .interval-half-end {
      left: 0; }
    .calendar-wrapper .calendar .interval-row-end {
      background-image: linear-gradient(to right, white 0%, transparent 100%);
      opacity: .3; }
    .calendar-wrapper .calendar .interval-row-start {
      background-image: linear-gradient(to left, white 0%, transparent 100%);
      opacity: .3; }
    .calendar-wrapper .calendar th,
    .calendar-wrapper .calendar td {
      position: relative;
      height: 35px;
      width: 47px;
      vertical-align: middle;
      text-align: center; }
      .calendar-wrapper .calendar th:last-child,
      .calendar-wrapper .calendar th:first-child,
      .calendar-wrapper .calendar td:last-child,
      .calendar-wrapper .calendar td:first-child {
        width: 25px; }
  .calendar-wrapper a.choose-dates {
    color: #eaeaea;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: underline; }
    .calendar-wrapper a.choose-dates:hover {
      text-decoration: none; }

.pagination {
  float: left;
  margin: 25px 0; }
  .pagination a,
  .pagination img {
    display: inline-block;
    line-height: 34px; }
  .pagination ul {
    display: inline-block;
    padding: 0 80px; }
  .pagination ul > li {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0 2px; }
    .pagination ul > li a {
      color: #121212;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 17px;
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 34px;
      border: 2px solid transparent;
      width: 100%;
      height: 100%; }
      .pagination ul > li a:hover {
        color: white;
        background-color: #e83523;
        border-radius: 50%;
        border: 2px solid #e83523; }
      .pagination ul > li a.active, .pagination ul > li .calendar-wrapper .calendar td a.today:not(.active), .calendar-wrapper .calendar td .pagination ul > li a.today:not(.active) {
        color: #e83523;
        border-radius: 50%;
        border: 2px solid #e83523; }
        .pagination ul > li a.active:hover, .pagination ul > li .calendar-wrapper .calendar td a.today:hover:not(.active), .calendar-wrapper .calendar td .pagination ul > li a.today:hover:not(.active) {
          color: white; }

/* TAB */
.tab {
  background: #fff;
  padding: 50px; }
  .tab-wrapper {
    display: flex;
    justify-content: space-between; }
  .tab.text p {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 24px; }

.tab-block input {
  display: none; }

.tab-block section {
  display: none; }

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
  display: block; }

.tab-block label {
  float: left;
  display: inline-block;
  padding: 15px 34px;
  color: #bdbdbd;
  font-size: 30px;
  font-size: 3.0rem;
  font-weight: 100;
  line-height: 60px; }

.tab-block label:hover {
  color: #888;
  cursor: pointer; }

/* стили для активной вкладки */
.tab-block input:checked + label {
  color: #e83523;
  background: #fff;
  font-size: 30px;
  font-size: 3.0rem;
  font-weight: 400;
  line-height: 60px; }

/* END TAB */
.show-all {
  float: left;
  margin: 25px 0; }

.blur {
  -webkit-filter: url(#blur);
  filter: url(#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-transition: 1s -webkit-filter linear;
  transition: 1s filter linear; }

.card {
  height: 265px;
  padding: 30px 25px 15px 25px;
  width: 422px;
  margin: 0 auto;
  border: 1px solid transparent; }
  .card-wrapper {
    position: relative;
    height: 130px;
    overflow: hidden; }
  .card-content {
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    top: 0;
    transition-property: all;
    transition-duration: 0.5s; }
    .card-content p.text {
      margin-bottom: 20px;
      color: white;
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 100;
      line-height: 24px;
      font-family: "Roboto", sans-serif; }
    .card-content img {
      margin-top: 10px;
      margin-bottom: 35px; }
    .card-content .h1 {
      margin-bottom: 20px;
      color: white;
      font-size: 22px;
      font-size: 2.2rem;
      font-weight: 100;
      line-height: 27px; }
    .card-content .btn-m, .card-content .btn-icon-m {
      font-size: 16px;
      font-size: 1.6rem;
      padding: 12px 50px;
      font-weight: 100; }
  .card:hover {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.04); }
    .card:hover .card-wrapper {
      height: 220px; }
    .card:hover .card-content {
      top: -80px; }

.special {
  display: inline-block;
  margin: 25px 0;
  padding: 50px;
  width: 100%;
  background: white; }
  .special-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .special p.h1, .special .news-page .news-item h1, .news-page .news-item .special h1, .special .search-results .news-item h1, .search-results .news-item .special h1 {
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-size: 3.0rem;
    font-weight: 100;
    line-height: 36px;
    text-transform: uppercase; }
  .special .info p {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px; }
  .special .btn {
    margin-top: 40px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 15px 35px; }
  .special img {
    margin-right: 50px; }

.other-news {
  margin-top: 25px;
  padding: 50px;
  background-color: #f1f0f0; }
  .other-news .news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .other-news .item {
    width: 370px; }
    .other-news .item img {
      margin-bottom: 10px; }
  .other-news a {
    text-transform: uppercase;
    color: #2e2e2e;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: underline;
    line-height: 24px; }
    .other-news a:hover {
      text-decoration: none; }
  .other-news p.h1, .other-news .news-page .news-item h1, .news-page .news-item .other-news h1, .other-news .search-results .news-item h1, .search-results .news-item .other-news h1 {
    display: block;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-size: 3.6rem;
    font-weight: 100;
    line-height: 40px; }

.views:before {
  content: url(../img/views.png);
  left: -6px;
  top: 3px; }

.date, .views {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  color: #6f6f6f;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 25px; }
  .date:before, .views:before {
    content: url(../img/time.png);
    position: absolute;
    left: 0px;
    top: 7px; }

.header-img {
  width: 100%;
  min-height: 500px;
  padding: 80px 0; }
  .header-img p {
    color: white; }
  .header-img p.h1, .header-img .news-page .news-item h1, .news-page .news-item .header-img h1, .header-img .search-results .news-item h1, .search-results .news-item .header-img h1 {
    width: 80%;
    margin-bottom: 40px;
    font-size: 80px;
    font-size: 8.0rem;
    font-weight: 100;
    line-height: 85px; }
  .header-img p {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 34px; }
  .header-img-about {
    background-size: cover;
    background: none !important;
    position: relative; }
  .header-img-career {
    background: url(../img/career-bg.png) no-repeat;
    background-size: cover; }
  .header-img-portfolio {
    background: url(../img/portfolio-item-bg.png) no-repeat;
    background-size: cover; }

.preview-case {
  width: 550px;
  height: 350px;
  background: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  transition: all 0.3s; }
  .preview-case p.h1, .preview-case .news-page .news-item h1, .news-page .news-item .preview-case h1, .preview-case .search-results .news-item h1, .search-results .news-item .preview-case h1 {
    color: white; }

.profession-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 40px;
  background-color: white; }
  .profession-list p.total-vacancies {
    margin-right: 25px;
    color: #2f2f2f;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 700; }
  .profession-list a {
    margin-right: 25px;
    margin-bottom: 10px;
    display: block;
    padding: 5px 5px;
    color: #9c9c9c;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: underline; }
    .profession-list a:hover {
      color: #333;
      background-color: #f5f5f5; }

.accordion a.panel {
  position: relative;
  display: block;
  width: 100%;
  padding: 17px 50px 17px 70px;
  background-color: white;
  background-image: linear-gradient(to top, transparent 0%, transparent 100%);
  border-top: 1px solid #eaeaea;
  text-decoration: none; }
  .accordion a.panel span.vacancy-name {
    width: 50%;
    display: inline-block;
    text-transform: uppercase;
    color: #121212;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400; }
  .accordion a.panel .half {
    float: right; }
  .accordion a.panel span {
    color: #8d8d8d;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 18px;
    text-transform: none; }
  .accordion a.panel span.salary {
    width: 350px; }
  .accordion a.panel span.exp {
    float: right; }
  .accordion a.panel span.value {
    font-weight: 700; }
  .accordion a.panel:hover {
    color: white;
    background-color: #e83523; }
    .accordion a.panel:hover span {
      color: white; }
    .accordion a.panel:hover:before {
      content: url(../img/plus--hover.png);
      left: 45px;
      top: 16px; }

.accordion a.panel-plus:before {
  position: absolute;
  content: url(../img/panel-plus.png);
  left: 45px;
  top: 16px; }

.accordion a.panel-minus:before {
  position: absolute;
  content: url(../img/panel-minus.png);
  left: 45px;
  top: 12px; }

.accordion a.panel + div {
  display: none; }

.accordion .accordion-content .half {
  padding: 0 45px; }

.accordion .accordion-content ul {
  margin: 15px 0; }

.accordion .accordion-content ul > li:first-child {
  margin-left: -20px;
  list-style-type: none;
  font-weight: 700; }
  .accordion .accordion-content ul > li:first-child:before {
    content: ''; }

.accordion .accordion-content li > span {
  color: #333435;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px; }

.accordion .accordion-content .requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; }

.accordion .accordion-content .btn {
  margin-left: 45px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 40px; }

.task-block {
  padding: 50px 50px 55px 50px;
  font-size: 20px;
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 28px;
  color: white;
  background: rgba(255, 255, 255, 0.15); }
  .task-block span.header {
    display: block;
    padding-left: 80px;
    position: relative;
    margin-bottom: 35px;
    font-size: 40px;
    font-size: 4.0rem;
    font-weight: 100;
    line-height: 30px; }
    .task-block span.header:before {
      position: absolute;
      left: 0;
      top: -10px; }
    .task-block span.header-task:before {
      content: url(../img/header-task.png); }

a.toggle-button {
  display: none; }
  a.toggle-button img {
    width: 18px; }

.input-search, input.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-right: 45px; }
  .input-search input, input.search input {
    padding: 6px 13px;
    padding-right: 40px;
    margin-bottom: 0;
    background: white; }
  .input-search li > a, input.search li > a {
    border-bottom: 1px solid #f5f5f5;
    display: block;
    line-height: 36px;
    background: white;
    padding: 0 13px;
    color: #050505;
    text-decoration: none;
    font-size: 19px;
    font-size: 1.9rem;
    font-weight: 300; }
    .input-search li > a:hover, input.search li > a:hover {
      background: #fafafa; }
  .input-search .btn, input.search .btn {
    height: 45px;
    line-height: 45px; }

.search-form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start; }
  .search-form .search-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%; }
    .search-form .search-container .search-input {
      width: 100%;
      background: white;
      margin-bottom: 25px; }
      .search-form .search-container .search-input ul {
        position: absolute;
        width: 100%;
        top: 44px; }
      .search-form .search-container .search-input li > a {
        border-bottom: 1px solid #f5f5f5;
        display: block;
        line-height: 36px;
        background: white;
        padding: 0 13px;
        color: #050505;
        text-decoration: none;
        font-size: 19px;
        font-size: 1.9rem;
        font-weight: 300; }
        .search-form .search-container .search-input li > a:hover {
          background: #fafafa; }

.search-block {
  width: 50%; }
  .search-block form input {
    float: left;
    display: inline-block;
    background: white; }
  .search-block form ul {
    width: 70%; }

.item-center {
  display: flex;
  align-content: center;
  align-items: center; }
  .item-center div.info {
    padding-right: 15px; }

/* GRAPH */
.graph-point {
  font-family: "Roboto Condensed",sans-serif;
  position: absolute;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 300;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 6;
  -webkit-transition: 100ms all;
  transition: 100ms all; }

.graph-point:after {
  content: ' ';
  border-radius: 50%;
  background: #e83523;
  width: 7px;
  height: 7px;
  display: block;
  margin: 15px auto 0 auto;
  z-index: 6; }

.graph-point:hover:after {
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

.graph-point:hover {
  color: #e83523; }

.graph-point.white:after {
  background: #ffffff; }

.graph-point.active, .calendar-wrapper .calendar td .graph-point.today:not(.active) {
  font-weight: 700;
  margin-bottom: 7px; }

.graph-line {
  background: #e9e9e9;
  height: 3px;
  position: absolute;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 5; }

.graph-line .red {
  position: absolute;
  background: #e83523;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  height: 12px;
  width: 0;
  display: block;
  -webkit-transition: 100ms all;
  transition: 100ms all;
  z-index: 5; }

.graph-line.active .red, .calendar-wrapper .calendar td .graph-line.today:not(.active) .red {
  width: 104%; }

.marker {
  background: url(../img/graph-active.png) 0 0 no-repeat;
  position: absolute;
  height: 34px;
  width: 34px;
  z-index: 7;
  -webkit-transition: 100ms all;
  transition: 100ms all;
  -webkit-transform: translate(-50%, 40%);
  transform: translate(-50%, 40%); }

.marker.marker2 {
  background: url(/bitrix/templates/aero/img/marker2.png) 0 0 no-repeat;
  width: 50px;
  -webkit-transform: translate(-30%, 40%);
  transform: translate(-30%, 40%);
  z-index: 6; }

/* VIDEO */
.video-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden; }

.video-wrapper video {
  width: 100%;
  height: auto; }

.video-wrapper .mejs-container .mejs-controls {
  display: none !important; }

/* COLORS */
/* HELPERS */
.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.blur-filter {
  display: none; }

.fixed-wrapper {
  width: 1480px;
  padding: 0 15px;
  margin: 0 auto; }

.fixed {
  width: 1300px;
  margin: 0 auto; }

.half {
  display: inline-block;
  width: 49.5%;
  float: left; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

.divider {
  width: 100%;
  height: 1px;
  background-color: #eaeaea; }

.shift-left {
  left: -100% !important; }

.shift-right {
  right: 0 !important; }

.item-center {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.item-list {
  margin: 50px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

main {
  position: relative; }

/* COLORS */
/* FONTS */
/* TYPOGRAPHY */
b {
  font-weight: 700; }

p {
  line-height: 24px; }

p.h1, .news-page .news-item h1, .search-results .news-item h1 {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 32px;
  font-family: "Roboto", sans-serif; }

p.error-message {
  padding-top: 30px;
  margin: 0;
  color: #e83523; }

/* COLORS */
/* MAIN STYLES */
* {
  outline: none;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }
  html body {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden; }
  html h1 {
    color: #fffefe;
    font-family: "Roboto", sans-serif;
    font-size: 7.0rem;
    font-weight: 300; }
  html p {
    color: #121212;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.8rem;
    font-weight: 300; }
  html a {
    color: #e83523; }
    html a.active, html .calendar-wrapper .calendar td a.today:not(.active), .calendar-wrapper .calendar td html a.today:not(.active) {
      text-decoration: none;
      color: #bdbdbd; }
    html a:hover {
      text-decoration: none; }
  html input {
    border: 2px solid transparent;
    font-family: "Roboto", sans-serif;
    padding: 8px 10px;
    background: #f5f5f5;
    color: #121212;
    width: 100%;
    font-size: 19px;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 24px;
    -webkit-appearance: none;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: all;
    transition-property: all;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    html input:focus {
      outline: none;
      border: 2px solid #82d7ef; }
    html input::-webkit-input-placeholder {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 300;
      color: #b8b8b8; }
    html input::-moz-placeholder {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 300;
      color: #b8b8b8; }
    html input:-moz-placeholder {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 300;
      color: #b8b8b8; }
    html input:-ms-input-placeholder {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 300;
      color: #b8b8b8; }

/* BUTTONS */
.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
  -webkit-transition-property: background, border, color;
  transition-property: background, border, color;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }
  .btn-fill, .menu-fixed .btn, .btn-logo {
    color: white;
    background: #e83523;
    border: 1px solid transparent; }
    .btn-fill:hover, .menu-fixed .btn:hover, .btn-logo:hover {
      background: #121212; }
  .btn-red, .menu-fixed .btn {
    border: 1px solid #e83523; }
    .btn-red:hover, .menu-fixed .btn:hover {
      color: white;
      background: #121212;
      border: 1px solid #121212; }
  .btn-gray {
    color: #6b6b6b;
    border: 1px solid #6b6b6b; }
    .btn-gray:hover {
      color: white;
      background-color: #e83523;
      border: 1px solid #e83523; }
  .btn-lgray {
    color: #bcbec0;
    border: 1px solid #bcbec0; }
    .btn-lgray:hover {
      color: white;
      background-color: #e83523;
      border: 1px solid #e83523; }
  .btn-transparent {
    color: white;
    padding: 20px 40px;
    border: 1px solid white;
    text-align: center;
    background: transparent;
    opacity: 1; }
    .btn-transparent:hover {
      color: white;
      background: rgba(27, 28, 25, 0.5); }
  .btn-s, .btn-icon-s {
    padding: 10px 25px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400; }
  .btn-m, .btn-icon-m {
    padding: 15px 15px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400; }
  .btn-l, .btn-icon-l {
    padding: 20px 45px;
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: 300; }
  .btn-icon-s {
    padding-left: 40px; }
  .btn-icon-m {
    padding-left: 40px; }
  .btn-icon-l {
    padding-left: 40px; }
  .btn-search {
    padding: 12px 25px 12px 50px; }
    .btn-search:before {
      content: url(../img/icon-search-white.png);
      position: absolute;
      left: 27px;
      top: 16px; }
  .btn-logo {
    position: relative;
    padding: 10px 40px 10px 10px;
    font-size: 14px;
    font-weight: 700; }
    .btn-logo:after {
      position: absolute;
      content: url(../img/eps.png);
      right: 13px;
      top: 8px; }
    .btn-logo span {
      font-size: 10px;
      font-weight: 300; }
  .btn-presentation {
    position: relative;
    background-color: #121212;
    color: white;
    padding: 10px 40px 10px 10px;
    font-size: 14px;
    font-weight: 700; }
    .btn-presentation:hover {
      background-color: #e83523; }
    .btn-presentation:after {
      position: absolute;
      content: url(../img/pdf.png);
      right: 13px;
      top: 8px; }
    .btn-presentation span {
      font-size: 10px;
      font-weight: 300; }
  .btn-soc {
    text-decoration: none;
    color: black;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    padding: 5px 15px 5px 30px;
    margin-left: 10px; }
    .btn-soc:hover {
      background: #e83523;
      color: white; }
    .btn-soc--fb:before {
      position: absolute;
      content: '';
      width: 15px;
      height: 17px;
      background: url(../img/btn-soc-fb.png) no-repeat;
      left: 13px;
      top: 7px;
      transition: background 1.5s; }
    .btn-soc--fb:hover:before {
      background: url(../img/btn-soc-fb-hover.png) no-repeat; }
    .btn-soc--in:before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      background: url(../img/btn-soc-in.png) no-repeat;
      left: 13px;
      top: 8px;
      transition: background 1.5s; }
    .btn-soc--in:hover:before {
      background: url(../img/btn-soc-in-hover.png) no-repeat; }

/* OTHER */
div.list > ul {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  padding-left: 20px; }
  div.list > ul li {
    position: relative;
    font-weight: 300;
    color: #121212;
    line-height: 34px;
    font-size: 1.6rem; }
    div.list > ul li:before {
      content: '•';
      position: absolute;
      left: -15px;
      color: #e83523;
      font-size: 24px; }

div.list-number > ul {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  padding-left: 20px;
  list-style-type: decimal; }
  div.list-number > ul li {
    position: relative;
    font-weight: 300;
    color: #121212;
    line-height: 40px;
    font-size: 1.6rem; }

menu {
  display: inline-block; }
  menu > li {
    display: inline-block; }

.sent-resume {
  margin-bottom: 50px;
  padding: 40px 50px;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  .sent-resume p {
    margin-bottom: 0;
    width: 75%;
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 24px; }

.header-img-portfolio p {
  width: 100%; }

.close {
  top: 10px;
  padding: 20px;
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px; }
  .close-white {
    background-color: white;
    background: url(../img/close-white.png) 9px 9px no-repeat; }
  .close-black {
    background-color: #121212;
    background: url(../img/close.png) 9px 9px no-repeat; }
  .close:hover {
    background-color: #e83523;
    background: url(../img/close--hover-red.png) no-repeat; }

.required:after {
  content: ' *';
  font-size: 20px;
  font-weight: 900;
  color: #e83523; }

.input-error {
  border: 2px solid #e47878 !important; }

.dashed {
  border-bottom: 1px dashed #121212; }

.input-icon {
  padding-right: 40px; }

.search-input {
  position: relative; }

/* PORTFOLIO-ITEM */
.header-img h1 {
  font-size: 8.0rem;
  font-weight: 100; }

.s-items.flex-wrapper {
  flex-wrap: nowrap; }

.weDo {
  position: relative;
  padding-left: 60px; }
  .weDo p {
    padding-right: 75px; }
  .weDo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 45px;
    height: 32px;
    background: url(../img/weDo.png) no-repeat; }

.service-item {
  padding: 50px 0; }
  .service-item p.h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase; }
  .service-item .solutions {
    margin: 0 auto;
    width: 1400px;
    background: white;
    padding: 50px 0; }
    .service-item .solutions .s-items.flex-wrapper {
      justify-content: flex-start; }
    .service-item .solutions .weDo:before {
      top: -5px; }
    .service-item .solutions .header {
      margin-bottom: 60px; }
    .service-item .solutions .solution-content p {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 24px;
      margin-bottom: 20px; }
  .service-item .recomendation {
    padding: 60px 0 80px 0;
    background-color: #eee; }
    .service-item .recomendation .header {
      padding: 0;
      font-size: 3.6rem; }
    .service-item .recomendation-card img {
      display: inline-block;
      margin-right: 50px; }
    .service-item .recomendation-card .name {
      margin-bottom: 20px;
      font-size: 2.5rem;
      font-weight: 500; }
    .service-item .recomendation-card p.company {
      margin-bottom: 30px;
      font-size: 1.9rem;
      font-weight: 300;
      font-style: italic;
      line-height: 45px;
      color: #8f8f8f; }
    .service-item .recomendation-card p.text {
      margin-bottom: 35px;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 33px; }
    .service-item .recomendation-card span {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 24px; }
      .service-item .recomendation-card span a {
        text-decoration: none;
        color: black;
        border: 1px solid #aeaeae;
        border-radius: 5px;
        margin-left: 10px; }
  .service-item .other-cases .card {
    width: 380px;
    display: inline-block; }
    .service-item .other-cases .card .h1,
    .service-item .other-cases .card .text {
      color: #121212; }
    .service-item .other-cases .card:hover {
      border: 1px solid #121212; }
  .service-item div.header {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
    font-size: 4.0rem;
    font-weight: 100;
    line-height: 30px; }
    .service-item div.header img {
      margin-right: 20px; }
    .service-item div.header:before {
      position: absolute;
      left: 0;
      top: -10px; }
    .service-item div.header-paper:before {
      content: url(../img/header-paper.png); }
    .service-item div.header-case:before {
      content: url(../img/header-case.png);
      top: -20px; }
    .service-item div.header-chat:before {
      content: url(../img/header-chat.png);
      top: -20px; }

.appointment {
  padding: 80px;
  margin: 50px 0; }
  .appointment p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    font-weight: 100; }

.info-block {
  padding: 50px 0; }
  .info-block p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 24px;
    margin-bottom: 20px; }

.header-img .header {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 35px;
  font-size: 4.0rem;
  font-weight: 100;
  line-height: 30px; }
  .header-img .header img {
    margin-right: 20px; }

.header-img .solutions ul > li {
  color: white;
  font-size: 2.0rem;
  line-height: 24px;
  font-weight: 300; }

.solutions {
  margin: 50px auto;
  width: 1400px;
  background: white;
  border-bottom: 4px solid #eeeeee;
  padding: 50px 0; }
  .solutions .header {
    margin-bottom: 40px; }
  .solutions .problem-tip {
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px 10px 10px 50px;
    margin-bottom: 40px;
    color: white;
    text-align: right;
    background-color: #333;
    text-transform: uppercase; }
  .solutions-transparent {
    background: rgba(255, 255, 255, 0.15); }
  .solutions span {
    display: inline-block;
    margin-left: 20px; }
  .solutions p {
    font-size: 1.8rem;
    line-height: 24px;
    margin-bottom: 15px; }
    .solutions p:last-child {
      margin-bottom: 0; }

.portfolio-item div.header {
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 35px;
  font-size: 4.0rem;
  font-weight: 100;
  line-height: 30px; }
  .portfolio-item div.header img {
    margin-right: 20px; }

.portfolio-item .problems {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between; }

.portfolio-item ul.problems-list {
  width: 68%;
  margin-top: 25px;
  padding-left: 0;
  counter-reset: item; }
  .portfolio-item ul.problems-list li {
    margin-bottom: 10px;
    list-style-type: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; }
    .portfolio-item ul.problems-list li:before {
      height: 25px;
      text-align: center;
      width: 25px;
      line-height: 27px;
      margin-right: 10px;
      display: inline-block;
      color: #e83523;
      counter-increment: item;
      content: counter(item);
      border: 1px solid #e83523;
      border-radius: 20px; }
    .portfolio-item ul.problems-list li.active a, .portfolio-item ul.problems-list .calendar-wrapper .calendar td li.today:not(.active) a, .calendar-wrapper .calendar td .portfolio-item ul.problems-list li.today:not(.active) a {
      color: #e83523;
      border-bottom: 1px dashed #e83523; }
    .portfolio-item ul.problems-list li a {
      color: #121212;
      text-decoration: none;
      border-bottom: 1px dashed #333435;
      font-family: "Roboto Condensed";
      font-size: 1.8rem; }
      .portfolio-item ul.problems-list li a:hover {
        color: #e83523;
        border-bottom: 1px dashed transparent; }

.portfolio-item .results ul {
  counter-reset: item;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .portfolio-item .results ul > div {
    width: 43%;
    margin: 15px 0; }
  .portfolio-item .results ul li {
    margin-right: 10px;
    list-style-type: none; }
    .portfolio-item .results ul li:before {
      font-size: 2.4rem;
      height: 50px;
      text-align: center;
      width: 50px;
      line-height: 50px;
      margin-right: 10px;
      display: inline-block;
      color: #e83523;
      counter-increment: item;
      content: counter(item);
      border: 1px solid #e83523;
      border-radius: 50%; }
  .portfolio-item .results ul p {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.8rem;
    line-height: 24px;
    font-weight: 300; }
    .portfolio-item .results ul p span {
      color: #e83523;
      font-size: 2.4rem;
      font-weight: 400; }

.portfolio-item .recomendation {
  background-color: #eee; }
  .portfolio-item .recomendation-card {
    display: flex;
    align-items: flex-start; }
    .portfolio-item .recomendation-card img {
      display: inline-block;
      margin-right: 50px; }
    .portfolio-item .recomendation-card .name {
      margin-bottom: 20px;
      font-size: 2.5rem;
      font-weight: 500; }
    .portfolio-item .recomendation-card p.company {
      margin-bottom: 30px;
      font-size: 1.9rem;
      font-weight: 300;
      font-style: italic;
      line-height: 45px;
      color: #8f8f8f; }
    .portfolio-item .recomendation-card p.text {
      margin-bottom: 35px;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 33px; }
    .portfolio-item .recomendation-card span {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 24px; }

.portfolio-item .solutions-wrapper {
  counter-reset: item;
  position: relative;
  height: 65px; }
  .portfolio-item .solutions-wrapper .graph-point {
    -webkit-transform: translate(-50%, 9px);
    transform: translate(-50%, 9px); }
    .portfolio-item .solutions-wrapper .graph-point:after {
      background: #fff;
      border: 1px solid #e83523;
      counter-increment: item;
      content: counter(item);
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 27px;
      color: #e83523; }
    .portfolio-item .solutions-wrapper .graph-point:hover:after {
      background: #e83523;
      color: #fff;
      -webkit-transform: none;
      transform: none; }
    .portfolio-item .solutions-wrapper .graph-point.active, .portfolio-item .solutions-wrapper .calendar-wrapper .calendar td .graph-point.today:not(.active), .calendar-wrapper .calendar td .portfolio-item .solutions-wrapper .graph-point.today:not(.active) {
      margin-bottom: 0; }
      .portfolio-item .solutions-wrapper .graph-point.active:after, .portfolio-item .solutions-wrapper .calendar-wrapper .calendar td .graph-point.today:not(.active):after, .calendar-wrapper .calendar td .portfolio-item .solutions-wrapper .graph-point.today:not(.active):after {
        background: #e83523;
        color: #fff; }

.portfolio-item .solution-text {
  display: none;
  padding-top: 45px; }

.portfolio-item .solution-text, .portfolio-item .solution-text p {
  color: #333435;
  font-weight: 300;
  font-family: "Roboto Condensed",sans-serif;
  font-size: 1.8rem;
  line-height: 22px; }

.portfolio-item .graph-line.active .red, .portfolio-item .calendar-wrapper .calendar td .graph-line.today:not(.active) .red, .calendar-wrapper .calendar td .portfolio-item .graph-line.today:not(.active) .red {
  width: 100%; }

.solutions.solutions-transparent, .solutions.slider-wrapper {
  border: none; }

/* CONTACTS */
.contacts {
  position: relative;
  width: 100%;
  min-height: 800px; }
  .contacts a.panel {
    font-size: 2.0rem;
    font-weight: 300;
    color: #121212; }
  .contacts .accordion {
    z-index: 20;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 600px; }
    .contacts .accordion p.h1, .contacts .accordion .news-page .news-item h1, .news-page .news-item .contacts .accordion h1, .contacts .accordion .search-results .news-item h1, .search-results .news-item .contacts .accordion h1 {
      background-color: white;
      font-size: 3.6rem;
      font-weight: 300;
      line-height: 60px;
      padding: 25px 0 25px 45px; }
    .contacts .accordion .accordion-content {
      background: rgba(255, 255, 255, 0.9);
      padding: 20px 70px; }
      .contacts .accordion .accordion-content .contact-block {
        margin-bottom: 20px; }
      .contacts .accordion .accordion-content p.header {
        margin-bottom: 5px;
        font-family: "Roboto", sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 25px; }
      .contacts .accordion .accordion-content a.info,
      .contacts .accordion .accordion-content p.info {
        font-size: 1.8rem; }
      .contacts .accordion .accordion-content p.more-info {
        font-size: 1.5rem;
        line-height: 20px;
        margin-bottom: 15px; }
      .contacts .accordion .accordion-content a[href^="tel"] {
        color: #121212;
        text-decoration: none;
        font-weight: 300; }

/* SEARCH RESULTS */
.search-results h1 {
  margin-bottom: 30px;
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 32px;
  float: left;
  color: #333435; }

.search-results .search-block {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .search-results .search-block form input {
    width: 680px;
    background: white; }
  .search-results .search-block form ul {
    width: 680px; }

.search-results .top {
  margin-bottom: 0;
  padding: 40px 0 30px 0; }
  .search-results .top p.h1, .news-page .news-item .search-results .top h1, .search-results .top .news-item h1, .search-results .news-item .top h1 {
    float: left;
    margin-bottom: 0; }
  .search-results .top .filter {
    position: relative; }
    .search-results .top .filter > a {
      color: #121212;
      text-decoration: none; }

/* PRESS */
.press {
  padding: 25px 0 25px 0; }
  .press h1,
  .press p.h1, .press .news-page .news-item h1, .news-page .news-item .press h1, .press .search-results .news-item h1, .search-results .news-item .press h1 {
    margin-bottom: 30px;
    color: #000001;
    font-size: 3.6rem;
    font-weight: 100; }
  .press .top {
    margin-bottom: 20px; }
    .press .top .text {
      width: 70%; }
      .press .top .text p {
        margin-bottom: 15px; }
      .press .top .text a:first-child {
        color: black;
        font-weight: 400;
        text-decoration: none; }
    .press .top-left {
      float: left;
      width: 50%; }
    .press .top-right {
      float: right;
      width: 50%; }
      .press .top-right .btn-logo {
        margin-right: 20px; }
    .press .top .subscribe {
      width: 100%;
      margin-top: 20px;
      padding: 30px 40px;
      background-color: #f0efef; }
  .press .video-slider {
    margin-bottom: 40px; }
    .press .video-slider .item {
      width: 365px; }
      .press .video-slider .item a.video {
        position: relative;
        display: block;
        margin-bottom: 17px;
        width: 365px;
        height: 240px; }
        .press .video-slider .item a.video img {
          width: 100%;
          height: auto; }
        .press .video-slider .item a.video span {
          z-index: 20;
          position: absolute;
          padding: 5px 10px;
          color: white;
          background-color: #525252;
          right: 0;
          bottom: 0;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          line-height: 18px; }
        .press .video-slider .item a.video .fade {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(27, 28, 25, 0.5);
          margin: auto;
          display: block;
          z-index: 19;
          background: rgba(27, 28, 25, 0);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 1s;
          transition-duration: 1s; }
          .press .video-slider .item a.video .fade:hover {
            background: rgba(27, 28, 25, 0.5); }
        .press .video-slider .item a.video .play {
          pointer-events: none;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -32px 0 0 -32px;
          width: 65px;
          height: 65px;
          z-index: 20;
          display: block;
          background: url(../img/play.png) no-repeat 50%; }
          .press .video-slider .item a.video .play:hover .play ~ .fade {
            background: rgba(27, 28, 25, 0.5); }
      .press .video-slider .item .date, .press .video-slider .item .views {
        margin-right: 40px; }
      .press .video-slider .item p.h1, .press .video-slider .item .news-page .news-item h1, .news-page .news-item .press .video-slider .item h1, .press .video-slider .item .search-results .news-item h1, .search-results .news-item .press .video-slider .item h1 {
        margin: 20px 0 25px 0;
        line-height: 24px;
        color: #1c1c1c;
        font-family: "Roboto", sans-serif;
        font-size: 1.8rem;
        font-weight: 400; }
      .press .video-slider .item p {
        color: #333435;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.8rem;
        font-weight: 300; }
  .press .tab {
    padding: 0; }
    .press .tab .news-item img {
      margin-bottom: 20px; }
  .press .subscribe-block {
    padding: 25px 50px;
    justify-content: flex-end;
    align-items: center; }
    .press .subscribe-block a {
      margin: 0;
      float: right; }

/* NEWS PAGE */
.news-page, .search-results {
  padding: 50px 0; }
  .news-page .top, .search-results .top {
    padding-bottom: 50px; }
    .news-page .top h1, .search-results .top h1 {
      font-size: 3.6rem;
      font-weight: 100;
      line-height: 32px;
      float: left;
      color: #333435; }
  .news-page .filter, .search-results .filter {
    position: relative;
    float: right;
    line-height: 32px; }
    .news-page .filter > a, .search-results .filter > a {
      margin-left: 15px;
      color: #e83523;
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 16px; }
    .news-page .filter > a.active, .search-results .filter > a.active, .news-page .calendar-wrapper .calendar td .filter > a.today:not(.active), .calendar-wrapper .calendar td .news-page .filter > a.today:not(.active), .search-results .calendar-wrapper .calendar td .filter > a.today:not(.active), .calendar-wrapper .calendar td .search-results .filter > a.today:not(.active) {
      font-weight: 700; }
  .news-page .news-list, .search-results .news-list {
    margin-bottom: 50px;
    min-height: 400px; }
  .news-page .news-item, .search-results .news-item {
    color: #333435;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 18px;
    padding: 50px;
    background-color: white; }
    .news-page .news-item > a > img, .search-results .news-item > a > img, .news-page .news-item > a .preview-case, .search-results .news-item > a .preview-case {
      float: left;
      margin-right: 50px; }
    .news-page .news-item .date, .search-results .news-item .date, .news-page .news-item .views, .search-results .news-item .views {
      margin-bottom: 30px; }
    .news-page .news-item p.text, .search-results .news-item p.text {
      margin-bottom: 50px; }
  .news-page .subscribe, .search-results .subscribe {
    background-color: #f0efef;
    float: right; }

/* CAREER */
.career {
  padding: 50px 0; }
  .career h1 {
    font-weight: 100;
    font-size: 36px;
    color: #121212;
    margin-bottom: 20px; }
  .career p.h1, .career .news-page .news-item h1, .news-page .news-item .career h1, .career .search-results .news-item h1, .search-results .news-item .career h1 {
    margin-bottom: 30px; }
  .career .tab {
    padding: 0; }
  .career .info {
    margin-bottom: 40px; }
    .career .info p {
      margin-bottom: 20px; }
  .career .accordion-content p {
    line-height: 45px;
    font-size: 1.6rem; }
  .career a.panel:hover {
    color: white;
    background-color: #e83523; }
    .career a.panel:hover span {
      color: white; }
    .career a.panel:hover:before {
      content: url(../img/plus--hover.png);
      left: 45px;
      top: 19px; }
  .career a.panel-plus:before {
    position: absolute;
    content: url(../img/panel-plus.png);
    left: 45px;
    top: 19px; }
  .career a.panel-minus:before {
    position: absolute;
    content: url(../img/panel-minus.png);
    left: 45px;
    top: 15px; }

/* ABOUT */
.about {
  padding: 50px 0 50px 0; }
  .about .tab-block {
    margin-bottom: 40px; }
    .about .tab-block p.h1, .about .tab-block .news-page .news-item h1, .news-page .news-item .about .tab-block h1, .about .tab-block .search-results .news-item h1, .search-results .news-item .about .tab-block h1 {
      margin-bottom: 20px;
      color: #1c1c1c;
      font-family: "Roboto", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase; }
    .about .tab-block ul {
      float: left; }
      .about .tab-block ul > li {
        margin-bottom: 20px;
        line-height: 18px;
        font-size: 1.8rem;
        font-weight: 300;
        font-family: "Roboto Condensed", sans-serif; }
  .about .team {
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 25px; }
    .about .team .item {
      width: 250px;
      min-height: 380px;
      padding: 15px 0;
      text-align: center;
      margin: 0 auto; }
      .about .team .item img {
        width: 100%;
        height: auto;
        margin-bottom: 20px; }
      .about .team .item p.name {
        /* margin: 0 auto; */
        margin-bottom: 15px;
        font-size: 2.2rem;
        font-weight: 400; }
        .about .team .item p.name span {
          text-transform: uppercase; }
      .about .team .item p.info {
        padding: 0 30px;
        font-size: 1.6rem;
        font-weight: 100;
        font-style: italic; }
    .about .team .nav {
      top: 35%; }
  .about .office-slider {
    margin-bottom: 30px; }
    .about .office-slider img {
      width: 100%;
      height: auto; }
  .about .office-slider-inner {
    padding: 45px 0;
    background-color: #e0e2e3;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.04); }
    .about .office-slider-inner .item-preview {
      position: relative;
      display: inline-block;
      width: 190px;
      height: 190px;
      border: 5px solid white;
      border-radius: 5px; }
      .about .office-slider-inner .item-preview:after {
        position: absolute;
        top: 0;
        content: url(../img/slider-pointer.png); }
    .about .office-slider-inner .medium-right-red {
      right: 44px; }
    .about .office-slider-inner .medium-left-red {
      left: 44px; }
  .about .history {
    padding: 50px 0 !important; }
    .about .history p.h1, .about .history .news-page .news-item h1, .news-page .news-item .about .history h1, .about .history .search-results .news-item h1, .search-results .news-item .about .history h1 {
      margin-bottom: 20px; }
    .about .history .history-line {
      height: 180px;
      width: 100%;
      position: relative;
      margin-bottom: 40px; }
    .about .history .opinion {
      width: 565px;
      display: none;
      margin: 0 auto;
      padding: 20px 0; }
      .about .history .opinion p {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.8rem;
        line-height: 22px; }
      .about .history .opinion p.h1, .about .history .opinion .news-page .news-item h1, .news-page .news-item .about .history .opinion h1, .about .history .opinion .search-results .news-item h1, .search-results .news-item .about .history .opinion h1 {
        margin-bottom: 0;
        color: #333435;
        font-weight: 300; }
      .about .history .opinion p.text {
        margin-top: 20px;
        margin-bottom: 20px !important;
        color: #9d9d9c;
        font-style: italic; }
      .about .history .opinion p.signature-name {
        color: #333435;
        font-weight: 700;
        font-style: italic; }
      .about .history .opinion p.signature-role {
        color: #878787;
        font-style: italic; }
  .about .diplomas {
    margin-top: 50px;
    float: left;
    width: 40%; }
    .about .diplomas p.h1, .about .diplomas .news-page .news-item h1, .news-page .news-item .about .diplomas h1, .about .diplomas .search-results .news-item h1, .search-results .news-item .about .diplomas h1 {
      margin-bottom: 40px; }
    .about .diplomas-slider .item {
      display: inline-block;
      position: relative; }
      .about .diplomas-slider .item a {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        transition: 0.3s ease-out;
        background: url(../img/show-img.png) no-repeat 50% 50%;
        background-size: cover; }
        .about .diplomas-slider .item a:hover {
          opacity: 1; }
      .about .diplomas-slider .item img {
        vertical-align: middle; }
  .about .clients {
    margin-top: 50px;
    float: right;
    width: 40%; }
    .about .clients p.h1, .about .clients .news-page .news-item h1, .news-page .news-item .about .clients h1, .about .clients .search-results .news-item h1, .search-results .news-item .about .clients h1 {
      margin-bottom: 40px; }
    .about .clients .clients-slider .item {
      text-align: center; }

/*NEWS-ITEM*/
.news-page-item {
  padding: 50px 0 50px 0; }
  .news-page-item .news-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px; }
    .news-page-item .news-item h1 {
      width: 80%;
      margin-bottom: 40px;
      font-size: 3.6rem;
      color: black;
      font-weight: 100;
      line-height: 45px; }
    .news-page-item .news-item p:not(.date) {
      margin-bottom: 30px;
      color: #121212;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 24px; }
    .news-page-item .news-item img {
      float: right;
      margin: 0 0 50px 100px; }
  .news-page-item .date, .news-page-item .views {
    display: block; }
  .news-page-item .subscribe,
  .news-page-item .subscribe-block {
    background-color: #f1f0f0; }

/* SERVICES */
.services, .portfolio {
  padding: 60px 0 30px 0;
  min-height: 1000px;
  background: url(../img/services-bg.png) no-repeat;
  background-size: cover; }
  .services h1, .portfolio h1 {
    width: 90%;
    padding: 30px 0 50px 0;
    font-weight: 100; }

/* PORTFOLIO */
.portfolio {
  background: url(../img/portfolio-bg.png) no-repeat;
  background-size: cover; }
  .portfolio h1 {
    font-weight: 100; }
  .portfolio .choose-block {
    margin-bottom: 50px; }
    .portfolio .choose-block .slider-block {
      width: 950px;
      float: right; }
    .portfolio .choose-block a {
      height: 90px;
      float: left;
      padding: 30px 78px;
      line-height: 27px; }
  .portfolio .choose-slider a {
    width: 238px;
    height: 90px;
    padding: 18px 50px 18px 50px;
    word-break: break-all;
    color: #fffefe;
    border: 1px solid white;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 27px;
    text-decoration: none;
    display: block;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
    .portfolio .choose-slider a:hover {
      color: white;
      background: rgba(27, 28, 25, 0.5); }

/* INDEX */
.main-slider.owl-carousel.owl-loaded,
#slider-portfolio,
#slider-services {
  display: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

.slider .switcher {
  position: relative;
  margin: 0 auto;
  z-index: 3; }
  .slider .switcher label {
    position: absolute;
    min-width: 200px;
    z-index: 33;
    bottom: 60px; }
  .slider .switcher label.btn-services {
    left: 50%;
    border-left: transparent; }
  .slider .switcher label.btn-portfolio {
    right: 50%; }
  .slider .switcher label.active, .slider .switcher .calendar-wrapper .calendar td label.today:not(.active), .calendar-wrapper .calendar td .slider .switcher label.today:not(.active) {
    font-weight: 500;
    color: white;
    background: rgba(27, 28, 25, 0.5); }
  .slider .switcher input {
    display: none; }
  .slider .switcher #portfolio:checked ~ #slider-portfolio {
    display: block; }
  .slider .switcher #portfolio:checked ~ label.btn-portfolio {
    font-weight: 500;
    color: white;
    background: rgba(27, 28, 25, 0.5); }
  .slider .switcher #services:checked ~ #slider-services {
    display: block; }
  .slider .switcher #services:checked ~ label.btn-services {
    font-weight: 500;
    color: white;
    background: rgba(27, 28, 25, 0.5); }
  .slider .switcher .owl-carousel.owl-loaded,
  .slider .switcher #slider-portfolio,
  .slider .switcher #slider-services {
    display: none; }

.slider .item {
  background: url(../img/slider-bg.png) no-repeat;
  background-size: cover;
  padding-top: 70px;
  height: 730px; }
  .slider .item h1 {
    width: 1100px;
    margin-bottom: 50px;
    font-size: 7.0rem;
    font-weight: 100;
    line-height: 85px;
    color: white; }
  .slider .item p {
    color: white;
    width: 750px;
    margin-bottom: 60px;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 34px;
    height: 100px;
    overflow: hidden; }
  .slider .item .btn {
    font-size: 2.0rem; }

.small-slider {
  background: #242424;
  padding: 35px 0; }
  .small-slider .item {
    text-align: center; }
    .small-slider .item span {
      font-weight: 400;
      color: white;
      font-size: 2.4rem; }
      .small-slider .item span span {
        color: #e83523;
        font-size: 6.0rem; }

.content {
  padding: 50px 50px 20px 50px; }
  .content .tab {
    padding: 0; }
  .content .subscribe-block {
    margin-bottom: 0; }

.subscribe-block {
  margin-bottom: 25px;
  background: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .subscribe-block > a {
    margin-bottom: 40px;
    margin-right: 40px; }

.subscribe {
  float: left;
  width: 50%;
  padding: 40px 40px;
  background-color: white; }
  .subscribe p {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 19px; }
  .subscribe p.succsess {
    display: none; }
  .subscribe form input {
    width: 400px;
    margin-right: 20px;
    height: 36px;
    color: #3c3c3c;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 18px; }
  .subscribe .thanks {
    display: none;
    height: 36px;
    line-height: 36px; }
    .subscribe .thanks p {
      margin: 0; }
      .subscribe .thanks p span {
        padding-left: 45px;
        font-size: 1.8rem; }
      .subscribe .thanks p:before {
        width: 36px;
        height: 36px;
        left: 0;
        top: -9px; }

.banner-block {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }
  .banner-block img {
    width: 250px;
    height: 300px; }

/**/
.logo {
  display: inline-block;
  width: 150px;
  height: 120px;
  background: url(../img/Logo.png) 0 20px no-repeat;
  background-size: contain; }

.news ul {
  padding-left: 0; }
  .news ul > li {
    height: 690px;
    display: inline-block;
    padding-bottom: 40px;
    list-style-type: none;
    float: left;
    padding-top: 40px;
    width: 50%; }
    .news ul > li:nth-child(odd) {
      padding-right: 50px;
      border-right: 1px solid #eaeaea;
      padding-left: 50px; }
    .news ul > li:nth-child(even) {
      padding-right: 50px;
      padding-left: 50px;
      float: left; }

.news-item a {
  font-size: 1.5rem; }

.news-item img {
  margin-bottom: 10px;
  transition: all 0.3s; }

.news-item .preview-case:hover, .news-item img:hover {
  opacity: .9; }

.news-item p.h1, .news-page .news-item h1, .search-results .news-item h1 {
  margin-bottom: 10px;
  color: #1c1c1c;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase; }

.news-item .preview-case p.h1, .news-page .news-item .preview-case h1, .search-results .news-item .preview-case h1 {
  color: white; }

.news-item .text {
  margin-bottom: 10px;
  color: #333435;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 24px; }

/* Базовые стили слоя затемнения и модального окна  */
.thanks {
  display: none;
  line-height: 480px; }
  .thanks p {
    margin-left: 200px;
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 300; }
    .thanks p:before {
      position: absolute;
      content: '';
      width: 94px;
      height: 94px;
      left: -120px;
      top: -20px; }
    .thanks p.success:before {
      content: '';
      background: url(../img/thanks.png) no-repeat;
      background-size: contain; }
    .thanks p.error:before {
      content: '';
      background: url(../img/error.png) no-repeat;
      background-size: contain; }
    .thanks p.double:before {
      content: '';
      background: url(../img/thanks.png) no-repeat;
      background-size: contain; }
    .thanks p span {
      display: block;
      margin-bottom: 20px;
      font-size: 3.0rem;
      font-weight: 400;
      color: #e83523; }

.slideout-menu {
  position: fixed;
  background: #242424;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 320px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.page-content {
  transition: left 0.3s;
  left: 0; }

.page-404 {
  height: 100%; }
  .page-404 .logo {
    width: 260px;
    height: 110px;
    background: url(../img/logo-black.png) no-repeat; }
  .page-404.flex-wrapper {
    flex-flow: column;
    justify-content: center; }
  .page-404 p.h1, .page-404 .news-page .news-item h1, .news-page .news-item .page-404 h1, .page-404 .search-results .news-item h1, .search-results .news-item .page-404 h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 7.0rem;
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 10px; }
  .page-404 p {
    width: 40%;
    font-size: 2.5rem;
    margin-bottom: 20px; }
  .page-404 .search-input input {
    background: white; }
  .page-404 > a {
    margin-bottom: 20px;
    font-size: 2.5rem; }

.menu-mobile {
  position: fixed;
  z-index: 9999;
  background: #242424;
  height: 100%;
  width: 100%;
  right: -100%;
  transition: all 0.3s; }
  .menu-mobile .top {
    padding-left: 15px; }
  .menu-mobile .logo {
    height: 60px;
    width: 65px; }
  .menu-mobile .close {
    position: relative;
    height: 60px; }
  .menu-mobile > a:not(.btn) {
    position: relative;
    display: block;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    color: #bcbec0;
    line-height: 60px;
    padding: 0 20px; }
    .menu-mobile > a:not(.btn).active, .calendar-wrapper .calendar td .menu-mobile > a.today:not(.btn):not(.active) {
      background: #2f2f2f;
      color: white; }
      .menu-mobile > a:not(.btn).active:after, .calendar-wrapper .calendar td .menu-mobile > a.today:not(.active):not(.btn):after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
    .menu-mobile > a:not(.btn):hover {
      background: #2f2f2f;
      color: white; }
    .menu-mobile > a:not(.btn):after {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background: #e83523;
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      transform: translateY(-10px); }
    .menu-mobile > a:not(.btn):hover::after,
    .menu-mobile > a:not(.btn):focus::after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px); }
  .menu-mobile .lang {
    text-align: center; }
    .menu-mobile .lang a {
      margin: 0 10px; }
  .menu-mobile a.btn {
    display: block;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px; }

.other-cases .card {
  width: 380px;
  display: inline-block; }
  .other-cases .card .h1,
  .other-cases .card .text {
    color: #121212; }
  .other-cases .card:hover {
    border: 1px solid #737070; }

.other-cases .cases-slider {
  text-align: center; }

.other-cases .header {
  padding-left: 0; }

.other-cases .nav-right-red {
  right: -20px; }

.other-cases .nav-left-red {
  left: -20px; }

.service-item h1 {
  font-size: 8.0rem; }

.service-item .header-img {
  min-height: 640px; }
  .service-item .header-img .btn-m, .service-item .header-img .btn-icon-m {
    width: 300px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 40px; }

.anchor-slider {
  margin: 50px 0; }

.anchor-link {
  display: block;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 25px;
  text-decoration: none;
  border: 1px solid transparent;
  transition-property: all;
  transition-duration: 0.5s; }
  .anchor-link p {
    margin-left: 20px;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 23px; }
  .anchor-link:hover {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.04); }

.sitemap {
  padding: 50px 0; }
  .sitemap h1 {
    margin-bottom: 30px;
    color: #000001;
    font-size: 3.6rem;
    font-weight: 100; }
  .sitemap ul ul {
    padding-left: 20px; }
    .sitemap ul ul li {
      line-height: 32px; }

.anchor-mobile {
  display: none; }

/*# sourceMappingURL=style.css.map */