  @import "var";
  @import "modal";
  @import "slider";
  @import "elements";
  @import "helpers";
  @import "typography";
  @import "ui";
  /* PORTFOLIO-ITEM */
  
  .header-img h1 {
      font-size: 8.0rem;
      font-weight: 100;
  }
  
  .s-items.flex-wrapper {
      flex-wrap: nowrap;
  }
  
  .weDo {
      position: relative;
      padding-left: 60px;
      p {
          padding-right: 75px;
      }
      &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 5px;
          display: block;
          width: 45px;
          height: 32px;
          background: url(../img/weDo.png) no-repeat;
      }
  }
  
  .service-item {
      padding: 50px 0;
      p.h2 {
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          text-transform: uppercase;
      }
      p.done {}
      .solutions {
          margin: 0 auto;
          width: $fixed + 100px;
          background: white;
          padding: 50px 0;
          .s-items.flex-wrapper {
              justify-content: flex-start;
          }
          .weDo {
              &:before {
                  top: -5px;
              }
          }
          .header {
              margin-bottom: 60px;
          }
          .solution-content p {
              font-size: 18px;
              font-size: 1.8rem;
              line-height: 24px;
              margin-bottom: 20px;
          }
      }

      .recomendation {
          padding: 60px 0 80px 0;
          background-color: #eee;
          .header {
              padding: 0;
              font-size: 3.6rem;
          }
          &-card {
              img {
                  display: inline-block;
                  margin-right: 50px;
                  //                float: left;
              }
              .name {
                  margin-bottom: 20px;
                  font-size: 2.5rem;
                  font-weight: 500;
              }
              p.company {
                  margin-bottom: 30px;
                  font-size: 1.9rem;
                  font-weight: 300;
                  font-style: italic;
                  line-height: 45px;
                  color: #8f8f8f;
              }
              p.text {
                  margin-bottom: 35px;
                  font-family: $robotoC;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 33px;
              }
              span {
                  font-family: $robotoC;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 24px;
                  a {
                      text-decoration: none;
                      color: black;
                      border: 1px solid #aeaeae;
                      border-radius: 5px;
                      margin-left: 10px;
                  }
              }
          }
      }

      .other-cases {
          //          display: flex;
          //          flex-wrap: wrap;
          //          justify-content: space-around;
          //          background: white;
          //          margin-top: 50px;
          //          .header {
          //              flex-basis: 100%;
          //          }
          .card {
              width: 380px;
              //            flex-grow: 1;
              display: inline-block;
              .h1,
              .text {
                  color: $black;
              }
              &:hover {
                  border: 1px solid $black;
              }
          }
      }
      div.header {
          display: flex;
          align-items: center;
          //          padding-left: 80px;
          position: relative;
         margin-bottom: 0px;
          font-size: 4.0rem;
          font-weight: 100;
          line-height: 30px;
          img {
              margin-right: 20px;
          }
          &:before {
              position: absolute;
              left: 0;
              top: -10px;
          }
          &-paper:before {
              content: url(../img/header-paper.png);
          }
          &-case:before {
              content: url(../img/header-case.png);
              top: -20px;
          }
          &-chat:before {
              content: url(../img/header-chat.png);
              top: -20px;
          }
      }
  }

      .appointment {
          padding: 80px;
          margin: 50px 0;

          p {
              font-family: $roboto;
              margin-bottom: 20px;
              color: white;
              font-size: 30px;
              font-weight: 100;
          }
      }
      .info-block {
          padding: 50px 0;
          p {
              font-size: 18px;
              font-size: 1.8rem;
              line-height: 24px;
              margin-bottom: 20px;
          }
      }
  
.header-img {
          .header {
              color: white;
              display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
    font-size: 4.0rem;
    font-weight: 100;
    line-height: 30px;
              img {
                  margin-right: 20px;
              }
          }
    .solutions {
        ul>li {
            color: white;
              font-size: 2.0rem;
                  line-height: 24px;
            font-weight: 300;

          }
    }
      }

.solutions {
          margin: 50px auto;
          width: $fixed + 100px;
          background: white;
          border-bottom: 4px solid #eeeeee;
          padding: 50px 0;
          //         
          .header {
              margin-bottom: 40px;
          }
          .problem-tip {
              display: inline-block;
              font-family: $robotoC;
              padding: 10px 10px 10px 50px;
              margin-bottom: 40px;
              color: white;
              text-align: right;
              background-color: #333;
              text-transform: uppercase;
          }
          
          &-transparent {
              background: rgba(255,255,255, .15);
          }
          span {
              display: inline-block;
              margin-left: 20px;
          }
          p {
              font-size: 1.8rem;
             line-height: 24px;
              margin-bottom: 15px;
              &:last-child {
                  margin-bottom: 0;
              }

          }
    

      }
  .portfolio-item {
      
//      padding: 25px 0; 
      
      
       
      
     div.header {
              color: black;
              display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
    font-size: 4.0rem;
    font-weight: 100;
    line-height: 30px;
              img {
                  margin-right: 20px;
              }
          }
      
      .problems {
          display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
          
      }
      

          ul.problems-list {
              width: 68%;
              margin-top: 25px;
              padding-left: 0;
              counter-reset: item;
              li {
                  margin-bottom: 10px;
                  list-style-type: none;
                  font-family: $robotoC;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 30px;
                  //               
                  &:before {
                      height: 25px;
                      text-align: center;
                      width: 25px;
                      line-height: 27px;
                      //    position: absolute;
                      margin-right: 10px;
                      display: inline-block;
                      //                    height: 27px;
                      color: $red;
                      counter-increment: item;
                      content: counter(item);
                      border: 1px solid $red;
                      border-radius: 20px;
                  }
                  &.active {
                      a {
                          color: $red;
                          border-bottom: 1px dashed $red;
                      }
                  }
                  a {
                      color: $black;
                      text-decoration: none;
                      border-bottom: 1px dashed #333435;
                      font-family: "Roboto Condensed";
font-size: 1.8rem;
                      &:hover {
                          color: $red;
                          border-bottom: 1px dashed transparent;
                      }
                  }
              }
          }
    
      
      .results {
         
          ul{
              counter-reset: item;
              display: flex;
    flex-flow: row wrap;
              justify-content: space-between;
              &>div {
                  width: 43%;
                  margin: 15px 0;
              }
              li {
margin-right: 10px;
                  list-style-type: none;
                  
                  //               
                  &:before {
                      font-size: 2.4rem;
                      height: 50px;
                      text-align: center;
                      width: 50px;
                      line-height: 50px;
                      //    position: absolute;
                      margin-right: 10px;
                      display: inline-block;
                      //                    height: 27px;
                      color: $red;
                      counter-increment: item;
                      content: counter(item);
                      border: 1px solid $red;
                      border-radius: 50%;
                  }


              }
              p {
                  margin: 0;
                      font-family: $robotoC;
                  font-size: 1.8rem;
line-height: 24px;
                      font-weight: 300;
                  
                  span {
                                            color: #e83523;
font-size: 2.4rem;
font-weight: 400;
                  }
                  }
          }
          
          
          
      }
      .recomendation {
//          padding: 60px 0 80px 0;
          background-color: #eee;

          &-card {
              display: flex;
              align-items: flex-start;
              img {
                  display: inline-block;
                  margin-right: 50px;
                  //                float: left;
              }
              .name {
                  margin-bottom: 20px;
                  font-size: 2.5rem;
                  font-weight: 500;
              }
              p.company {
                  margin-bottom: 30px;
                  font-size: 1.9rem;
                  font-weight: 300;
                  font-style: italic;
                  line-height: 45px;
                  color: #8f8f8f;
              }
              p.text {
                  margin-bottom: 35px;
                  font-family: $robotoC;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 33px;
              }
              span {
                  font-family: $robotoC;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 24px;
                  
              }
          }
      }

      .other-cases {

//          background: white;

         

      }
//      div.header {
//          display: block;
////          padding-left: 80px;
//          position: relative;
//          margin-bottom: 35px;
//          font-size: 4.0rem;
//          font-weight: 100;
//          line-height: 30px;
//          &:before {
//              position: absolute;
//              left: 0;
//              top: -10px;
//          }
//          &-task:before {
//              content: url(../img/header-task.png);
//          }
//          &-lamp:before {
//              content: url(../img/header-problem.png);
//              top: -20px;
//          }
//          &-solution:before {
//              content: url(../img/header-solution.png);
//              top: -20px;
//          }
//      }
      
      .solutions-wrapper  {
    counter-reset: item;
    position: relative;
    height: 65px;
          
          .graph-point {
    -webkit-transform: translate(-50%, 9px);
    transform: translate(-50%, 9px);
              
              &:after {
                   background: #fff;
    border: 1px solid #e83523;
    counter-increment: item;
    content: counter(item);
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 27px;
    color: #e83523;
              }
              
              &:hover:after {
    background: #e83523;
    color: #fff;
    -webkit-transform: none;
    transform: none;
}
              
              &.active {
    margin-bottom: 0;
                  
                  &:after {
    background: #e83523;
    color: #fff;
}
}
}
}
      
      .solution-text {
    display: none;
    padding-top: 45px;
          
      }
  }

.portfolio-item .solution-text, .portfolio-item .solution-text p {
    color: #333435;
    font-weight: 300;  
    font-family: "Roboto Condensed",sans-serif;
    font-size: 1.8rem;
    line-height: 22px;
}



.portfolio-item .graph-line.active .red {
    width: 100%;
}

.solutions.solutions-transparent, .solutions.slider-wrapper {
    border: none;
}
  /* CONTACTS */
  
  .contacts {
      position: relative;
      width: 100%;
      min-height: 800px;
      a.panel {
          font-size: 2.0rem;
          font-weight: 300;
          color: $black;
      }
      .accordion {
          z-index: 20;
          position: absolute;
          top: 10%;
          left: 10%;
          width: 600px;
          p.h1 {
              background-color: white;
              font-size: 3.6rem;
              font-weight: 300;
              line-height: 60px;
              padding: 25px 0 25px 45px;
          }
          .accordion-content {
              background: rgba(255, 255, 255, 0.9);
              padding: 20px 70px;
              .contact-block {
                  margin-bottom: 20px;
              }
              p.header {
                  margin-bottom: 5px;
                  font-family: $roboto;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 25px;
              }
              a.info,
              p.info {
                  font-size: 1.8rem;
              }
              p.more-info {
                  font-size: 1.5rem;
                  line-height: 20px;
                  margin-bottom: 15px;
              }
              a[href^="tel"] {
                  color: #121212;
                  text-decoration: none;
                  font-weight: 300;
              }
          }
      }
  }
  /* SEARCH RESULTS */
  
  .search-results {
      @extend .news-page;
      h1 {
          margin-bottom: 30px;
          font-size: 3.6rem;
          font-weight: 100;
          line-height: 32px;
          float: left;
          color: #333435;
      }
      .search-block {
          width: 100%;
          padding-bottom: 60px;
          display: flex; 
          justify-content: space-between;
          align-items: flex-start;
          form {
              input {
                  width: 680px;
                  //                  margin-bottom: 20px;
                  background: white;
              }
              ul {
                  width: 680px;
              }
          }
      }
      .top {
          margin-bottom: 0;
          padding: 40px 0 30px 0;
          p.h1 {
              float: left;
              margin-bottom: 0;
          }
          .filter {
              position: relative;
              &>a {
                  color: $black;
                  text-decoration: none;
                  &:hover {
                      //                    text-decoration: underline;
                  }
              }
          }
      }
  }
  /* PRESS */
  
  .press {
      padding: 25px 0 25px 0;
      h1,
      p.h1 {
          margin-bottom: 30px;
          color: #000001;
          font-size: 3.6rem;
          font-weight: 100;
      }
      .top {
          margin-bottom: 20px;
          .text {
              width: 70%;
              p {
                  margin-bottom: 15px;
              }
              a:first-child {
                  color: black;
                  font-weight: 400;
                  text-decoration: none;
              }
          }
          &-left {
              float: left;
              width: 50%;
          }
          &-right {
              float: right;
              width: 50%;
              .btn-logo {
                  margin-right: 20px;
              }
          }
          .subscribe {
              width: 100%;
              margin-top: 20px;
              padding: 30px 40px;
              background-color: #f0efef;
              form {
                  input {
                      //                width: 380px;
                  }
              }
          }
      }
      .video-slider {
          margin-bottom: 40px;
          .item {
              width: 365px;
              a.video {
                  position: relative;
                  display: block;
                  margin-bottom: 17px;
                  width: 365px;
                  height: 240px;
                  &:hover {}
                  img {
                      width: 100%;
    height: auto;
                  }
                  span {
                      z-index: 20;
                      position: absolute;
                      padding: 5px 10px;
                      color: white;
                      background-color: #525252;
                      right: 0;
                      bottom: 0;
                      font-family: $roboto;
//                      font-size: 1.5rem;
                      font-weight: 400;
                      line-height: 18px;
                  }
                  .fade {
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      right: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background: rgba(27, 28, 25, 0.5);
                      margin: auto;
                      display: block;
                      z-index: 19;
                      background: rgba(27, 28, 25, 0);
                      -webkit-transition-property: all;
                      transition-property: all;
                      -webkit-transition-duration: 1s;
                      transition-duration: 1s;
                      &:hover {
                          background: rgba(27, 28, 25, 0.5);
                      }
                  }
                  .play {
                      pointer-events: none;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      margin: -32px 0 0 -32px;
                      width: 65px;
                      height: 65px;
                      z-index: 20;
                      display: block;
                      background: url(../img/play.png) no-repeat 50%;
                      &:hover {
                          .play~.fade {
                              background: rgba(27, 28, 25, 0.5);
                          }
                      }
                  }
              }
              .date {
                  margin-right: 40px;
              }
              p.h1 {
                  margin: 20px 0 25px 0;
                  line-height: 24px;
                  color: #1c1c1c;
                  font-family: $roboto;
                  font-size: 1.8rem;
                  font-weight: 400;
              }
              p {
                  color: #333435;
                  font-family: $robotoC;
                  font-size: 1.8rem;
                  font-weight: 300;
              }
          }
      }
      .tab {
          padding: 0;
          .news-item {
              img {
                  margin-bottom: 20px;
              }
              p.h1 {
                  //                  margin-top: 10px;
              }
              a {
                  //                  display: block;
                  //                  margin-top: 10px;
              }
          }
      }
      .subscribe-block {
          padding: 25px 50px;
          justify-content: flex-end;
          align-items: center;
          a {
              margin: 0;
              float: right;
          }
      }
  }
  /* NEWS PAGE */
  
  .news-page {
      padding: 50px 0;
      .top {
          padding-bottom: 50px;
          h1 {
              font-size: 3.6rem;
              font-weight: 100;
              line-height: 32px;
              float: left;
              color: #333435;
          }
      }
      .filter {
          position: relative;
          float: right;
          line-height: 32px;
          &>a {
              margin-left: 15px;
              //            float: right;
              color: $red;
              font-family: $roboto;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 16px;
          }
          &>a.active {
              font-weight: 700;
          }
      }
      .news-list {
          margin-bottom: 50px;
          min-height: 400px
      }
      .news-item {
          color: #333435;
          font-family: $robotoC;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 18px;
          h1 {
              @extend p.h1;
          }
          &>a {
              &>img, .preview-case {
              float: left;
              margin-right: 50px;
              }
          }
          .date {
              //        display: block;
              margin-bottom: 30px;
          }
          p.text {
              margin-bottom: 50px;
          }
          padding: 50px;
          background-color: white;
      }
      .subscribe {
          background-color: #f0efef;
          float: right;
      }
  }
  /* CAREER */
  
  .career {
      padding: 50px 0;
      h1 {
          font-weight: 100;
          font-size: 36px;
          color: #121212;
          margin-bottom: 20px;
      }
      p.h1 {
          margin-bottom: 30px;
      }
      .tab {
          padding: 0;
      }
      .info {
          margin-bottom: 40px;
          p {
              margin-bottom: 20px;
          }
      }
      .accordion-content {
          p {
              line-height: 45px;
              font-size: 1.6rem;
          }
      }
      
      a.panel:hover {
            color: white;
            background-color: $red;
            span {
                color: white;
            }
            &:before {
                content: url(../img/plus--hover.png);
                left: 45px;
                top: 19px;
            }
        }
    
    a.panel-plus {
        &:before {
            position: absolute;
            content: url(../img/panel-plus.png);
            left: 45px;
            top: 19px;
        }
    }
    a.panel-minus {
        &:before {
            position: absolute;
            content: url(../img/panel-minus.png);
            left: 45px;
            top: 15px;
        }
      }
  }
  /* ABOUT */
  
  .about {
      padding: 50px 0 50px 0;
      .tab-block {
          margin-bottom: 40px;
          p.h1 {
              margin-bottom: 20px;
              color: #1c1c1c;
              font-family: $roboto;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 24px;
              text-transform: uppercase;
          }
          ul {
//              width: 50%;
              float: left;
              &>li {
                  margin-bottom: 20px;
                  line-height: 18px;
                  font-size: 1.8rem;
                  font-weight: 300;
                  font-family: $robotoC;
              }
          }
      }
      .team {
          position: relative;
          margin-bottom: 35px;
          padding-bottom: 25px;
          .item {
              //              position: absolute;
              width: 250px;
              min-height: 380px;
              padding: 15px 0;
              text-align: center;
              margin: 0 auto;
              img {
                  //                      position: absolute;
                  //    left: 30px;
                  width: 100%;
                  height: auto;
                  margin-bottom: 20px;
              }
              p.name {
                  //                  position: absolute;
                  //    bottom: 55px;
                  /* margin: 0 auto; */
                  //    left: 0;
                  //                      width: 100%;
                  margin-bottom: 15px;
                  font-size: 2.2rem;
                  font-weight: 400;
                  span {
                      text-transform: uppercase;
                  }
              }
              p.info {
                  //                  position: absolute;
                  //    bottom: 0;
                  //    left: 0;
                  //                  width: 100%;
                  padding: 0 30px;
                  font-size: 1.6rem;
                  font-weight: 100;
                  font-style: italic;
              }
          }
          .nav {
              top: 35%;
          }
      }
      .office-slider {
          margin-bottom: 30px;
          img {
              width: 100%;
              height: auto;
          }
      }
      .office-slider-inner {
          padding: 45px 0;
          background-color: #e0e2e3;
          box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.04);
          .item-preview {
              position: relative;
              display: inline-block;
              width: 190px;
              height: 190px;
              border: 5px solid white;
              border-radius: 5px;
              &:after {
                  position: absolute;
                  top: 0;
                  content: url(../img/slider-pointer.png);
              }
          }
          .medium-right-red {
              right: 44px;
          }
          .medium-left-red {
              left: 44px;
          }
      }
      .history {
          padding: 50px 0 !important;
          p.h1 {
              margin-bottom: 20px;
          }
          .history-line {
              height: 180px;
              width: 100%;
              position: relative;
              margin-bottom: 40px;
          }
          .opinion {
              width: 565px;
              display: none;
              margin: 0 auto;
              padding: 20px 0; 
              p {
                  font-family: $robotoC;
                  font-size: 1.8rem;
                  line-height: 22px;
              }
              p.h1 {
                  margin-bottom: 0;
                  color: #333435;
                  font-weight: 300;
              }
              p.text {
                  margin-top: 20px;
                  margin-bottom: 20px !important;
                  color: #9d9d9c;
                  font-style: italic;
              }
              p.signature-name {
                  color: #333435;
                  font-weight: 700;
                  font-style: italic;
              }
              p.signature-role {
                  color: #878787;
                  font-style: italic;
              }
          }
      }
      .diplomas {
          margin-top: 50px;
          float: left;
          width: 40%;
          p.h1 {
              margin-bottom: 40px;
          }
          &-slider {
              
              .item {
                display: inline-block;
                position: relative;
                  
                  a {
                  display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
//    text-align: center;
    opacity: 0;
    transition: 0.3s ease-out;
//                  
//                  display: block;
//                  width: 150px;
//                  content: '';
//                  background-color: #e83523;
//                  height: 100%;
//                  opacity: 1;
//                  top: 0;
//                  position: absolute;
                  background: url(../img/show-img.png) no-repeat 50% 50%;
                  background-size: cover;
                  
                  &:hover {
                      opacity: 1;
                  }
              }
                  
                  img {
                      vertical-align: middle;
                  }
                  
                  
              }

          }
      }
      .clients {
          margin-top: 50px;
          float: right;
          width: 40%;
          p.h1 {
              margin-bottom: 40px;
          }
          .clients-slider {
              .item {
                  text-align: center;
              }
          }
      }
  }
  /*NEWS-ITEM*/
  
  .news-page-item {
      padding: 50px 0 50px 0;
      .news-item {
          padding-bottom: 10px;
          margin-bottom: 10px;
          font-family: $robotoC;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 24px;
          h1 {
              width: 80%;
              margin-bottom: 40px;
              font-size: 3.6rem;
              color: black;
              font-weight: 100;
              line-height: 45px;
          }
          p:not(.date) {
              margin-bottom: 30px;
              color: $black;
              font-family: $robotoC;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 24px;
          }
          img {
              float: right;
              margin: 0 0 50px 100px;
          }
      }
      .date {
          display: block;
      }
      .subscribe,
      .subscribe-block {
          background-color: #f1f0f0;
      }
  }
  /* SERVICES */
  
  .services {
      padding: 60px 0 30px 0;
      min-height: 1000px;
      background: url(../img/services-bg.png) no-repeat;
      background-size: cover;
      h1 {
          width: 90%;
          padding: 30px 0 50px 0;
          font-weight: 100;
      }
  }
  /* PORTFOLIO */
  
  .portfolio {
      h1 {
          font-weight: 100;
      }
      @extend .services;
      background: url(../img/portfolio-bg.png) no-repeat;
      background-size: cover;
      .choose-block {
          margin-bottom: 50px;
          .slider-block {
              width: 950px;
              float: right;
          }
          a {
              height: 90px;
              float: left;
              padding: 30px 78px;
              line-height: 27px;
          }
          .slider {}
      }
      .choose-slider {
          //      	width: 950px;
          a {
              width: 238px;
              height: 90px;
              padding: 18px 50px 18px 50px;
              word-break: break-all;
              color: #fffefe;
              border: 1px solid white;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 27px;
              text-decoration: none;
              display: block;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 1s;
              transition-duration: 1s;
              &:hover {
                  color: white;
                  background: rgba(27, 28, 25, 0.5);
              }
          }
      }
  }
  /* INDEX */
  
  .main-slider.owl-carousel.owl-loaded,
  #slider-portfolio,
  #slider-services {
      display: none;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
  }
  
  .slider {
      .switcher {
          position: relative;
          //        display: flex;
          //        justify-content: center;
          //      width: 100%;
          margin: 0 auto;
          //      position: absolute;
          //          bottom: 60px;
          z-index: 3;
          //      left: 50%;
          //      margin-left: -192px;
          label {
              position: absolute;
              min-width: 200px;
              z-index: 33;
              bottom: 60px;
          }
          label.btn-services {
              left: 50%;
              border-left: transparent;
          }
          label.btn-portfolio {
              right: 50%;
          }
          label.active {
              font-weight: 500;
              color: white;
              background: rgba(27, 28, 25, 0.5);
          }
          input {
              display: none;
          }
          #portfolio:checked {
              & ~ #slider-portfolio {
                  display: block;
              }
              & ~ label.btn-portfolio {
                  font-weight: 500;
                  color: white;
                  background: rgba(27, 28, 25, 0.5);
              }
          }
          #services:checked {
              & ~ #slider-services {
                  display: block;
              }
              & ~ label.btn-services {
                  font-weight: 500;
                  color: white;
                  background: rgba(27, 28, 25, 0.5);
              }
          }
          .owl-carousel.owl-loaded,
          #slider-portfolio,
          #slider-services {
              display: none;
          }
      }
      .item {
          background: url(../img/slider-bg.png) no-repeat;
          background-size: cover;
          padding-top: 70px;
          height: 730px;
//          width: 100vw;
          h1 {  
              width: 1100px;
              margin-bottom: 50px;
              font-size: 7.0rem;
              font-weight: 100;
              line-height: 85px;
              color: white;
          }
          p {
              color: white;
              width: 750px;
              margin-bottom: 60px;
              font-size: 2.5rem;
              font-weight: 300;
              line-height: 34px;
              height: 100px;
              overflow: hidden;
          }
          .btn {
              font-size: 2.0rem;
          }
      }
  }
  
  .small-slider {
      background: $bg-dgray;
      padding: 35px 0;
      .item {
          text-align: center;
          span {
              font-weight: 400;
              color: white;
              font-size: 2.4rem;
              span {
                  color: #e83523;
                  font-size: 6.0rem;
              }
          }
      }
  }
  
  .content {
      padding: 50px 50px 20px 50px;
      .tab {
          padding: 0;
      }
      .subscribe-block {
          margin-bottom: 0;
      }
  }
  
  .subscribe-block {
      margin-bottom: 25px;
      background: white;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &>a {
          margin-bottom: 40px;
          margin-right: 40px;
      }
  }
  
  .subscribe {
      float: left;
      width: 50%;
      padding: 40px 40px;
      background-color: white;
      p {
          margin-bottom: 20px;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 19px;
      }
      p.succsess {
          display: none;
      }
      form {
          //      float: left;
          input {
              width: 400px;
              margin-right: 20px;
              height: 36px;
              color: #3c3c3c;
              font-family: $robotoC;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 18px;
          }
      }
      .thanks {
          display: none;
          height: 36px;
          line-height: 36px;
          p {
              margin: 0;
              span {
                  padding-left: 45px;
                  font-size: 1.8rem;
              }
              &:before {
                  width: 36px;
                  height: 36px;
                  left: 0;
                  top: -9px;
              }
          }
      }
  }
  
  .banner-block {
      padding: 25px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      img {
          width: 250px;
          height: 300px;
      }
  }
  /**/
  
  .logo {
      display: inline-block;
      width: 150px;
      height: 120px;
      background: url(../img/Logo.png) 0 20px no-repeat;
      background-size: contain;
  }
  
  .news {
      ul {
          padding-left: 0;
          &>li {
              height: 690px;
              display: inline-block;
              padding-bottom: 40px;
              list-style-type: none;
              float: left;
              padding-top: 40px;
              width: 50%;
              &:nth-child(odd) {
                  padding-right: 50px;
                  border-right: 1px solid #eaeaea;
                  padding-left: 50px;
              }
              &:nth-child(even) {
                  padding-right: 50px;
                  padding-left: 50px;
                  float: left;
              }
          }
      }
  }
  
  .news-item {
      a {
          font-size: 1.5rem;

      }
      img {
          margin-bottom: 10px;
          transition: all .3s;
      }
      .preview-case:hover, img:hover {
          opacity: .9;
      }
      p.h1 {
          margin-bottom: 10px;
          color: #1c1c1c;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 27px;
          text-transform: uppercase;
      }
      .preview-case p.h1 {
          color: white;
      }
      .text {
          margin-bottom: 10px;
          color: #333435;
          font-family: $robotoC;
          font-size: 1.8rem;
          font-weight: 300;
          line-height: 24px;
      }
  }
  /* Базовые стили слоя затемнения и модального окна  */
  
  .thanks {
      display: none;
      line-height: 480px;
      p {
          margin-left: 200px;
          position: relative;
          display: inline-block;
          font-size: 1.6rem;
          font-weight: 300;
          &:before {
              position: absolute;
              content: '';
              width: 94px;
              height: 94px;
              left: -120px;
              top: -20px;
          }
          &.success:before {
              content: '';
              background: url(../img/thanks.png) no-repeat;
              background-size: contain;
          }
          &.error:before {
              content: '';
              background: url(../img/error.png) no-repeat;
              background-size: contain;
          }
          &.double:before {
              content: '';
              background: url(../img/thanks.png) no-repeat;
              background-size: contain;
          }
          span {
              display: block;
              margin-bottom: 20px;
              font-size: 3.0rem;
              font-weight: 400;
              color: $red;
          }
      }
  }
  
  .slideout-menu {
      position: fixed;
      background: #242424;
      right: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      width: 320px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      display: none;
  }
  
  .slideout-panel {
      position: relative;
      z-index: 1;
      will-change: transform;
  }
  
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
      overflow: hidden;
  }
  
  .slideout-open .slideout-menu {
      display: block;
  }
  
  .page-content {
      transition: left 0.3s;
      left: 0;
  }
  
  .page-404 {
      height: 100%;
      .logo {
          width: 260px;
          height: 110px;
          background: url(../img/logo-black.png) no-repeat;
      }
      &.flex-wrapper {
          flex-flow: column;
          justify-content: center;
      }
      p.h1 {
          text-transform: uppercase;
          text-align: center;
          font-size: 7.0rem;
          line-height: 80px;
          font-weight: 300;
          margin-bottom: 10px;
      }
      p {
          width: 40%;
          font-size: 2.5rem;
          margin-bottom: 20px;
      }
      .search-input {
          input {
              background: white;
          }
      }
      &>a {
          margin-bottom: 20px;
          font-size: 2.5rem;
      }
  }
  
  .menu-mobile {
      position: fixed;
      z-index: 9999;
      background: #242424;
      height: 100%;
      width: 100%;
      right: -100%;
      transition: all 0.3s;
      .top {
          padding-left: 15px;
      }
      .logo {
          height: 60px;
          width: 65px;
      }
      .close {
          position: relative;
          height: 60px;
      }
      &>a:not(.btn) {
          position: relative;
          display: block;
          font-size: 18px;
          font-size: 1.8rem;
          font-weight: 400;
          text-decoration: none;
          color: #bcbec0;
          line-height: 60px;
          padding: 0 20px;
          &.active {
              background: $bg-gray;
              color: white;
              &:after {
                  opacity: 1;
                  -webkit-transform: translateY(0px);
                  -moz-transform: translateY(0px);
                  transform: translateY(0px);
              }
          }
          &:hover {
              background: $bg-gray;
              color: white;
          }
          &:after {
              position: absolute;
              top: 0;
              left: 0;
              width: 4px;
              height: 100%;
              background: $red;
              content: '';
              opacity: 0;
              -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
              -moz-transition: opacity 0.3s, -moz-transform 0.3s;
              transition: opacity 0.3s, transform 0.3s;
              -webkit-transform: translateY(10px);
              -moz-transform: translateY(10px);
              transform: translateY(-10px);
          }
          &:hover::after,
          &:focus::after {
              opacity: 1;
              -webkit-transform: translateY(0px);
              -moz-transform: translateY(0px);
              transform: translateY(0px);
          }
      }
      .lang {
          text-align: center;
          a {
              margin: 0 10px;
          }
      }
      a.btn {
          display: block;
          text-align: center;
          width: 70%;
          margin: 0 auto;
          margin-top: 15px;
      }
  }
.other-cases {
              .card {
              width: 380px;
              display: inline-block;
              .h1,
              .text {
                  color: $black;
              }
              &:hover {
                  border: 1px solid #737070;
              }
          }
    
          .cases-slider {
              text-align: center;
          }
          .header {
              padding-left: 0;
          }
          .nav-right-red {
              right: -20px;
          }
          .nav-left-red {
              left: -20px;
          }
      }
  
  .service-item {
      h1 {
          font-size: 8.0rem;
      }
      
      .header-img {
          min-height: 640px;
          .btn-m {
              width: 300px;
              height: 60px;
              text-align: center;
              font-size: 20px;
              font-size: 2.0rem;
              font-weight: 300;
              line-height: 40px;
          }
      }
  }
  
  .anchor-slider {
      margin: 50px 0;

  }
      .anchor-link {
          display: block;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          padding: 25px;
          text-decoration: none;
          border: 1px solid transparent;
          transition-property: all;
          transition-duration: 0.5s;
          p {
              margin-left: 20px;
              font-size: 18px;
              font-size: 1.8rem;
              font-weight: 300;
              line-height: 23px;
          }
          &:hover {
              border: 1px solid white;
              background-color: rgba(255, 255, 255, 0.04);
          }
      }
  
  .sitemap {
      padding: 50px 0;
      h1 {
          margin-bottom: 30px;
          color: #000001;
          font-size: 3.6rem;
          font-weight: 100;
      }
      ul {
          ul {
              padding-left: 20px;
              li {
                  line-height: 32px;
              }
          }
      }
  }

.anchor-mobile {
	display: none;
}