@import '../var';
@media only screen and (min-width: 480px + 1) and (max-width: 768px) {
    html {
        font-size: 47.0%;
    }
    .fixed-wrapper {
        width: 480px;
    }
    .fixed {
        width: 450px;
    }
    header {
        .logo {
            height: 60px;
            width: 65px;
        }
        .btn {
            padding: 10px 10px;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: 300;
            order: 1;
        }
        .lang,
        nav {
            display: none;
        }
        a.toggle-button {
            display: block;
            order: 2;
        }
    }
    .content {
        padding: 25px 25px 10px 25px;
    }
    .tab-block label {
        padding: 10px 25px;
    }
    .slider {
        .item {
            height: 630px;
            padding-top: 50px;
            h1 {
                width: 100%;
                margin-bottom: 20px;
                font-size: 6.0rem;
                font-weight: 300;
                line-height: normal;
                color: white;
            }
            p {
                width: 100%;
                margin-bottom: 30px;
                font-size: 2.5rem;
            }
            .btn {
                font-size: 2.0rem;
                //                line-height: 30px;
                width: 100%;
                text-align: center;
            }
        }
        .switcher label {
            min-width: 225px;
            bottom: 30px;
        }
        .owl-dots {
            bottom: 110px;
        }
    }
    .small-slider {
        padding: 20px 0;
    }
    .news-item {
        a {
            width: 100%;
            font-size: 1.8rem;
        }
        a {
            width: 100%;
            font-size: 1.8rem;
        }
        img {
            width: 100%;
            height: auto;
        }
        a>img {
            width: 100%;
            height: auto;
            //            display: block;
            margin: 0 auto 20px auto;
        }
        p.text {
            font-size: 1.8rem;
        }
    }
    .subscribe-block {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .subscribe {
        width: 100%;
        form {
            input {
                margin-bottom: 10px;
                width: 100%;
            }
            a {
                width: 100%;
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
    .banner-block {
        img {
            width: 200px;
            height: 250px;
            margin-bottom: 20px;
        }
    }
    .news-item p.h1,
    .news-page .news-item h1,
    .search-results .news-item h1 {
        font-size: 2.2rem;
    }
    .news ul > li {
        height: 650px;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
       
        &:nth-child(odd), &:nth-child(even)  {
            padding-left: 25px;
            padding-right: 25px;
             border-right: none;
        }
    }
    footer {
        .footer-contacts {
            float: none;
            .social {
                float: right;
                p {
                    left: auto;
                    right: 0;
                }
            }
        }
        .footer-slider {
            float: none;
            width: 100%;
            //            margin-bottom: 45px;
            margin: 0 0 45px 0;
            .item {
                text-align: center;
                .city,
                .address,
                .phone {
                    font-size: 1.8rem;
                }
            }
        }
    }
    .date,
    .views {
        font-size: 1.6rem;
    }
    footer .small-right {
        right: 50px;
    }
    footer .small-left {
        left: 50px;
    }
    .nav-large {
        //    height: 30px;
        width: 30px;
        margin-top: -14px;
    }
    .nav-medium {
        margin-top: -15px;
        width: 20px;
    }
    .modal-meeting {
        display: table;
        form {
            display: table-cell;
            vertical-align: middle;
        }
        .thanks p {
            margin-left: 110px;
            height: 600px;
        }
    }
    .modal-meeting,
    .modal-subscribe,
    .modal-search {
        width: 100%;
        height: 100%;
    }
    .modal-subscribe .subscribe,
    .modal-subscribe {
        ul > li a {
            width: 100%;
        }
        form input {
            width: 100%;
            //        margin-bottom: 15px;
        }
        a.btn {
            margin-top: 15px;
            float: right;
        }
    }
    .calendar-wrapper {
        width: 100%;
        top: 46px !important;
        left: 0 !important;
    }
    .calendar {
        margin: 0 auto;
    }
    .modal-search {
        //        .search-calendar,
        //        .search-interval {
        //            right: 112px;
        //        }
        //        ul,
        //        form input {
        //            width: 100%;
        //            //        margin-bottom: 15px;
        //        }
        //        
        //        input {
        //                padding-right: 135px;
        //        }
        //        .btn {
        //            
        //            margin-top: -40px;
        //                padding: 10px 30px 10px 35px;
        //            height: 39px;
        //            float: right;
        //            &:before {
        //                left: 13px;
        //    top: 12px;
        //            }
        //        }
    }
    .btn-search {
        padding: 15px 25px 15px 50px;
    }
    .overlay:target + .modal {
        top: 0;
    }
    .menu-mobile {
        width: 80%;
    }
    .shift-left {
        left: -80% !important;
    }
    /* ABOUT */
    .header-img {
        background-position: 50%;
        p.h1,
        h1 {
            font-size: 6.0rem;
            line-height: 45px;
        }
    }
    .about {
        .diplomas,
        .clients {
            float: none;
            width: 100%;
        }
        .owl-item {
                text-align: center;
            }
        .tab {
            padding: 25px;
        }
        .tab-block {
            label {
                line-height: 50px;
                width: 100%;
            }
            ul {
                width: 100%;
            }
            input:checked + label {
                line-height: 50px;
            }
        }
        .team .item {
            width: 200px;
            min-height: 380px;
            //    padding: 15px 0;
            //    text-align: center;
            //    margin: 0 auto;
        }
         
         .history .opinion {
            width: 100%;
        }
    }
    /* CAREER */
    .header-img-career {
        background-position: 82%;
    }
    .career {
        .sent-resume {
            padding: 20px 25px;
            flex-direction: column;
            p {
                width: 100%;
            }
            .btn {
                margin-top: 20px;
                width: 100%;
                text-align: center;
            }
        }
        .tab-block {
            label {
                line-height: 50px;
                width: 100%;
            }
            ul {
                width: 100%;
            }
            input:checked + label {
                line-height: 50px;
            }
            .profession-list {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 15px 25px;
                background-color: white;
            }
        }
    }
    /* CONTACTS */
    .contacts .accordion {
        p.h1 {
            line-height: 25px;
        }
        top: 0;
        left: 0;
        width: 100%;
    }
    
    /* NEWS */
    .news-page,
    .search-results {
        .top {
            padding-bottom: 25px;
            h1 {
                float: none;
            }
        }
        .filter {
            float: left;
        }
        .news-item {
            padding: 25px;
            &>img {
                width: 100%;
                height: auto;
            }
            .date,
            p.text {
                margin-bottom: 10px;
            }
        }
        .half {
            width: 100%;
        }
        .pagination {
            float: none;
            margin: 0;
            text-align: center;
            ul {
                display: inline-block;
                padding: 0;
            }
        }
    }
    /* PORTFOLIO */
    .portfolio {
        .choose-block {
            a {
                width: 100%;
                margin-bottom: 20px;
            }
            .slider-block {
                width: 100%;
            }
        }
        h1 {
            font-size: 6.0rem;
            line-height: 45px;
        }
    }
    .card {
        width: 100%;
    }
    /* PRESS */
    .press {
        .top {
            .top-right,
            .top-left,
            p.text {
                width: 100%;
            }
            .btn {
                margin-bottom: 10px;
            }
            .top-right {
                margin-top: 30px;
            }
        }
        .tab {
            .news-item img {
                width: 100%;
                height: auto;
            }
        }
        .video-slider .item {
            width: 100%;
            a.video {
                width: 100%;
                height: auto;
            }
        }
        .subscribe-block {
            justify-content: center
        }
    }
    /*.search-results*/
    .search-results {
        .search-block {
            flex-direction: column;
            form {
                input {
                    width: 100%; 
                }
                ul {
                    width: 100%;
                }
                .btn:before {
                    left: 18px;
                    top: 11px;
                }
            }
        }
        .filter>a {
            margin-left: 0;
            margin-right: 15px;
        }
    }
    .solutions {
        width: 100%;
        }
    .service-item {
        .solutions {
        width: 100%;
        }
        .header {
            margin-bottom: 20px;
        }
    }
    .s-items.flex-wrapper {
        flex-wrap: wrap;
    }
    .weDo {

        width: 100%}
    
    .portfolio-item {
        ul.problems-list {
            width: 100%;
        }
        .problems {
            flex-flow: row wrap;
        }
    }
    .appointment {
        padding: 15px;
        .btn {
            width: 100%;
        }
    }
    .other-cases .card {
        width: 100%;
    }
    
        .career .accordion{ 
        a.panel {
            width: 100%;
            padding: 17px 25px 17px 45px;
            
            &:hover:before, &-plus:before  {
    left: 20px;
    top: 20px;
            }



            
            .half, span.exp,  span.vacancy-name, span.salary {
                float: none;
                width: 100%;
                 display: block;
            }
        }
        
        .accordion-content {
            .half {
                padding: 0px 25px;
                     width: 100%; 
     float: none; 
            }
    }
    }
    .menu-fixed {
        display: none !important;
    }
    
    .other-news { 
        h1 {
            margin-bottom: 25px;
        }
        .item {
    width: 100%;
    margin-bottom: 35px;
            

                img {
                    width: 100%;
    height: auto;
                

            }
            
}
        }
    
        .news-page-item {
        .news-item {
            img {
                    width: 100%;
    height: auto;
                

            }
            h1 {
            margin-bottom: 0;
        }
        }
    }

}