@import '../var';
@media only screen and (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 50.0%;
    }
    .fixed-wrapper {
        width: 320px;
    }
    .fixed {
        width: 300px;
    }
    header {
        .logo {
            height: 60px;
            width: 65px;
        }
        .btn {
            padding: 10px 10px;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: 300;
            order: 1;
        }
        .lang,
        nav {
            display: none;
        }
        a.toggle-button {
            display: block;
            order: 2;
        }
    }
    .content {
        padding: 20px 0;
        .fixed {
            width: 100%;
        }
    }
    .slider {
        .item {
            height: 525px;
            padding-top: 50px;
            h1 {
                width: 100%;
                margin-bottom: 20px;
                font-size: 4.0rem;
                font-weight: 300;
                line-height: normal;
                color: white;
            }
            p {
                width: 100%;
                margin-bottom: 30px;
                font-size: 2.5rem;
            }
            .btn {
                padding: 7px 0;
                font-size: 2.0rem;
                line-height: 30px;
                width: 100%;
                text-align: center;
            }
        }
        .owl-dots {
            bottom: 100px;
        }
        .switcher label {
            min-width: 150px;
            z-index: 33;
            bottom: 30px;
        }
    }
    .small-slider {
        padding: 12px 0;
    }
    .tab-block {
        input:checked + label {
            font-size: 2.2rem;
        }
        label {
            font-size: 2.3rem;
            padding: 5px 15px;
        }
    }
    .news-item {
        h1 {
            width: 100%;
        }
        a {
            width: 100%;
            font-size: 1.8rem;
        }
        img {
            width: 100%;
            height: auto;
        }
        a>img {
            width: 100%;
            height: auto;
            //            display: block;
            margin: 0 auto 20px auto;
        }
        p.text {
            font-size: 1.8rem;
        }
    }
    .subscribe-block {
        justify-content: flex-end;
        flex-wrap: wrap;
        &>a {
            margin: 0 auto 25px auto;
            text-decoration: underline;
            font-size: 1.5rem;
            border: none;
        }
    }
    .subscribe {
        padding: 25px;
        width: 100%;
        form {
            input {
                margin-bottom: 10px;
                width: 100%;
            }
            a {
                width: 100%;
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
    .banner-block {
        display: none;
        img {
            width: 200px;
            height: 250px;
            margin-bottom: 20px;
        }
    }
    .news-item p.h1,
    .news-page .news-item h1,
    .search-results .news-item h1 {
        font-size: 2.2rem;
    }
    .news ul > li {
        height: 680px;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
        &:nth-child(odd) {
            padding-left: 25px;
            padding-right: 25px;
            border-right: none;
        }
        &:nth-child(even) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    footer {
        .footer-contacts {
            float: none;
            flex-flow: column wrap;
            display: flex;
            .sub,
            .search {
                display: block;
                width: 100%;
                p,
                a:not(.btn) {
                    margin-bottom: 15px;
                    text-align: center;
                }
            }
            a.btn {
                width: 100%;
                margin-bottom: 15px;
            }
            .social {
               width: 100%;
    text-align: center;

            }
        }
        .footer-slider {
            float: none;
            width: 100%;
            //            margin-bottom: 45px;
            margin: 0 0 35px 0;
            .item {
                text-align: center;
                .city,
                .address,
                .phone {
                    font-size: 1.8rem;
                }
            }
        }
    }
    .date,
    .views {
        font-size: 1.6rem;
    }
    footer .small-right {
        right: 0;
    }
    footer .small-left {
        left: 0;
    }
    .nav-large {
        //    height: 30px;
        width: 30px;
        margin-top: -14px;
    }
    .nav-medium {
        margin-top: -12px;
        width: 20px;
    }
    .modal {
        padding: 15px 25px;
    }
    .modal-meeting {
        display: table;
        form {
            display: table-cell;
            vertical-align: middle;
            input,
            .name {
                width: 100%;
                margin-bottom: 15px;
            }
        }
        .half,
        input {
            width: 100%;
        }
        a.btn {
            margin-bottom: 15px;
            width: 100%;
        }
        .thanks p {
            margin-left: 110px;
            height: 600px;
        }
    }
    .modal-meeting,
    .modal-subscribe,
    .modal-search {
        width: 100%;
        height: 100%;
    }
    .modal-subscribe .subscribe,
    .modal-subscribe {
        ul > li a {
            width: 100%;
        }
        form input {
            width: 100%;
            //        margin-bottom: 15px;
        }
        a.btn {
            margin-top: 15px;
            float: right;
        }
    }
    
        .modal-resume {
        
        form {
            	span.btn {

   width: 100%;
   
            }
        a.btn-fill {
            width: 100%;
        }
        }

}
    .calendar-wrapper {
        width: 100%;
        position: fixed;
        left: 0 !important;
        top: 136px !important;
        //        left: 0 !important;
        .calendar {
            margin: 0 auto;
            td div.c-date:hover {
                line-height: 30px;
                height: 30px;
                width: 30px;
            }
            td .active,
            td .today:not(.active) {
                line-height: 30px;
                height: 30px;
                width: 30px;
                div.c-date {
                    &:hover {
                        line-height: 30px;
                        height: 30px;
                        width: 30px;
                    }
                }
            }
            .interval-half {
                width: 17px;
                height: 30px;
            }
            th,
            td {
                position: relative;
                height: 30px;
                width: 40px;
                vertical-align: middle;
                text-align: center;
                &:last-child,
                &:first-child {
                    width: 27px;
                }
            }
        }
    }
    .modal-search {
        .search-form {
            p {
                margin-top: 15px;
            }
        }
        .btn-search {
            padding: 15px 25px 15px 50px;
        }
        //        .search-calendar,
        //        .search-interval {
        //            right: 60px;
        //        }
        //        .btn {
        //            margin-top: -40px;
        //            padding: 10px 25px 10px 24px;
        //            height: 39px;
        //            float: right;
        //            &:before {
        //                left: 17px;
        //                top: 12px;
        //            }
        //        }
        //        ul {
        //            width: 100%;
        //        }
        //        form input {
        //            padding-right: 95px;
        //            width: 100%;
        //        }
    }
    .overlay:target + .modal {
        top: 0;
    }
    /* ABOUT */
    .header-img {
        background-position: 50%;
        p.h1,
        h1 {
            font-size: 4.0rem;
            line-height: 39px;
        }
        .btn {
            width: 100%;
        } 
    }
    .anchor-slider {
       display: none !important;
    }
    .anchor-mobile {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
    .about {
        .diplomas,
        .clients {
            float: none;
            width: 100%;
            .owl-item {
                text-align: center;
            }
        }
        .tab {
            padding: 25px;
        }
        .tab-block {
            label {
                line-height: 50px;
                width: 100%;
            }
            ul {
                width: 100%;
            }
            input:checked + label {
                line-height: 50px;
            }
        }
        .history .opinion {
            width: 100%;
        }
        .office-slider{

    margin-left: -10px;
    margin-right: -10px;
            img {
    width: auto;
    height: 100%;
            }
            .owl-item {
                    height: 343px;
            }
}
        
        .office-slider-inner .item-preview {

    width: 100px;
    height: 100px;

    }
    }
    /* CAREER */
    .header-img-career {
        background-position: 82%;
    }
    .career {
        .sent-resume {
            padding: 20px 25px;
            flex-direction: column;
            p {
                width: 100%;
            }
            .btn {
                margin-top: 20px;
                width: 100%;
                text-align: center;
            }
        }
        .tab-block {
            label {
                line-height: 50px;
                width: 100%;
            }
            ul {
                width: 100%;
            }
            input:checked + label {
                line-height: 50px;
            }
            .profession-list {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 15px 25px;
                background-color: white;
                a {
                    line-height: 16px;
                }
            }
        }
    }
    /* CONTACTS */
    .contacts .accordion {
        p.h1 {
            line-height: 25px;
        }
        top: 0;
        left: 0;
        width: 100%;
    }
    /* NEWS */
    .news-page,
    .search-results {
        .filter {
            float: left;
        }
        .top {
            padding-bottom: 25px;
        }
        .news-item {
            padding: 25px;
            img {
                width: 100%;
                height: auto;
            }
            .date,
            p.text {
                margin-bottom: 10px;
            }
        }
        .half {
            width: 100%;
        }
        .pagination {
            float: none;
            margin: 0;
            text-align: center;
            ul {
                display: inline-block;
                padding: 0;
            }
        }
    }
    .solutions {
        width: 100%;
        .header {
            margin-bottom: 20px;
        }
    }
    .portfolio-item {
        ul.problems-list {
            width: 100%;
        }
        .problems {
            flex-flow: row wrap;
        }
    }
    .appointment {
        padding: 15px;
        .btn {
            width: 100%;
        }
    }
    .other-cases .card {
        width: 100%;
    }
    /* PORTFOLIO */
    .portfolio,
    .services {
        min-height: 850px;
        .choose-block {
            a {
                width: 100%;
                margin-bottom: 20px;
            }
            .slider-block {
                width: 100%;
            }
        }
        h1 {
            font-size: 4.0rem;
            line-height: 45px;
        }
    }
    .card {
        width: 100%;
    }
    /* PRESS */
    .press {
        .top {
            .top-right,
            .top-left,
            p.text {
                width: 100%;
            }
            .btn {
                margin-bottom: 10px;
            }
            .top-right {
                margin-top: 30px;
                .btn {
                    width: 100%;
                }
            }
        }
        .tab {
            .news-item img {
                width: 100%;
                height: auto;
            }
        }
        .video-slider .item {
            width: 100%;
            a.video {
                width: 100%;
                height: auto;
            }
        }
        .subscribe-block {
            justify-content: center
        }
    }
    /*.search-results*/
    .search-results {
        .search-block {
            flex-direction: column;
            form {
                input {
                    width: 100%;
                }
                ul {
                    width: 100%;
                }
            }
        }
        .filter>a {
            margin-left: 0;
            margin-right: 15px;
        }
    }
    .press {
        .top {
            .text {
                width: 100%;
                line-height: 18px;
            }
        }
        .video-slider {
            .item {
                p.h1 {
                    margin: 5px 0;
                }
            }
        }
    }
    .service-item .solutions {
        width: 100%;
    }
    .s-items.flex-wrapper {
        flex-wrap: wrap;
    }
    .news-page-item {
        .news-item {
            h1 {
                width: 100%;
                line-height: 42px;
                margin-bottom: 0;
            }
            img {
                margin: 10px;
            }
        }
    }
    .other-news {
        padding: 25px;
        .item {
            width: 100%;
            margin-bottom: 25px;
            img {
                width: 100%;
                height: auto;
            }
        }
        p.h1 {
            margin-bottom: 25px;
        }
    }
    
     .career .accordion{ 
        a.panel {
            width: 100%;
            padding: 17px 25px 17px 45px;
            
            &:hover:before, &-plus:before  {
    left: 20px;
    top: 20px;
            }



            
            .half, span.exp,  span.vacancy-name, span.salary {
                float: none;
                width: 100%;
                 display: block;
            }
        }
        
        .accordion-content {
            .half {
                padding: 0px 25px;
                     width: 100%; 
     float: none; 
            }
    }
    }
    
    .menu-fixed {
        display: none!important;
    }
    
    
    
    
}