@import '../var';
@media only screen and (min-width: 768px + 1) and (max-width: 960px) {
    html {
        font-size: 47.0%;
    }
        .fixed-wrapper {
        width: 768px;
    }
    .fixed {
	width: 710px;
}
    header {
        .logo {
            height: 60px;
            width: 65px;
        }
        .btn {
            padding: 10px 10px;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: 300;
            order: 1;
        }
        .lang,
        nav {
            display: none;
        }
        a.toggle-button {
            display: block;
            order: 2;
        }
    }
    .slider {
        .item {
            height: 540px;
            padding-top: 50px;
            h1 {
                width: 100%;
                margin-bottom: 20px;
                font-size: 6.0rem;
                font-weight: 300;
                line-height: normal;
                color: white;
            }
            p {
                color: white;
                width: 700px;
                margin-bottom: 30px;
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 34px;
                height: 100px;
                overflow: hidden;
            }
            .btn {
                font-size: 2.0rem;
                
            }
        }
        .switcher label {
            min-width: 350px;
            bottom: 30px;
        }
        .owl-dots {
            bottom: 120px;
        }
    }
    
    .small-slider {
    padding: 12px 0;
}
    .news-item {
        a {
            width: 100%;
            font-size: 1.8rem;
        }
        a>img {
            width: 100%;
            height: auto;
            //            display: block;
            margin: 0 auto 20px auto;
        }
        p.text {
            font-size: 1.8rem;
        }
    }
    .subscribe-block {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .subscribe {
        width: 100%;
        form input {
            width: 480px;
        }
    }
    .banner-block {
        img {
            width: 150px;
            height: 200px;
        }
    }
    .news-item p.h1,
    .news-page .news-item h1,
    .search-results .news-item h1 {
        font-size: 2.2rem;
    }
    .news ul > li {
        height: 680px;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
    }
    footer {
        .footer-contacts {
            float: none;
            .social {
                float: right;
                p {
                    left: auto;
                    right: 0;
                }
            }
        }
        .footer-slider {
            float: none;
            width: 600px;
            margin-bottom: 45px;
            //    margin: 0 50px;
        }
    }
    .nav-left-white {
        left: 15px;
    }
    .nav-right-white {
        right: 15px;
    }
    .nav-large {
        //    height: 30px;
        width: 30px;
        margin-top: -14px;
    }
    .nav-medium {
        margin-top: -15px;
        width: 20px;
    }
    .nav-right-red {
        right: -30px;
    }
    .nav-left-red {
        left: -30px;
    }
    .modal-meeting {
        display: table;
        form {
            display: table-cell;
            vertical-align: middle;
        }
        .thanks p {
            margin-left: 110px;
            height: 600px;
        }
    }
    .modal-meeting,
    .modal-subscribe,
    .modal-search {
        width: 700px;
    }
    .modal-subscribe .subscribe {
        padding: 0;
        form input {
            width: 100%;
            //        margin-bottom: 15px;
        }
        a.btn {
            float: right;
        }
    }
    .modal-search {
        form input {

            //        margin-bottom: 15px;
        }
.btn-search {
    padding: 15px 25px 15px 50px;

        
        }
    }
    .menu-mobile {
        width: 50%;
    }
    .shift-left {
        left: -50% !important;
    }
    .about {
        .diplomas,
        .clients {
            margin-top: 50px;
            float: none;
            width: 100%;
        }
    }
    /* ABOUT */
    .header-img {
        background-position: 50%;
        p.h1,
        h1 {
            font-size: 6.0rem;
            line-height: 45px;
        }
    }
    .about {
        .tab {
            padding: 25px;
        }
        .tab-block {
            label {
                padding: 20px 25px;
                line-height: 25px;
                font-size: 1.9rem;
                //                width: 100%;
            }
            ul {
                //            width: 100%;
            }
            input:checked + label {
                padding: 20px 25px;
                line-height: 25px;
                font-size: 1.9rem;
            }
        }
        .team .item {
            width: 180px;
            min-height: 380px;
            //    padding: 15px 0;
            //    text-align: center;
            //    margin: 0 auto;
        }
    }
    /* CAREER */
    .header-img-career {
        background-position: 82%;
    }
    .career {
        .sent-resume {
            p {
                width: 70%;
            }
        }
        .tab-block {
            label {
                line-height: 25px;
                //                width: 100%;
                font-size: 2.0rem;
                padding: 13px 25px;
            }
            ul {
                //            width: 100%;
            }
            input:checked + label {
                line-height: 25px;
                font-size: 2.0rem
            }
            .profession-list {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 15px 50px;
                background-color: white;
            }
        }
    }
    /* NEWS */
    .news-page,
    .search-results {
        .top {
            padding-bottom: 25px;
        }
        .news-item {
            //            padding: 25px;
            &>img {
                width: 100%;
                height: auto;
            }
            .date,
            p.text {
                margin-bottom: 10px;
            }
        }
        .half {
            width: 100%;
        }
        .pagination {
            //            float: none;
            //            margin: 0;
            //            text-align: center;
            ul {
                display: inline-block;
                padding: 0;
            }
        }
    }
    .show-all {
        float: right;
    }
    /* PORTFOLIO */
    .portfolio {
        .choose-block {
            a {
                margin-bottom: 20px;
            }
            .choose-slider a {
                width: 100%;
            }
            .slider-block {
                width: 100%;
            }
        }
        h1 {
            font-size: 6.0rem;
            line-height: 45px;
        }
    }
    .card {
        width: 100%;
    }
    /* PRESS */
    .press {
        .top {
            .top-right,
            .top-left,
            p.text {
                width: 100%;
            }
            .btn {
                margin-bottom: 10px;
            }
            .top-right {
                margin-top: 30px;
            }
        }
        .tab {
            .news-item img {
                width: 100%;
                height: auto;
            }
        }
        .video-slider .item {
            width: 100%;
            a.video {
                width: 100%;
                height: auto;
            }
        }
        .subscribe-block {
            justify-content: center
        }
        .tab-block {
            label {
                padding: 20px 25px;
                line-height: 25px;
                //                    font-size: 1.9rem;
                //                width: 100%;
            }
            ul {
                //            width: 100%;
            }
            input:checked + label {
                padding: 20px 25px;
                line-height: 25px;
                //                    font-size: 1.9rem;
            }
        }
    }
    
    
    
/*.search-results*/

.search-results {
    .search-block {
        flex-direction: column;
        form {
            input {
                width: 100%;
            }
            ul {
                width: 85%;
            }
            .btn {
                margin-top: -40px;
                
                &:before {
                left: 18px;
                top: 11px;
            }
            }
            
        }
    }
    .filter {

    align-self: flex-end;
            
        &>a {
        margin-left: 0;
        margin-right: 15px;
        }
    }
    }
    
    .solutions {
        width: 95%;
        }
    .service-item {
        .solutions {
        width: 100%;
        }
        .header {
            margin-bottom: 20px;
        }
    }
    .s-items.flex-wrapper {
        flex-wrap: wrap;
    }
    .weDo {

        width: 100%}
    
    .portfolio-item {
        ul.problems-list {
            width: 100%;
        }
        .problems {
            flex-flow: row wrap;
        }
    }

    .other-cases .card {
        width: 100%;
    }
    
        .career .accordion{ 
        a.panel {
            width: 100%;
            padding: 17px 25px 17px 45px;
            
            &:hover:before, &-plus:before  {
    left: 20px;
    top: 20px;
            }



            
            .half, span.exp,  span.vacancy-name, span.salary {
                float: none;
                width: 100%;
                 display: block;
            }
        }
        
        .accordion-content {
            .half {
                padding: 0px 25px;
                     width: 100%; 
     float: none; 
            }
    }
    }
   .other-news { 
        h1 {
            margin-bottom: 25px;
        }
       p.h1 {
           margin-bottom: 10px;
       }
        .item {
    width: 100%;
    margin-bottom: 40px;
            

                img {
                    width: 100%;
    height: auto;
                

            }
            
}
        }
    
        .news-page-item {
        .news-item {
            img {
                    width: 100%;
    height: auto;
                

            }
            h1 {
            margin-bottom: 0;
        }
        }
    }

    
    

    
}
