@media only screen and (min-device-width: 1480px + 1) {
    
.nav-left-white {
    left: 25px;
}
    
    .nav-right-white {
    right: 25px;
}
    
.nav-right-red {
        right: -10px;
    }
    .nav-left-red {
        left: -10px;
    }
    .small-right {
        right: -30px;
    }
    .small-left {
        left: -30px;
    }
    
    }