@import '../var';
@media only screen and (min-width: 960px + 1) and (max-width: 1200px) {
    html {
        font-size: 47.0%;
    }
    .fixed-wrapper {
        width: 960px;
    }
    .fixed {
        width: 880px;
    }
    header {
        .logo {
            height: 60px;
            width: 65px;
        }
        .btn {
            padding: 10px 10px;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: 300;
        }
        .lang,
        nav {
            a {
                line-height: 80px;
            }
        }
        a.toggle-button {
            display: none;
        }
    }
    .slider {
        .item {
            height: 540px;
            padding-top: 50px;
            h1 {
                width: 70%;
                margin-bottom: 20px;
                font-size: 6.0rem;
                font-weight: 300;
                line-height: normal;
                color: white;
            }
            p {
                margin-bottom: 30px;
            }
            .btn {
                font-size: 2.0rem;
                //                line-height: 24px;
            }
        }
        .switcher label {
            min-width: 200px;
            bottom: 30px;
        }
        .owl-dots {
            bottom: 120px;
        }
    }
    .small-slider {
        padding: 20px 0;
    }
    .news-item {
        a {
            width: 100%;
            font-size: 1.8rem;
        }
        a>img {
            width: 100%;
            height: auto;
            margin: 0 auto 20px auto;
        }
        p.text {
            font-size: 1.8rem;
        }
    }
    .subscribe {
        width: 50%;
        form input {
            width: 220px;
        }
    }
    .banner-block {
        img {
            width: 200px;
            height: 250px;
        }
    }
    .news-item p.h1,
    .news-page .news-item h1,
    .search-results .news-item h1 {
        font-size: 2.2rem;
    }
    .news ul > li {
        //        height: 620px;
    }
    footer {
        .footer-slider {
            width: 40%;
        }
        .social p {
            right: 5px;
        }
    }
    .nav-left-white {
        left: 15px;
    }
    .nav-right-white {
        right: 15px;
    }
    .nav-large {
        width: 24px;
        margin-top: -12px;
    }
    .nav-medium {
        margin-top: -15px;
        width: 20px;
    }
    .nav-right-red {
        right: -14px;
    }
    .nav-left-red {
        left: -14px;
    }
    .modal-meeting {
        display: table;
        form {
            display: table-cell;
            vertical-align: middle;
        }
        .thanks p {
            margin-left: 110px;
            height: 600px;
        }
    }
    .modal-meeting,
    .modal-subscribe,
    .modal-search {
        width: 700px;
    }
    .modal-subscribe .subscribe {
        padding: 0;
        form input {
            width: 100%;
        }
        a.btn {
            float: right;
        }
    }
    .btn-search {
        padding: 15px 25px 15px 50px;
    }
    /* ABOUT */
    .header-img {
        background-position: 50%;
        p.h1,
        h1 {
            font-size: 6.0rem;
            line-height: 45px;
        }
    }
    .about {
        .tab {
            padding: 25px;
        }
        .tab-block {
            label {
                padding: 20px 25px;
                line-height: 25px;
                font-size: 2.2rem;
                //                width: 100%;
            }
            ul {
                //            width: 100%;
            }
            input:checked + label {
                padding: 20px 25px;
                line-height: 25px;
                font-size: 2.2rem;
            }
        }
        .team .item {
            width: 200px;
            min-height: 380px;
        }
    }
    /* CAREER */
    .header-img-career {
        background-position: 82%;
    }
    .career {
        .sent-resume {
            p {
                width: 70%;
            }
        }
        .tab-block {
            label {
                line-height: 25px;
                //                width: 100%;
                font-size: 2.0rem;
                padding: 13px 25px;
            }
            ul {
                //            width: 100%;
            }
            input:checked + label {
                line-height: 25px;
                font-size: 2.0rem
            }
            .profession-list {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 15px 50px;
                background-color: white;
            }
        }
    }
    /* NEWS */
    .news-page,
    .search-results {
        .top {
            padding-bottom: 25px;
        }
        .news-item {
            //            padding: 25px;
            &>img {
                width: 50%;
                height: auto;
            }
            .date,
            p.text {
                margin-bottom: 10px;
            }
        }
        .pagination {
            ul {
                padding: 0 40px
            }
        }
    }
    /* PORTFOLIO */
    .portfolio {
        .choose-block {
            a {
                margin-bottom: 20px;
            }
            .choose-slider a {
                width: 100%;
            }
            .slider-block {
                width: 100%;
            }
        }
        h1 {
            font-size: 6.0rem;
            line-height: 45px;
        }
    }
    .card {
        width: 100%;
    }
    /* PRESS */
    .press {
        .top {
            .top-right,
            .top-left,
            p.text {
                width: 100%;
            }
            .btn {
                margin-bottom: 10px;
            }
            .top-right {
                margin-top: 30px;
            }
            .subscribe {
                input {
                    width: 660px;
                }
            }
        }
        .tab {
            .news-item img {
                width: 85%;
                height: auto;
            }
        }
        .video-slider .item {
            width: 100%;
            a.video {
                width: 100%;
                height: auto;
            }
            .date,
            .views {
                margin-right: 13px;
            }
        }
        //        .subscribe-block {
        //            justify-content: center;
        //        }
        .tab-block {
            label {
                padding: 20px 25px;
                line-height: 25px;
                //                    font-size: 1.9rem;
                //                width: 100%;
            }
            ul {
                //            width: 100%;
            }
            input:checked + label {
                padding: 20px 25px;
                line-height: 25px;
                //                    font-size: 1.9rem;
            }
        }
    }
    /*.search-results*/
    .search-results {
        .search-block {
            form {
                width: 70%;
                input {
                    width: 100%;
                }
                ul {
                    width: 517px;
                }
                .btn {
                    margin-top: -40px;
                    width: auto;
                    &:before {
                        left: 18px;
                        top: 11px;
                    }
                }
            }
        }
        .filter {
            &>a {
                margin-left: 0;
                margin-right: 15px;
            }
        }
    }
    .solutions {
        width: 95%;
    }
    .service-item {
        .solutions {
            width: 100%;
        }
        .header {
            margin-bottom: 20px;
        }
    }
    .s-items.flex-wrapper {
        align-items: flex-start;
    }
    .weDo {
        width: 100%
    }
    .other-news {
        p.h1 {
            margin-bottom: 10px;
        }
        .item {
            width: 250px;
            margin-bottom: 35px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .news-page-item {
        .news-item {

            h1 {
                margin-bottom: 10px;
            }
            img {
                width: 45%;
    height: auto;
            }
        }
    }
}